<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.logistics.api.nan.mapper.NanMapper">
	<select id="selectIfstksq" resultType="String">
		/* selectIfstksq */
		SELECT FN_IF_IFSTKSQ() AS ifstksq FROM DUAL
	</select>

	<insert id="insertNanStockInformation" parameterType="com.logistics.api.nan.vo.NanStockDTO">
		/* insertNanStockInformation */
		INSERT INTO IFSTK10R
		(
			COMPKEY, IFSTKSQ, brandCode, brandName, mainCode
		  , productCode, productName, colorCode, colorName, sizeCode
		  , sizeName, barcode, wareHousePCode, wareHousePName, wareHouseLCode
		  , wareHouseLName, lot, expirationDate, stockQuantity, deliveryWaitQuantity
		  , availableStockQuantity, location, IFRCVUR 
		)
		VALUES
		(
			#{compkey}, #{ifstksq}, #{brandCode}, #{brandName}, #{mainCode}
		  , #{productCode}, #{productName}, #{colorCode}, #{colorName}, #{sizeCode}
		  , #{sizeName}, #{barcode}, #{wareHousePCode}, #{wareHousePName}, #{wareHouseLCode}
		  , #{wareHouseLName}, #{lot}, #{expirationDate}, #{stockQuantity}, #{deliveryWaitQuantity}
		  , #{availableStockQuantity}, #{location}, #{ifrcvur} 
		) 
	</insert>
</mapper>