<!-- 	/*  OMI04 - OMI04 조정현황조회
	*   최초 생성일시	: 2023-12-12 11:30
	*   최초 생성자	: 오권식 
	*   설명			: OMI04 조정지시된 상품 조회
	*/
 -->
 
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragments-mainContent">
	<div class="tab-contents">
		<div class="location"></div>
		<div class="search-conditions con-box">
			<div class="setting-grid">
				<label for="inputGroupSelect01" class="setting-grid-title ic-title-nece">[[#{search.whnamlc}]]</label>
				<div class="setting-grid-content">
					<div class="input-group">
						<select id="omi04_warekey" name="omi04_warekey"
							data-cb-select="WH01" data-cb-variable="warekey"
							data-cb-val="combovl" data-cb-name="combonm"
							data-cb-url="/md/common/organization/warehouse-user"></select>
					</div>
				</div>
				<!-- 230821 SMA 추가 -->
				<label for="inputGroupSelect01" class="setting-grid-title ic-title-nece">[[#{search.ownamlc}]]</label>
				<div class="setting-grid-content">
					<div class="input-group">
						<select id="omi04_ownerky" name="omi04_ownerky"
							data-cb-val="combovl" data-cb-name="combonm"
							data-cb-url="/md/common/partner/owner" data-cb-select=""
							data-cb-variable="ownerkyList">
						</select>
					</div>
				</div>

				<label class="setting-grid-title ic-title-nece">[[#{om.omi04.oeinsdt}]]</label>
				<div class="setting-grid-content">
					<div class="input-wrapper">
						<input type="date" max="2999-12-31" id="omi04_fromOeinsdt"
							onkeyup="setInputDateDel(this)" /> <span>~</span> 
						<input type="date" max="2999-12-31" id="omi04_toOeinsdt"
							onkeyup="setInputDateDel(this)" />
					</div>
				</div>
				<!-- 230821 SMA 추가 -->
				<label for="inputGroupSelect02" class="setting-grid-title">[[#{om.omi01.skumkey}]]</label>
				<div class="setting-grid-content">
					<div class="input-wrapper">
						<input type="text" th:placeholder="${#messages.msg('om.omr.skumkey')}"  id="omi04_skumkey" name="omi04_skumkey" />
					</div>
				</div>
				<label for="inputGroupSelect01" class="setting-grid-title">[[#{om.omi01.skudesc}]]</label>
				<div class="setting-grid-content">
					<div class="input-wrapper">
						<input type="text" th:placeholder="${#messages.msg('om.omr.skudesc')}" id="omi04_skudesc" name="omi04_skudesc" />
					</div>
				</div>

				<label for="inputGroupSelect02" class="setting-grid-title">[[#{om.omi04.oeinsst}]]</label>
				<div class="setting-grid-content">
					<div class="input-check-group" id="omi04_oeinsstCheckbox"></div>
				</div>
			</div>
			<div class="search-btn-group">
				<button type="button" class="btn-search btn-navy btn-green"
					id="omi04_btnSearch">
					<img />[[#{bt.search}]]
				</button>
				<button type="button" class="btn-clear btn-white"
					id="omi04_btnReset">
					<img />[[#{bt.reset}]]
				</button>
			</div>
		</div>
		<div class="search-list">
			<div class="list-top">
				<div class="list-title ic-title-mark">
					<span th:text="${gnatitle}"></span>
				</div>
			</div>
			<div class="list-grid-wrapper con-box">
				<div id="omi04Grid"></div>
			</div>
		</div>
	</div>
	<script>
      $(function () {
        const pageId = "omi04";
        let omi04GridObject;
        let initData;

        let omi04Warekey;
        let omi04Ownerky;
        
        const omi04OeinsstFrom = document.querySelector("#omi04_fromOeinsdt");
        const omi04OeinsstTo = document.querySelector("#omi04_toOeinsdt");
        
        omi04OeinsstFrom.value = moment().subtract(1, "d").format("YYYY-MM-DD"); // 하루전
        omi04OeinsstTo.value = moment().format("YYYY-MM-DD"); // 오늘

        //============================================================
        //조정 전체 조회 컬럼 정의
        //============================================================
        const omi04GridCm = [
          {
            title: "[[#{om.omi01.rowkey}]]",
            dataType: "string",
            dataIndx: "rowkey",
            hidden: true,
            editable: false
          },
          {
            title: "[[#{om.omi04.oeadjky}]]",
            dataType: "string",
            dataIndx: "oeadjky",
            hidden: true,
            editable: false
          }, // 물류오더 문서번호
          {
            title: "[[#{om.omi04.oeadjit}]]",
            dataType: "string",
            dataIndx: "oeadjit",
            hidden: true,
            editable: false
          }, // 물류오더 문서아이템
          {
            title: "[[#{om.omi04.stockky}]]",
            dataType: "string",
            dataIndx: "stockky",
            hidden: true,
            editable: false
          }, // 재고키
          {
            title: "[[#{om.omi01.warekey}]]",
            dataType: "string",
            dataIndx: "warekey",
            editable: false
          }, //창고명
          {
            title: "[[#{om.omi01.ownerky}]]",
            dataType: "string",
            dataIndx: "ownerky",
            editable: false
          }, //화주명
          {
            title: "[[#{om.omi01.skumkey}]]",
            dataType: "string",
            dataIndx: "skumkey",
            editable: false
          }, // 부품코드
          {
            title: "[[#{om.omi01.skudesc}]]",
            dataType: "string",
            dataIndx: "skudesc",
            editable: false
          }, //부품명
          {
            title: "[[#{om.omi01.areakey}]]",
            dataType: "string",
            dataIndx: "areakey",
            editable: false
          }, //area Key
          {
            title: "[[#{om.omi01.zonekey}]]",
            dataType: "string",
            dataIndx: "zonekey",
            editable: false
          }, //zone Key
          {
            title: "[[#{om.omi01.locakey}]]",
            dataType: "string",
            dataIndx: "locakey",
            editable: false
          }, //Location Key
          {
            title: "[[#{om.omi02.rtodqty}]]",
            dataType: "string",
            dataIndx: "rtodqty",
            editable: false,
            format: "#,###"
          }, //조정지시수량
          {
            title: "[[#{om.omi02.rtcfqty}]]",
            dataType: "string",
            dataIndx: "rtcfqty",
            editable: false,
            format: "#,###"
          }, //조정완료수량
          {
            title: "[[#{om.omi02.atkstat}]]",
            dataType: "string",
            dataIndx: "atkstat",
            editable: false
          }, //조정지시 재고상태
          {
            title: "[[#{om.omi04.oeinsst}]]",
            dataType: "string",
            dataIndx: "oeinsst",
            editable: false
          }, //조정현황
          {
            title: "[[#{om.omi02.rsncode}]]",
            dataType: "string",
            dataIndx: "rsncode",
            editable: false
          }, //사유코드
          {
            title: "[[#{om.omi02.adjsrmk}]]",
            dataType: "string",
            dataIndx: "adjsrmk",
            editable: false
          }, //조정 사유
          {
            title: "[[#{om.omi01.stotqty}]]",
            dataType: "integer",
            dataIndx: "stotqty",
            editable: false, // 총재고 수량
            summary: { type: "sum" },
            format: "#,###"
          },
          {
            title: "[[#{om.omi01.sallqty}]]",
            dataType: "integer",
            dataIndx: "sallqty",
            editable: false, //할당 수량
            summary: { type: "sum" },
            format: "#,###"
          },
          {
            title: "[[#{om.omi01.sinbqty}]]",
            dataType: "integer",
            dataIndx: "sinbqty",
            editable: false, //입고중 수량
            summary: { type: "sum" },
            format: "#,###"
          },
          {
            title: "[[#{om.omi02.soubqty}]]",
            dataType: "integer",
            dataIndx: "soubqty",
            editable: false, //출고중 수량
            summary: { type: "sum" },
            format: "#,###"
          },
          {
            title: "[[#{om.omi01.sbloqty}]]",
            dataType: "integer",
            dataIndx: "sbloqty",
            editable: false, //블락 수량
            summary: { type: "sum" },
            format: "#,###"
          },
          {
            title: "[[#{om.omi01.stkstat}]]",
            dataType: "String",
            dataIndx: "stkstat",
            editable: false
          }, //재고상태
          {
            title: "[[#{om.omi02.suomkey}]]",
            dataType: "String",
            dataIndx: "suomkey",
            editable: false
          }, //단위
          {
            title: "[[#{om.omi04.oeinsdt}]]",
            dataType: "String",
            dataIndx: "oeinsdt",
            editable: false
          }, //조정지시일자
          {
            title: "[[#{om.omi04.oeinstm}]]",
            dataType: "String",
            dataIndx: "oeinstm",
            editable: false
          }, //조정지시시간
        ];
        omi04GridObject = new GridUtil(
          omi04GridCm,
          "[[${gprogrid}]]",
          "omi04Grid"
        );
        omi04GridObject.setFind();
        
        omi04GridObject.setCreate(async function(event, ui){
        	await _commonInit();
        	
			if(!('[[${userattr.ownerky}]]')) { 													//3PL ROLE 접근 시 전체 option 태그 삽입.
				const html = '<option value="" selected>[[#{om.omr.all}]]</option>';
				document.querySelector('#omi04_ownerky').insertAdjacentHTML('afterbegin', html); 
				$('#omi04_ownerky').pqSelect({ deselect : false }); 
			}
        	
            omi01Warekey = document.querySelector('#omi04_warekey').value;
    		omi01Ownerky = document.querySelector('#omi04_ownerky').value;	
    		
    
            omi04Warekey = document.querySelector('#omi04_warekey').value;
    		omi04Ownerky = document.querySelector('#omi04_ownerky').value;		
    		
    		// 231005 SMA 수정 -> 화주 로그인 관련 수정 요청
/*     		 $('#omi04_ownerky').pqSelect().on('change', async function(){ 
    			const grid = omi04GridObject.getGrid();	
    			if(grid.pdata.length) {
    				if(!confirm('[[#{ms.listViewRollback}]]')){
    					document.querySelector('#omi04_ownerky').value = omi04Ownerky;
    					$('#omi04_ownerky').pqSelect('refreshData');
    					return;
    				}
    				grid.option('dataModel', { data: [] });
    				grid.refreshDataAndView();
    			}
    			omi04Ownerky = document.querySelector('#omi04_ownerky').value;
    			//initList.skuwcList = await getSkuwcList();
    		 }); */
    		
        });
        omi04GridObject.open();

        //페이지 로딩 후 1회 호출 230925 테스트 이후 다시 제거
        getAdjustmentList();

        //============================================================
        //영역 검색 버튼 이벤트
        //============================================================
        $("#" + pageId + "_btnSearch").click(async function () {
          await searchOmi04List();

          if (!omi04GridObject.getGrid().pdata.length) {
            //alert("[[#{ms.getDataZero}]]");
            omi04GridObject.getGrid().option("dataModel", { data: [] });
            omi04GridObject.getGrid().refreshDataAndView();
          }
        });

        async function searchOmi04List() {
          const grid = pq.grid('#omi04Grid')
          //저장버튼클릭시 toOeinsdt가 fromOeinsdt 과거일때 벨리데이션
          const fromOeinsdt = $("#" + pageId + "_fromOeinsdt").val();
          const toOeinsdt = $("#" + pageId + "_toOeinsdt").val();

          if (fromOeinsdt > toOeinsdt) {
            alert("날짜 정확입력"); // 문구 수정하기!
            $("#" + pageId + "_fromOeinsdt").focus();
            return;
          }

          const omi04Param = {
            skumkey: $("#" + pageId + "_skumkey").val(),
            skudesc: $("#" + pageId + "_skudesc").val(),
            warekey: $("#" + pageId + "_warekey").val(),
            ownerky: $("#" + pageId + "_ownerky").val(),
            fromOeinsdt: formatDate($("#" + pageId + "_fromOeinsdt").val()),
            toOeinsdt: formatDate($("#" + pageId + "_toOeinsdt").val()),
            oeinsst: $("input[name='omi04_oeinsst']:checked")
              .map(function () {
                return $(this).val();
              })
              .get(),
          };
			
          grid.showLoading();
          const response = await fetchUtil(
            "GET",
            "/om/inventory/omi04/grids/1",
            omi04Param
          );
          initData = await response.json();

          grid.hideLoading();
          omi04GridObject.searchList(initData.oeadjiList);
        }
        //============================================================
        //초기화 버튼 클릭 시 검색 조건 초기화
        //============================================================
        $("#" + pageId + "_btnReset").click(function () {
          $("#" + pageId + "_warekey").prop("selectedIndex", 0);
          $("#" + pageId + "_ownerky").prop("selectedIndex", 0);
          $('#' + pageId + '_ownerky').pqSelect('refreshData');
          $("#" + pageId + "_skudesc").val("");
          $("#" + pageId + "_skumkey").val("");
          $("#" + pageId + "_toOeinsdt").val(moment().format("YYYY-MM-DD")); // 한달 전
          $("#" + pageId + "_fromOeinsdt").val(
        	moment().subtract(1, "d").format("YYYY-MM-DD")
          ); // 오늘

          document
            .querySelectorAll('div[id*="omi04_"].input-check-group input')
            .forEach(function (element) {
              element.checked = element.id || element.disabled ? true : false;
            });

          omi04GridObject.searchList([]);
        });

        //============================================================
        //날짜 -빼주는 함수
        //============================================================
        function formatDate(dateString) {
          return dateString.replace(/-/g, "");
        }
        //================================
        //검색날짜 벨리데이션
        //================================
        //230927 SMA 추가
        //검색조건 수주일자 input 클릭시 일자 선택 제한
        $("#omi04_fromOeinsdt , #omi04_toOeinsdt").on("click", function () {
          //수주일자 from 최대 일자 선택
          $("#omi04_fromOeinsdt").attr("max", omi04OeinsstTo.value);

          //수주일자 to 최소 일자 선택
          $("#omi04_toOeinsdt").attr("min", omi04OeinsstFrom.value);
        });

       
        //================================
        //조정현황조회 값 불러오기
        //================================
        async function getAdjustmentList(param) {
          //230927 통합테스트 반영 자동조회값 수정
          param = {
        		  fromOeinsdt: null,
        		  toOeinsdt: null,
          };
          const response = await fetchUtil(
            "GET",
            "/om/inventory/omi04/grids/1",
            param
          );
          initData = await response.json();
          await setCheckboxByUsertyp("oeinsst");
          
          omi04GridObject.searchList(initData.oeadjiList);
        }

        /* 230821 체크박스 변경으로 인해 SMA 추가 */
        async function setCheckboxByUsertyp(columnName) {

          let html = "";
          for (const column of initData[columnName + "List"]) {
            if (column.combovl === "CAN") {
              continue;
            }

            html += '<label class="check-box">';
            html +=
              '<input type="checkbox" name="omi04_' +
              columnName +
              '" value="' +
              column.combovl +
              '">';
            html += "<span>" + column.combonm + "</span></label>";
          }
          document
            .querySelector("#" + pageId + "_" + columnName + "Checkbox")
            .insertAdjacentHTML("beforeend", html);

          //3PL, 화주 공동화면. 3PL과 화주에게 다른 doctype checkbox 노출. 화주 : 400 입고, 420 부품사입고만 조회 가능 / 3PL : 전체 조회 가능
          if (initData[columnName + "List"].length !== 1) {
            let allCheckHTML = '<label class="check-box">';
            allCheckHTML +=
              '<input type="checkbox" id="omi04_' +
              columnName +
              'AllCheck" name="omi04_' +
              columnName +
              '" value="">';
            allCheckHTML += "<span>전체</span></label>";
            document
              .querySelector("#" + pageId + "_" + columnName + "Checkbox")
              .insertAdjacentHTML("afterBegin", allCheckHTML);
            document.querySelector(
              "#omi04_" + columnName + "AllCheck"
            ).checked = true;
            checkboxEvent(columnName);
            return;
          }

          const columnObj = document.querySelector(
            'input[name="omi04_' + columnName + '"]'
          );
          columnObj.checked = true;
          columnObj.addEventListener("click", function (event) {
            event.preventDefault();
          });
        }

        //checkboxEvent. 전체 선택 시 나머지 체크박스 해제. 전체를 제외한 체크박스 모두 선택 시 전체 선택.
        function checkboxEvent(columnName) {
          document
            .querySelectorAll('input[name="omi04_' + columnName + '"]')
            .forEach(function (element) {
              element.addEventListener("change", function () {
                document.querySelector(
                  "#omi04_" + columnName + "AllCheck"
                ).checked = false;
                const checkedObjs = document.querySelectorAll(
                  'input[name="omi04_' + columnName + '"]:checked'
                );
                const notAllCheckObjs = document.querySelectorAll(
                  'input[name="omi04_' +
                    columnName +
                    '"]:not(#omi04_' +
                    columnName +
                    "AllCheck)"
                );
                if (
                  notAllCheckObjs.length === checkedObjs.length ||
                  element.id === "omi04_" + columnName + "AllCheck"
                ) {
                  document.querySelector(
                    "#omi04_" + columnName + "AllCheck"
                  ).checked = true;
                  for (const checkedObj of checkedObjs) {
                    checkedObj.checked = false;
                  }
                } else if (!checkedObjs.length) {
                  document.querySelector(
                    "#omi04_" + columnName + "AllCheck"
                  ).checked = true;
                }
              });
            });
        }
        /* 230821 체크박스 변경으로 인해 SMA 추가 */
      });
    </script>
</div>
</html>
