<!-- 	/*  OMR04 - OMR04 반출취소조회
	*   최초 생성일시	: 2023-12-12 11:30
	*   최초 생성자	: 안성민 
	*   설명			: OMR04 반출취소등록된 상품 조회
	*/
 -->
 
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragments-mainContent">
	<div class="tab-contents">
		<div class="location"></div>
		<div class="search-conditions con-box">
			<div class="setting-grid">
				<label for="omr04_warekey" class="setting-grid-title ic-title-nece">[[#{search.whnamlc}]]</label>
				<div class="setting-grid-content">
					<div class="input-group">
						<select id="omr04_warekey" name="omr04_warekey"
							data-cb-variable="warekey" data-cb-val="combovl"
							data-cb-name="combonm"
							data-cb-url="/md/common/organization/warehouse-user"></select>
					</div>
				</div>
				<label for="omr04_ownerkey" class="setting-grid-title ic-title-nece">[[#{search.ownamlc}]]</label>
				<div class="setting-grid-content">
					<div class="input-group">
						<select id="omr04_ownerky" name="omr04_ownerky"
							data-cb-variable="ownerky" data-cb-val="combovl"
							data-cb-name="combonm" data-cb-url="/md/common/partner/owner">
						</select>
					</div>
				</div>
				<label for="omr04_oeinsdt" class="setting-grid-title ic-title-nece">[[#{om.omr.oeinsdt}]]</label>
				<div class="setting-grid-content">
					<div class="input-wrapper">
						<input type="date" max="2999-12-31" id="omr04_oeinsdt_from"
							onkeyup="setInputDateDel(this)" /> <span>~</span> <input
							type="date" max="2999-12-31" id="omr04_oeinsdt_to"
							onkeyup="setInputDateDel(this)" />
					</div>
				</div>
				<label for="omr04_skumkey" class="setting-grid-title">[[#{om.omr.skumkey}]]</label>
				<div class="setting-grid-content">
					<div class="input-wrapper">
						<input type="text" th:placeholder="${#messages.msg('om.omr.skumkey')}" id="omr04_skumkey" name="omr04_skumkey">
					</div>
				</div>
				<label for="omr04_skudesc" class="setting-grid-title">[[#{om.omr.skudesc}]]</label>
				<div class="setting-grid-content">
					<div class="input-wrapper">
						<input type="text" th:placeholder="${#messages.msg('om.omr.skudesc')}" id="omr04_skudesc" name="omr04_skudesc">
					</div>
				</div>
				<label class="setting-grid-title">[[#{om.omr.recrsnm}]]</label>
				<div class="setting-grid-content">
					<div class="input-check-group" id="omr04_recrsnmCheckbox"></div>
				</div>
			</div>
			<div class="search-btn-group">
				<button type="button" class="btn-search btn-navy btn-green"
					id="omr04_btnSearch">
					<img>[[#{bt.search}]]
				</button>
				<button type="button" class="btn-clear btn-white"
					id="omr04_btnReset">
					<img>[[#{bt.reset}]]
				</button>
			</div>
		</div>
		<div class="search-list">
			<div class="list-top">
				<div class="list-title ic-title-mark">
					<span th:text="${gnatitle}"></span>
				</div>
			</div>
			<div class="list-grid-wrapper con-box">
				<div id="omr04_pqgrid" style="height: 400px"></div>
			</div>
		</div>
	</div>
	<script>
    $(function(){
        var pageId = 'omr04';
        
    	const omr04OeinsdtFrom = document.querySelector('#omr04_oeinsdt_from');
    	const omr04OeinsdtTo = document.querySelector('#omr04_oeinsdt_to');
    	//영업일자 세팅
    	//omr04OeinsdtFrom.value = moment().subtract(1,'M').format('YYYY-MM-DD');	//한달전
    	//omr04OeinsdtTo.value = moment().add(1, "d").format("YYYY-MM-DD");		//오늘 + 1일
    	omr04OeinsdtFrom.value = moment().subtract(1, "d").format("YYYY-MM-DD"); // 하루전
        omr04OeinsdtTo.value = moment().format("YYYY-MM-DD"); // 오늘
        
        //pqGrid ColModel Object
        let omr04GridColModel;

        //pqGrid Grid Object
        let omr04GridObject;
        let initData;
        let omr04Warekey;
        let omr04Ownerky;
        
        
        // 페이지 들어가면 하루치 데이터 보여주기 230925 테스트 이후 수정
         $(document).ready(function() {
        	 const initParam = {
        		        warekey: "", 
        		        ownerky: "", 
        		        skudesc: "", 
        		        skumkey: "", 
        		        oeinsdtFrom: null,
        		        oeinsdtTo: null,
        		    };

        	initOMRData(initParam);
        }); 

        
        $('#' + pageId + '_btnSearch').click(async function () {
            await searchOmr04List();
            
            if(!omr04GridObject.getGrid().pdata.length) {
      			//alert('[[#{ms.getDataZero}]]');
      			omr04GridObject.getGrid().option('dataModel', { data: [] });
      			omr04GridObject.getGrid().refreshDataAndView();
    	  	  }
          });

          $('#' + pageId + '_btnReset').click(function () {
            refreshOmr04List();
          });

          //pqGrid ColModel 객체
          omr04GridColModel = [
            {
              title: '',
              dataType: 'String',
              dataIndx: 'state',
              maxWidth: '30',
              maxHeight: '30',
              menuIcon: false,
              sortable: false,
              editor: false,
              cb: { all: false, header: true, check: 'Y', uncheck: 'N' },
            },
            {
              title: '[[#{om.omr.compkey}]]',
              dataType: 'string',
              dataIndx: 'compkey',
              hidden : true,
              editable: false,
            },
            {
              title: '[[#{om.omr.warekey}]]',
              dataType: 'string',
              dataIndx: 'warekey1',
              editable: false,
            },
            {
              title: '[[#{om.omr.ownerkey}]]',
              dataType: 'string',
              dataIndx: 'ownerky1',
              editable: false,
            },
            {
              title: '[[#{om.omr.oeretky}]]',
              dataType: 'string',
              dataIndx: 'oeretky',
              editable: false,
            },
            {
              title: '[[#{om.omr.skudesc}]]',
              dataType: 'string',
              dataIndx: 'skudesc',
              editable: false,
            },
            {
              title: '[[#{om.omr.skumkey}]]',
              dataType: 'string',
              dataIndx: 'skumkey',
              editable: false,
            },
            {
              title: '[[#{om.omr.stotqty}]]',
              dataType: 'integer',
              dataIndx: 'stotqty',
              editable: false,
              format: '#,###',
              hidden : true,
              summary: { type: 'sum' },
            },
            {
              title: '[[#{om.omr.oeinsdt}]]',
              dataType: 'date',
              dataIndx: 'oeinsdt',
              editable: false,
              format: 'yy-mm-dd',
            },
            {
              title: '[[#{om.oereti.oeinstm}]]',
              dataType: 'string',
              dataIndx: 'oeinstm',
              editable: false,
            },
            {
              title: '[[#{om.omr.stkstat}]]',
              dataType: 'string',
              dataIndx: 'stkstat1',
              editable: false,
            },
            {
              title: '[[#{om.oereti.recrscd}]]',
              dataType: 'string',
              dataIndx: 'recrscd',
              editable: false,
            },
            {
              title: '[[#{om.omr.recrsnm}]]',
              dataType: 'string',
              dataIndx: 'recrsnm',
              editable: false,
            },
            {
              title: '[[#{om.omr.suomkey}]]',
              dataType: 'string',
              dataIndx: 'suomkey',
              editable: false,
            },/* 
            {
              title: '[[#{om.omr.rsncode}]]',
              dataType: 'string',
              dataIndx: 'rsncode',
              editable: false,
              hidden: true,
            },
            {
              title: '[[#{om.omr.rsndesc}]]',
              dataType: 'string',
              dataIndx: 'rsndesc',
              editable: false,
              filter: {
                crules: [{ condition: 'begin' }],
              },
            }, */
            {
              title: '[[#{om.omr.rtodqty}]]',
              dataType: 'integer',
              dataIndx: 'rtodqty',
              align: 'right',
              editable: false,
              format: '#,###',
              summary: { type: 'sum' },
            },
            {
              title: '[[#{om.omr.areakey}]]',
              dataType: 'string',
              dataIndx: 'areanam',
              editable: false,
            },
            {
              title: '[[#{om.omr.zonekey}]]',
              dataType: 'string',
              dataIndx: 'zonenam',
              editable: false,
            },
            {
              title: '[[#{om.omr.locakey}]]',
              dataType: 'string',
              dataIndx: 'locanam',
              editable: false,
            },
            {
              title: '[[#{om.omr.creuser}]]',
              dataType: 'string',
              dataIndx: 'creuser',
              editable: false,
            },
            {
              title: '[[#{om.omr.lmodate}]]',
              dataType: 'date',
              dataIndx: 'lmodate',
              editable: false,
              format: 'yy-mm-dd',
            },
            {
              title: '[[#{om.omr.lmotime}]]',
              dataType: 'string',
              dataIndx: 'lmotime',
              editable: false,
              render: function () {
                return moment().format('HH:mm:ss');
              },
            },
            {
              title: '[[#{om.omr.lmouser}]]',
              dataType: 'string',
              dataIndx: 'lmouser',
              editable: false,
            },
            {
              title: '[[#{om.omr.updtchk}]]',
              dataType: 'integer',
              dataIndx: 'updtchk',
              editable: false,
            },
          ];
          
          //pqGrid 객체
          omr04GridObject = new GridUtil(
            omr04GridColModel,
            '[[${gprogrid}]]',
            pageId + '_pqgrid'
          );
          
          omr04GridObject.setFind();
            
            //============================================================
            // 체크박스 '전체' 다중선택 관려
            //============================================================
     	  $(document).ready(function() {
		  $("#omr04_recrsnm_usc, #omr04_recrsnm_amt").click(function() {
		    const uscChecked = $("#omr04_recrsnm_usc").is(":checked");
		    const amtChecked = $("#omr04_recrsnm_amt").is(":checked");
		    $("#omr04_recrsnm_all").prop("checked", uscChecked && amtChecked);
		  });
		
		  $("#omr04_recrsnm_all").click(function() {
		    const allChecked = $("#omr04_recrsnm_all").is(":checked");
		    $("#omr04_recrsnm_usc, #omr04_recrsnm_amt").prop("checked", allChecked);
		  });
		});

          omr04GridObject.setCreate(async function(event, ui){
          	await _commonInit();
          	
            omr04Warekey = document.querySelector('#omr04_warekey').value;
      		omr04Ownerky = document.querySelector('#omr04_ownerky').value;	
      		
      		// 20231018 화주로그인=화주 고정 옵션 수정
    		if(!('[[${userattr.ownerky}]]')) { 													//3PL ROLE 접근 시 전체 option 태그 삽입.
				const html = '<option value="" selected>[[#{om.omr.all}]]</option>';
				document.querySelector('#omr04_ownerky').insertAdjacentHTML('afterbegin', html); 
				$('#omr04_ownerky').pqSelect({ deselect : false }); 
			}
      	
/*       		 $('#omr04_ownerky').pqSelect().on('change', async function(){ 
      			const grid = omr04GridObject.getGrid();	
      			if(grid.pdata.length) {
      				if(!confirm('[[#{ms.listViewRollback}]]')){
      					document.querySelector('#omr04_ownerky').value = omr04Ownerky;
      					$('#omr04_ownerky').pqSelect('refreshData');
      					return;
      				}
      				grid.option('dataModel', { data: [] });
      				grid.refreshDataAndView();
      			}
      			omr04Ownerky = document.querySelector('#omr04_ownerky').value;
      			//initList.skuwcList = await getSkuwcList();
      		 });
      		 */
          });
          
          
          //pqGrid 이벤트발생시 validate 함수
          omr04GridObject.setBeforeValidate(function (event, ui) {
            if (
              ui.source != 'undo' &&
              (ui.source == 'edit' ||
                ui.source == 'paste' ||
                ui.source == 'checkbox')
            ) {
              let rownum = ui.updateList[0].rowIndx;
              this.updateRow({
                rowIndx: rownum,
                newRow: {
                  state: 'Y',
                },
                checkEditable: false,
              });
            }
          });

          //pqGrid 랜더링
          omr04GridObject.open();

          //============================================================
          //그리드 초기화 버튼 이벤트
          //============================================================
          function refreshOmr04List() {
          		 const selectedWarekey = $('#' + pageId + '_warekey').prop('selectedIndex', 0);
          		 const selectedOwnerky = $('#' + pageId + '_ownerky').prop('selectedIndex', 0);
          		$('#' + pageId + '_ownerky').pqSelect('refreshData');
  		         document.getElementById('omr04_skudesc').value = '';
  		         document.getElementById('omr04_skumkey').value = '';
  		         
  		       document
  	            .querySelectorAll('div[id*="omr04_"].input-check-group input')
  	            .forEach(function (element) {
  	              element.checked = element.id || element.disabled ? true : false;
  	            });
  		         
  		     	 //영업일자 세팅
  	          	 omr04OeinsdtFrom.value = moment().subtract(1, "d").format("YYYY-MM-DD");	//한달전
  	          	 omr04OeinsdtTo.value = moment().add(0, "d").format("YYYY-MM-DD");		//오늘 + 1일
  		         
  		         omr04GridObject.searchList([]);
          }
          
	      	//검색조건 수주일자 input 클릭시 일자 선택 제한
	      	$('#omr04_oeinsdt_from , #omr04_oeinsdt_to').on('click',function(){
	      		//수주일자 from 최대 일자 선택
	      		$('#omr04_oeinsdt_from').attr('max',omr04OeinsdtTo.value);
	      		
	      		//수주일자 to 최소 일자 선택 
	      		$('#omr04_oeinsdt_to').attr('min',omr04OeinsdtFrom.value);
	      	})
          
          async function initOMRData(param) {
      		let rData = await fetchUtil("", "/om/omr04/omr04Select.do", param);
      		initData = await rData.json();
              await setCheckboxByUsertyp('recrsnm');

              omr04GridObject.searchList(initData.omr04List);
            }
      	  
            //============================================================
            //영역 검색 버튼 이벤트
            //============================================================
            async function searchOmr04List() {
              const grid = pq.grid('#omr04_pqgrid');
              let param = {
                warekey: $('#omr04_warekey').val(),
                ownerky: $('#omr04_ownerky').val(),
                skudesc: $('#omr04_skudesc').val(),
                skumkey: $('#omr04_skumkey').val(),
                oeinsdtFrom : $('#omr04_oeinsdt_from').val(),
                oeinsdtTo : $('#omr04_oeinsdt_to').val(),
                recrsnm: $("input[name='omr04_recrsnm']:checked").map(function() {
                    return $(this).val();
                }).get(),
              };
              grid.showLoading();
              let rData = await fetchUtil("", "/om/omr04/omr04Select.do", param);
              initData = await rData.json();
              
              initData.omr04List.forEach((item, index) => {
            	    let matchingRecrsnm = initData.recrsnmList.find(recrsnm => recrsnm.combovl === item.recrscd);
            	    if (matchingRecrsnm) {
            	        initData.omr04List[index].recrscd = matchingRecrsnm.combonm;
            	    } else {
                        // combovl에 대응하는 combonm이 없는 경우
                        // 예를 들어, rsncode를 유지하거나 기본값으로 설정할 수 있습니다.
                        //initData.omr03List[index].rsncode = '기본값 또는 원래의 rsncode';
                    }
             });

              
              grid.hideLoading();
              omr04GridObject.searchList(initData.omr04List);
            }
            
            async function setCheckboxByUsertyp(columnName) {
                let html = "";
                for (const column of initData[columnName + "List"]) {
                  if (column.combovl === "CAN") {
                    continue;
                  }

                  html += '<label class="check-box">';
                  html +=
                    '<input type="checkbox" name="omr04_' +
                    columnName +
                    '" value="' +
                    column.combovl +
                    '">';
                  html += "<span>" + column.combonm + "</span></label>";
                }
                document
                  .querySelector("#" + pageId + '_' + columnName + "Checkbox")
                  .insertAdjacentHTML("beforeend", html);

                //3PL, 화주 공동화면. 3PL과 화주에게 다른 doctype checkbox 노출. 화주 : 400 입고, 420 부품사입고만 조회 가능 / 3PL : 전체 조회 가능
                if (initData[columnName + "List"].length !== 1) {
                  let allCheckHTML = '<label class="check-box">';
                  allCheckHTML +=
                    '<input type="checkbox" id="omr04_' +
                    columnName +
                    'AllCheck" name="omr04_' +
                    columnName +
                    '" value="">';
                  allCheckHTML += "<span>전체</span></label>";
                  document
                    .querySelector("#" + pageId + '_' + columnName + "Checkbox")
                    .insertAdjacentHTML("afterBegin", allCheckHTML);
                  document.querySelector(
                    "#omr04_" + columnName + "AllCheck"
                  ).checked = true;
                  checkboxEvent(columnName);
                  return;
                }

                const columnObj = document.querySelector(
                  'input[name="omr04_' + columnName + '"]'
                );
                columnObj.checked = true;
                columnObj.addEventListener("click", function (event) {
                  event.preventDefault();
                });
              }

              //checkboxEvent. 전체 선택 시 나머지 체크박스 해제. 전체를 제외한 체크박스 모두 선택 시 전체 선택.
              function checkboxEvent(columnName) {
                document
                  .querySelectorAll('input[name="omr04_' + columnName + '"]')
                  .forEach(function (element) {
                    element.addEventListener("change", function () {
                      document.querySelector(
                        "#omr04_" + columnName + "AllCheck"
                      ).checked = false;
                      const checkedObjs = document.querySelectorAll(
                        'input[name="omr04_' + columnName + '"]:checked'
                      );
                      const notAllCheckObjs = document.querySelectorAll(
                        'input[name="omr04_' +
                          columnName +
                          '"]:not(#omr04_' +
                          columnName +
                          "AllCheck)"
                      );
                      if (
                        notAllCheckObjs.length === checkedObjs.length ||
                        element.id ==="omr04_" + columnName + "AllCheck"
                      ) {
                        document.querySelector(
                          "#omr04_" + columnName + "AllCheck"
                        ).checked = true;
                        for (const checkedObj of checkedObjs) {
                          checkedObj.checked = false;
                        }
                      } else if (!checkedObjs.length) {
                        document.querySelector(
                          "#omr04_" + columnName + "AllCheck"
                        ).checked = true;
                      }
                    });
                  });
              }
    });
    


   



    </script>
	<!--  mainConten 종료 -->
</div>
</html>
