<div id="mainFooter" th:fragment="fragments-mainFooter">
	<!--  Footer 시작  -->
	<!--  Copyright 시작  -->
	<!-- <div class="pda-footer">Copyright © 스마트물류플랫폼 All right reserved.</div> -->
	<!--  Copyright 종료  -->

	<!-- Modal 공통 DIV start -->
	<!-- <div id="modalCommon"></div>
	<div id="modalsyu6"></div>
	<div id="modalsyu10"></div> -->

	<script>
		// $("#modalsyu6").load(rPath + '/main/modalLoad?gprogurl=/com/modal/syu6.html');
		// $("#modalsyu10").load(rPath + '/main/modalLoad?gprogurl=/com/modal/syu10.html');

	</script>

	<!--  Footer 종료  -->
</div>
