<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragments-mainContent">
	<div class="tab-contents">
		<div class="search-conditions con-box">
			<div class="setting-grid">
				<!-- 창고 -->
				<label for="bmb04Warekey" class="setting-grid-title ic-title-nece">[[#{bm.blgthd.warekey}]]</label>
				<div class="setting-grid-content">
					<div class="input-group">
						<select id="bmb04Warekey" name="bmb04Warekey"
								data-cb-val="combovl" data-cb-name="combonm"
								data-cb-url="/md/common/organization/warehouse-user"
								data-cb-select="" data-cb-variable="warekeyList">
						</select>
					</div>
				</div>
				<!-- 정산년월 -->
				<label class="setting-grid-title ic-title-nece">[[#{bm.blgthd.blhyymm}]]</label>
				<div class="setting-grid-content">
					<div class="input-wrapper">
						<input type="month" max="2999-12" id="bmb04BlhyymmFrom" onkeyup="setInputDateDel(this)"/>
						<span>~</span>
						<input type="month" max="2999-12" id="bmb04BlhyymmTo" onkeyup="setInputDateDel(this)"/>
					</div>
				</div>
				<!-- 정산문서 -->
				<label for="bmb04Blhdcky" class="setting-grid-title">[[#{bm.blgthd.blhdcky}]]</label>
				<div class="setting-grid-content">
					<div class="input-wrapper">
						<input type="text" th:placeholder="${#messages.msg('bm.blgthd.blhdcky')}" id="bmb04Blhdcky" name="bmb04Blhdcky"/>
					</div>
				</div>
				<!-- 정산상태 -->
				<label class="setting-grid-title" >[[#{bm.bmb04.blrstat}]]</label>
				<div class="setting-grid-content">
					<div class="radio-group" id="bmb04BlrstatDom">
						<input type="radio" id="bmb04BlrstatAll" name="bmb04Blrstat" value="ALL" checked="checked">
						<label for="bmb04BlrstatAll">[[#{ms.chooseAll}]]</label>
						<input type="radio" id="bmb04BlrstatAllLcvrfyn" name="bmb04Blrstat" value="LCVRFYN">
						<label for="bmb04BlrstatAllLcvrfyn">[[#{bm.bmb04.lcvrfyn}]]</label>
						<input type="radio" id="bmb04BlrstatAllLccnfyn" name="bmb04Blrstat" value="LCCNFYN">
						<label for="bmb04BlrstatAllLccnfyn">[[#{bm.bmb04.lccnfyn}]]</label>
					</div>
				</div>
	  		</div>
			<div class="search-btn-group">
				<button type="button" class="btn-search btn-navy btn-green" id="bmb04Search"><img>[[#{bt.search}]]</button>
				<button type="button" class="btn-clear btn-white" id="bmb04Reset"><img>[[#{bt.reset}]]</button>
			</div>
		</div>
		<div class="search-list">
			<div class="list-top">
				<div class="list-title ic-title-mark"><span th:text="${gnatitle}"></span></div>
				<div class="edit-btn-wrapper">
					<button class="btn-white" id="bmb04Receipt"><img class="ic-bt-print">[[#{bt.bm.receipt}]]</button>
				</div>
			</div>
			<!-- Head Grid -->
			<div class="search-list">
				<div class="list-grid-wrapper con-box">
					<div id="bmb04HeadPqgrid"></div>
				</div>
			</div>
			<!-- Item Grid -->
			<div class="search-list">
				<div class="list-grid-wrapper con-box">
					<div id="bmb04ItemPqgrid"></div>
				</div>
			</div>
			<!-- 로딩 이미지 부분 -->
			<div class="spinner" id="spinner">
			</div>
		</div>
	</div>
	<script>
	/*
	  ------------------------------------------
	  - 페이지명 : bmb04
	  - 최초생성자  : BM
	  - 최초생성일시 : 2023.10
	  - 설명 : 물류비정산내역조회
	  ------------------------------------------
	*/
	$(function () {
		//----------- 전역변수 ------------//
		const pageId = '[[${gprogrid}]]';
		let bmb04InitData;
		let bmb04Warekey;
		let bmb04HeadGridObject;
		let bmb04ItemGridObject;
		//----------- 전역변수 end ------------//

		//----------- 검색영역 Event ------------//
		$('#'+pageId+'BlhyymmFrom').val(moment().subtract(6, 'month').format('YYYY-MM')); //당월-6개월
		$('#'+pageId+'BlhyymmTo').val(moment().format('YYYY-MM')); //당월

		$('#'+pageId+'Search').click(function() {
			searchBmb04List();
		});

		// 초기화
		$('#'+pageId+'Reset').click(function(){
			resetSearchConditions(0, 6, 0); // 6달
			makeEmptyGrid(bmb04HeadGridObject);
			makeEmptyGrid(bmb04ItemGridObject);
		});
		//----------- 검색영역 Event end ------------//

		//----------- 기능버튼 Event ------------//
		// 출력물
		$('#'+pageId+'Receipt').click(async function() {
			const headGrid = bmb04HeadGridObject.getGrid();
			const headGridCheck = headGrid.Checkbox('[[#{common.grid.checkBoxName.state}]]').getCheckedNodes();

			if(!headGridCheck?.length){
				alert('[[#{ms.nodataForPrintOut}]]');
				return;
			}

			if(await confirm('[[#{ms.printout}]]')) {
				$('#spinner').css('display', '');
				const report = [];

				bmb04HeadGridObject.getGrid().showLoading();
				bmb04ItemGridObject.getGrid().showLoading();

				for(const checkData of headGridCheck) {
					const param = {
						compkey: '[[${userattr.compkey}]]',
						warekey: checkData.warekey,
						blhdcky: checkData.blhdcky
					}

					const response = await fetchUtil("GET", "/bm/billing/"+ pageId + "/grid-item", param);

					if(response.status === 200){
						let resContent = await response.json();

						if(resContent.length!==0){
							resContent.forEach(current => {
								if(report.findIndex(e => e['compkey'] === current['compkey'] && e['warekey'] === current['warekey']
															 && e['blhdcky'] === current['blhdcky'] && e['ownerky'] === current['ownerky']
															 && e['ptnrkey'] === current['ptnrkey'] && e['blrpmgb'] === current['blrpmgb']) === -1){
									report.push({
										compkey: current['compkey'],
										warekey: current['warekey'],
										ownerky: current['ownerky'],
										ptnrkey: current['ptnrkey'],
										blhdcky: current['blhdcky'],
										blrpmgb: current['blrpmgb'],
			 							type: 'bmb10'
									});
								}
							});
						}
					}
				}

				const sendReportObj = {
					reportList: report,
					progrid: '[[${gprogrid}]]',
					warekey: bmb04Warekey,
					type: 'bmb10'
				}

 				await reportPrint(sendReportObj, 'bm');
				bmb04HeadGridObject.getGrid().hideLoading();
				bmb04ItemGridObject.getGrid().hideLoading();
			}
		});

		// Head Grid Column Model
		const bmb04HeadGridColModel = [
			{
				title: '',
				dataType: 'String',
				dataIndx: 'state',
				type: 'checkBoxSelection',
				align: 'center', maxWidth: '30',
				maxHeight: '30',
				menuIcon: false,
				sortable: false,
				editor: false,
				cb: {
					all: false,
					header: true,
					check: 'Y',
					uncheck: 'N'
				}
			},
			{
				title: '[[#{bm.blgthd.compkey}]]',
				dataType: 'string',
				dataIndx: 'compkey',
				editable: false,
				hidden: true
			},
			{
				title: '[[#{bm.blgthd.warekey}]]',
				dataType: 'string',
				dataIndx: 'warekey',
				editable: false,
				editor: {
					type: 'select',
					options: []
				},
				render: gridRender
			},
			{
				title: '[[#{bm.blgthd.blhdcky}]]',
				dataType: 'string',
				dataIndx: 'blhdcky',
				editable: false
			},
			{
				title: '[[#{bm.blgthd.blhyymm}]]',
				dataType: 'string',
				dataIndx: 'blhyymm',
				editable: false
			},
			{
				title: '[[#{bm.blgthd.blsdate}]]',
				dataType: 'string',
				dataIndx: 'blsdate',
				editable: false
			},
			{
				title: '[[#{bm.blgthd.bledate}]]',
				dataType: 'string',
				dataIndx: 'bledate',
				editable: false
			},
			{
				title: '[[#{bm.blgthd.lcddate}]]',
				dataType: 'string',
				dataIndx: 'lcddate',
				editable: false
			},
			{
				title: '[[#{bm.blgthd.lcduser}]]',
				dataType: 'string',
				dataIndx: 'lcduser',
				editable: false
			},
			{
				title: '[[#{bm.blgthd.lcvrfyn}]]',
				dataType: 'string',
				dataIndx:'lcvrfyn',
				editable: false,
				type: 'checkbox',
				editor: false,
				align: 'center',
				cb: {
					check: 'Y',
					uncheck: 'N'
				},
				render: ui => ui.column.cb.check === ui.cellData ? 'checked' : ''
			},
			{
				title: '[[#{bm.blgthd.lcvdate}]]',
				dataType: 'string',
				dataIndx: 'lcvdate',
				editable: false
			},
			{
				title: '[[#{bm.blgthd.lcvuser}]]',
				dataType: 'string',
				dataIndx: 'lcvuser',
				editable: false
			},
			{
				title: '[[#{bm.blgthd.lccnfyn}]]',
				dataType: 'string',
				dataIndx:'lccnfyn',
				editable: false,
				type: 'checkbox',
				editor: false,
				align: 'center',
				cb: {
					check: 'Y',
					uncheck: 'N'
				},
				render: ui => ui.column.cb.check === ui.cellData ? 'checked' : ''
			},
			{
				title: '[[#{bm.blgthd.lccdate}]]',
				dataType: 'string',
				dataIndx: 'lccdate',
				editable: false
			},
			{
				title: '[[#{bm.blgthd.lccuser}]]',
				dataType: 'string',
				dataIndx: 'lccuser',
				editable: false
			},
			{
				title: '[[#{bm.blgthd.credate}]]',
				dataType: 'string',
				dataIndx: 'credate',
				editable: false
			},
			{
				title: '[[#{bm.blgthd.cretime}]]',
				dataType: 'string',
				dataIndx: 'cretime',
				editable: false
			},
			{
				title: '[[#{bm.blgthd.creuser}]]',
				dataType: 'string',
				dataIndx: 'creuser',
				editable: false
			},
			{
				title: '[[#{bm.blgthd.lmodate}]]',
				dataType: 'string',
				dataIndx: 'lmodate',
				editable: false
			},
			{
				title: '[[#{bm.blgthd.lmotime}]]',
				dataType: 'string',
				dataIndx: 'lmotime',
				editable: false
			},
			{
				title: '[[#{bm.blgthd.lmouser}]]',
				dataType: 'string',
				dataIndx: 'lmouser',
				editable: false
			}
		]

		// Head Grid Object 및 기본 세팅
		bmb04HeadGridObject = new GridUtil(bmb04HeadGridColModel, '[[${gprogrid}]]', pageId+'HeadPqgrid');

		// Head Grid 검색 세팅
		bmb04HeadGridObject.setFind();

		// Head Grid 생성시 이벤트
		bmb04HeadGridObject.setCreate(async function (evt, ui) {
			await _commonInit();
		});

		// Head Grid 더블클릭 이벤트
		bmb04HeadGridObject.setRowDblClick(async function( event, ui ) {
			const param = {
				compkey: ui.rowData.compkey,
				warekey: ui.rowData.warekey,
				blhdcky: ui.rowData.blhdcky
			}

			bmb04ItemGridObject.getGrid().showLoading();

			for(let rowIdx=0; rowIdx<this.pdata.length; rowIdx++){ // 선택한 row 강조
				rowIdx === ui.rowIndx ? this.addClass({
														rowIndx : ui.rowIndx,
														cls: 'color-blue font-weight-bold'
													})
					 							 : this.removeClass({
						 								 rowIndx : rowIdx,
						 								 cls: 'color-blue font-weight-bold'
					 								});
			}

			const response = await fetchUtil('GET', '/bm/billing/'+ pageId + '/grid-item', param);

			if(response.status === 200){
				let resContent = await response.json();

				bmb04ItemGridObject.getGrid().option( 'dataModel', { data: resContent } );
				turnOnGridGruopSummary(bmb04ItemGridObject.getGrid());
				bmb04ItemGridObject.getGrid().refreshDataAndView();
			}

			bmb04ItemGridObject.getGrid().hideLoading();
		});

		// Head Grid 객체 생성
		bmb04HeadGridObject.open();

		// Head Grid Column Model
		const bmb04ItemGridColModel = [
			{
				title: '[[#{bm.blgtit.compkey}]]',
				dataType: 'string',
				dataIndx: 'compkey',
				editable: false,
				hidden:true
			},
			{
				title: '[[#{bm.blgtit.warekey}]]',
				dataType: 'string',
				dataIndx: 'warekey',
				editable: false,
				editor: {
					type: 'select',
					options: []
				},
				render: gridRender
			},
			{
				title: '[[#{bm.blgtit.blhdcky}]]',
				dataType: 'string',
				dataIndx: 'blhdcky',
				editable: false
			},
			{
				title: '[[#{bm.blgtit.ownerky}]]',
				dataType: 'string',
				dataIndx: 'ownerky',
				editable: false,
				editor: {
					type: 'select',
					options: []
				},
				render: gridRender
			},
			{
				title: '[[#{bm.blgtit.ptnrkey}]]',
				dataType: 'string',
				dataIndx: 'ptnrkey',
				editable: false,
				editor: {
					type: 'select',
					options: []
				},
				render: gridRender
			},
			{
				title: '[[#{bm.blgtit.blrpmgb}]]',
				dataType: 'string',
				dataIndx: 'blrpmgb',
				editable: false,
				editor: {
					type: 'select',
					options: []
				},
				render: gridRender
			},
			{
				title: '[[#{bm.blgtit.blrcsgb}]]',
				dataType: 'string',
				dataIndx: 'blrcsgb',
				editable: false,
				editor: {
					type: 'select',
					options: []
				},
				render: gridRender
			},
			{
				title: '[[#{bm.blgtit.blrtkgb}]]',
				dataType: 'string',
				dataIndx: 'blrtkgb',
				editable: false,
				editor: {
					type: 'select',
					options: []
				},
				render: gridRender
			},
			{
				title: '[[#{bm.blgtit.blrunit}]]',
				dataType: 'string',
				dataIndx: 'blrunit',
				editable: false,
				editor: {
					type: 'select',
					options: []
				},
				render: gridRender
			},
			{
				title: '[[#{bm.blgtit.doccate}]]',
				dataType: 'string',
				dataIndx: 'doccate',
				editable: false,
				editor: {
					type: 'select',
					options: []
				},
				render: gridRender
			},
			{
				title: '[[#{bm.blgtit.doctype}]]',
				dataType: 'string',
				dataIndx: 'doctype',
				editable: false,
				editor: {
					type: 'select',
					options: []
				},
				render: gridRender
			},
			{
				title: '[[#{bm.blgtit.refcqty}]]',
				dataType: 'integer',
				dataIndx: 'refcqty',
				editable: false,
				summary: { type: 'sum' },
				format: '#,###'
			},
			{
				title: '[[#{bm.blgtit.blrcost}]]',
				dataType: 'integer',
				dataIndx: 'blrcost',
				editable: false,
				summary: { type: 'sum' },
				format: '#,###'
			},
			{ title: '[[#{bm.blgtit.blramot}]]',
				dataType: 'integer',
				dataIndx: 'blramot',
				editable: false,
				summary: { type: 'sum' },
				format: '#,###'
			},
			{
				title: '[[#{bm.bmb04.blramtx}]]',
				dataType: 'integer',
				dataIndx: 'blramtx',
				editable: false,
				summary: { type: 'sum' },
				format: '#,###'
			},
			{
				title: '[[#{bm.bmb04.blrsumy}]]',
				dataType: 'integer',
				dataIndx: 'blrsumy',
				editable: false,
				summary: { type: 'sum' },
				format: '#,###'
			},
			{
				title: '[[#{bm.blgtit.blrremk}]]',
				dataType: 'string',
				dataIndx: 'blrremk',
				editable: false
			}
		]

		// Item Grid Object 및 기본 세팅
		bmb04ItemGridObject = new GridUtil(bmb04ItemGridColModel, '[[${gprogrid}]]', pageId+'ItemPqgrid');

		// Item Grid 검색 세팅
		bmb04ItemGridObject.setFind();

		// Item Grid 객체 생성
		bmb04ItemGridObject.open();

		//============================================================
		// 검색 버튼 이벤트
		//============================================================
		async function searchBmb04List(){
			const param = {
				warekey: $('#'+pageId+'Warekey').val(),
				blhyymmfrom: $('#'+pageId+'BlhyymmFrom').val(),
				blhyymmto: $('#'+pageId+'BlhyymmTo').val(),
				blhdcky: $('#'+pageId+'Blhdcky').val(),
				blrstat: $('#'+pageId+'BlrstatDom input:checked').val()
			}

			if(bmb04Warekey !== $('#'+pageId+'Warekey').val()){
				await bmb04Init();
			}

			bmb04HeadGridObject.getGrid().showLoading();
			bmb04ItemGridObject.getGrid().showLoading();

			let rData = callAjax('data', 'GET', '/bm/billing/'+ pageId + '/grid-head', param);

			bmb04HeadGridObject.getGrid().hideLoading();
			bmb04ItemGridObject.getGrid().hideLoading();

			rData ? bmb04HeadGridObject.searchList(rData) : alert(rData.code + ':' + rData.message);

			bmb04ItemGridObject.getGrid().option( 'dataModel', { data: [] } );
			bmb04ItemGridObject.getGrid().refreshDataAndView();
			bmb04Warekey = $('#'+pageId+'Warekey').val();
		}

		//============================================================
		// Init 이벤트
		//============================================================
		async function bmb04Init(){
			const param = {
				warekey : $("#"+pageId+"Warekey").val()
			}
			let iData = await fetchUtil('GET', '/bm/billing/' + pageId + '/init', param);
			let jData = await iData.json();
			bmb04InitData = jData.item;

			comboCreateData(pageId+'HeadPqgrid', 'warekey', bmb04InitData.warekeyList);
			comboCreateData(pageId+'ItemPqgrid', 'warekey', bmb04InitData.warekeyList);
			comboCreateData(pageId+'ItemPqgrid', 'ownerky', bmb04InitData.ownerkyList);
			comboCreateData(pageId+'ItemPqgrid', 'ptnrkey', bmb04InitData.ptnrkeyList);
			comboCreateData(pageId+'ItemPqgrid', 'blrpmgb', bmb04InitData.blrpmgbList);
			comboCreateData(pageId+'ItemPqgrid', 'blrcsgb', bmb04InitData.blrcsgbList);
			comboCreateData(pageId+'ItemPqgrid', 'blrtkgb', bmb04InitData.blrtkgbList);
			bmb04InitData.blrunitList.push({
				combovl: '-',
				combonm: '-'
			});
			comboCreateData(pageId+'ItemPqgrid', 'blrunit', bmb04InitData.blrunitList);
			bmb04InitData.doccateList.push({
				combovl: '-',
				combonm: '-'
			});
			comboCreateData(pageId+'ItemPqgrid', 'doccate', bmb04InitData.doccateList);
			bmb04InitData.doctypeList.push({
				combovl: '-',
				combonm:'-'
			});
			comboCreateData(pageId+'ItemPqgrid', 'doctype', bmb04InitData.doctypeList);
		}
	});
	</script>
</div>
</html>