<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragments-mainContent">
    <div class="tab-contents">
        <div class="search-conditions con-box">
            <div class="setting-grid">
                <!-- 1row  -->
                <label for="mdb05_warekey" class="setting-grid-title ic-title-nece">[[#{search.whnamlc}]]</label>
                <!-- 창고  -->
                <div class="setting-grid-content">
                    <div class="input-group">
                        <select id="mdb05_warekey"></select>
                    </div>
                </div>
                <label for="mdb05_vhcsnam" class="setting-grid-title">[[#{md.bftrma.vehicky}]]</label>
                <!-- 차량명칭  -->
                <div class="setting-grid-content">
                    <div class="input-group">
                        <select id="mdb05_vhcsnam">
                             <option value="">[[#{ms.chooseAll}]]</option>
                        </select>
                    </div>
                </div>
                <!-- 2row  -->
                <label for="mdb05_btrpmgb" class="setting-grid-title">[[#{md.bftrma.btrpmgb}]]</label>
                <!-- 대금구분  -->
                <div class="setting-grid-content">
                    <div class="input-group">
                        <select id="mdb05_btrpmgb">
                             <option value="">[[#{ms.chooseAll}]]</option>
                        </select>
                    </div>
                </div>
                <label for="mdb05_ptnrkey" class="setting-grid-title">[[#{md.bftrma.ptnrkey}]]</label>
                <!-- 대금구분업체  -->
                <div class="setting-grid-content">
                    <div class="input-group">
                        <select id="mdb05_ptnrkey">
                             <option value="">[[#{ms.chooseAll}]]</option>
                        </select>
                    </div>
                </div>
                <label for="mdb05_btrcsgb" class="setting-grid-title">[[#{md.bftrma.btrcsgb}]]</label>
                <!-- 계정  -->
                <div class="setting-grid-content">
                    <div class="input-group">
                        <select id="mdb05_btrcsgb">
                             <option value="">[[#{ms.chooseAll}]]</option>
                        </select>
                    </div>
                </div>
                <!-- 3row  -->
                <label for="mdb05_btrtkgb" class="setting-grid-title">[[#{md.bftrma.btrtkgb}]]</label>
                <!-- sub계정  -->
                <div class="setting-grid-content">
                    <div class="input-group">
                        <select id="mdb05_btrtkgb"></select>
                    </div>
                </div>
                <!-- 조회형태 : 적용위주, 내역위주 -->
                <label class="setting-grid-title">[[#{md.mdb05.selectionPoint}]]</label>
                <div class="setting-grid-content">
                    <div class="radio-group" id="mdb05PointDom">
                        <input type="radio" id="mdb05Applicate" name="mdb05Point" value="APP" checked="checked">
                        <label for="mdb05Applicate">[[#{md.mdb05.applicate}]]</label>
                        <input type="radio" id="mdb05History" name="mdb05Point" value="HIS">
                        <label for="mdb05History">[[#{md.mdb05.history}]]</label>
                    </div>
                </div>
                <!-- 적용시작년월 -->
                <label for="mdb05_btrdate" class="setting-grid-title">[[#{md.bftrma.btrdate}]]</label>
                <div class="setting-grid-content">
                	<div class="input-wrapper">
                        <input style="width:100%;" type="month" id="mdb05_btrdate" onkeyup="setInputDateDel(this)" />
                    </div>
                </div>
            </div>
            <div class="search-btn-group">
                <button type="button" class="btn-search btn-navy btn-green btn-green" id="mdb05_search"><img>[[#{bt.search}]]</button>
                <button type="button" class="btn-clear btn-white" id="mdb05_reset"><img>[[#{bt.reset}]]</button>
            </div>
        </div>
        <div class="search-list">
            <div class="list-top">
                <div class="list-title ic-title-mark">
                    <span th:text="${gnatitle}"></span>
                </div>
                <div class="edit-btn-wrapper">
                    <button class="btn-navy btn-green btn-green" id="mdb05_save" ><img class="ic-bt-save">[[#{bt.save}]]</button>
                </div>
            </div>
            <div class="list-grid-wrapper con-box">
                <div id="mdb05_grid"></div>
            </div>
        </div>
    </div>
	<script>
	
	/*  mdb05 - 고정운송비
	*   최초 생성일시   : 2023-12-12 10:30
	*   최초 생성자      : 고은별
	*   설명      	: 고정운송비 요율을 등록, 수정, 조회하는 화면
	*   수정 내역  	:
	*   수정일시		:
	*   수정자		:
	*   변경 사항		:
	*/
	
	$(function() {
		
		const nullifyActionWhenChanged = (ui, idx, columnName, targetColList = []) => {
			if (!ui.updateList[idx].oldRow[columnName]) return;
			if (ui.updateList[idx].newRow[columnName] !== ui.updateList[idx].oldRow[columnName]) {
				targetColList.forEach(targetCol =>
					ui.updateList[idx].rowData[targetCol] = null)
			}
		}
		
	    // 라디오 버튼 요소와 날짜 선택 박스 요소 가져오기
	    const radioApplicate = $('#mdb05Applicate');
	    const radioHistory = $('#mdb05History');
	    const inputBtrdate = $('#mdb05_btrdate');

	    // 라디오 버튼 변경 이벤트 핸들러 추가
	    radioApplicate.change(handleRadioChange);
	    radioHistory.change(handleRadioChange);

	    // 라디오 버튼 변경 이벤트 핸들러
	    function handleRadioChange() {
	        if (radioHistory.prop('checked')) {
	            // HIS 라디오 버튼이 선택된 경우
	            inputBtrdate.val(''); // 날짜 선택 박스 비우기
	            inputBtrdate.prop('disabled', true); // 날짜 선택 박스 비활성화 (attr 사용하면 문자열써야함)
	        } else {
	            // HIS 라디오 버튼이 선택되지 않은 경우
	            $('#mdb05_btrdate').val(moment().format('YYYY-MM')); 
	            inputBtrdate.prop('disabled', false); // 날짜 선택 박스 활성화
	        }
	    }

	    // 초기 상태 설정
	    if (radioHistory.prop('checked')) {
	        // 페이지 로드 시 HIS 라디오 버튼이 선택된 경우
	        inputBtrdate.val(''); // 날짜 선택 박스 비우기
	        inputBtrdate.prop('disabled', true); // 날짜 선택 박스 비활성화
	    }
		
		const mdb05Init = initMdb05();

        $('#mdb05_btrdate').val(moment().format('YYYY-MM'));
	
		//검색
		$('#mdb05_search').click(async function(){
			await mdb05List();
		});
		
	    $('#mdb05_reset').click(function() {
	    	resetSearchConditions();
	    	
	        // radio 버튼 초기화
	        $("#mdb05Applicate").prop("checked", true);
	        $('#mdb05_btrdate').val(moment().format('YYYY-MM'));
	        $('#mdb05_btrdate').prop('disabled', false);
	        
	    	
			const grid = pq.grid('#mdb05_grid');
			
	        if(grid.pdata.length > 0){
	        	const result = confirm('[[#{ms.listViewRollback}]]');
	        	if(result){ //그리드 필수값 누락됐을때 초기화 되느냐 안되느냐
	        		grid.showLoading();
	        		grid.option('dataModel', {data: []});
	        		grid.refreshDataAndView();
	                grid.hideLoading();
	        	}
	        }
	    })
		
		$('#mdb05_save').click(function(){
			const grid = pq.grid('#mdb05_grid'), gridCheck = grid.Checkbox('state').getCheckedNodes();
			const gridChange = grid.getChanges({all:true});
				  gridChange.addList = gridChange.addList.filter(function(item) {
			            return item.state !== false;
			       });//state가 true인 값만 가져오기
			      gridChange.updateList = gridChange.updateList.filter(function(item) {
			            return item.state !== false;
			       });//state가 true인 값만 가져오기
 			if(gridCheck.length>0){
				//============================================================	 
		    	//체크 데이터 중 필수 값 체크
		    	//============================================================
				for(let i=0; i<gridCheck.length; i++){
		    	  	if(!gridCheck[i].warekey){ //창고
						alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]');	//필수입력 값을 입력해주세요.
						grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'warekey' });
		    	  		return false;
		    	  	}
					if(!gridCheck[i].vehicky){ //차량명칭
		    	  		alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]');	//필수입력 값을 입력해주세요.
						grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'vehicky'});
		    	  		return false;
		    	  	}
					if(!gridCheck[i].ptnrkey){ //대금구분업체
		    	  		alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]');	//필수입력 값을 입력해주세요.
						grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'ptnrkey'});
		    	  		return false;
		    	  	}
		    	  	if(!gridCheck[i].btrpmgb){ //대금구분
		    	  		alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]');	//필수입력 값을 입력해주세요.
						grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'btrpmgb'});
		    	  		return false;
		    	  	}
		    	  	if(!gridCheck[i].btrcsgb){ //계정
		    	  		alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]');	//필수입력 값을 입력해주세요.
						grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'btrcsgb'});
		    	  		return false;
		    	  	}
		    	  	if(!gridCheck[i].btrtkgb){ //sub계정
		    	  		alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]');	//필수입력 값을 입력해주세요.
						grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'btrtkgb'});
		    	  		return false;
		    	  	}
		    	  	if(!gridCheck[i].btrcost){ //단가
		    	  		alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]');	//필수입력 값을 입력해주세요.
						grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'btrcost'});
		    	  		return false;
		    	  	}
		    	 
		    	  	if(!gridCheck[i].btrdate){ //적용시작년월
		    	  		alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]');	//필수입력 값을 입력해주세요.
						grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'btrdate'});
		    	  		return false;
		    	  	}
		    	  	
		    	}	
		    		
				//===============================================================	
				//체크된 데이터 중복 체크
				//===============================================================
				let gridData = grid.getData();
				let checkedGridData = gridData.filter(item => item['state'] === true);
				for (let i = 0; i < gridCheck.length; i++) {
				  for (let j = 0; j < gridData.length; j++) {
				    if (gridCheck[i].pq_ri !== grid.getData()[j].pq_ri) {
				      if ( //회사,창고,화주,차량,대금,계정,sub계정,적용시작년월, 대금구분업체
				        gridCheck[i].compkey === gridData[j].compkey &&
				        gridCheck[i].warekey === gridData[j].warekey && //창고
						gridCheck[i].vehicky === gridData[j].vehicky && //차량
				        gridCheck[i].ptnrkey === gridData[j].ptnrkey && //대금구분업체
				        gridCheck[i].btrpmgb === gridData[j].btrpmgb && //대금구분
				        gridCheck[i].btrcsgb === gridData[j].btrcsgb && //계정
				        gridCheck[i].btrtkgb === gridData[j].btrtkgb &&  //sub계정
				        gridCheck[i].btrdate === gridData[j].btrdate	  //적용시작년월
				        
				      ) {
				    	  alert((gridCheck[i].pq_ri + 1) + '[[#{bm.rownum}]] ' + (gridData[j].pq_ri + 1) + '[[#{bm.duplication}]]\n' +
				    			  '[[#{grid.whnamlc}]]' + ', ' +
				    			  '[[#{md.bftrma.vehicky}]]' + ', ' +
				    			  '[[#{md.bftrma.btrpmgb}]]' + ', ' +
				    			  '[[#{md.bftrma.ptnrkey}]]' + ', ' +
				    			  '[[#{md.bftrma.btrcsgb}]]' + ', ' +
				    			  '[[#{md.bftrma.btrtkgb}]]' + ', ' +
				    			  '[[#{md.bftrma.btrdate}]]' + ' [[#{ms.DuplicateKeyErr}]]'
				    			);
				    		grid.editCell({ rowIndx: gridCheck[i].pq_ri, dataIndx: "warekey" });
				    		return false;
				      }
				    }
				  }
				}


				//updateList 체크 데이터 정제
				for(let z=0; z<gridChange.updateList.length; z++){
					if(gridChange.updateList[z].state !== true){
						gridChange.updateList.splice(z, 1);
						gridChange.oldList.splice(z, 1);
					}
				}
				
				//addList 체크 데이터 정제
				for(let x=0; x<gridChange.addList.length; x++){
					if(gridChange.addList[x].state !== true){
						gridChange.addList.splice(x, 1);
					}
				}
			
				let result = confirm('[[#{ms.checksave}]]');
				if(result === true){
					const data = gridChange;
					saveMdb05List(data);
				}
			} else {
				alert('[[#{ms.choiceRowZero}]]');
			} 
		});
		
		
		function initMdb05(){
							//callAjax 비동기
			let mdb05Init = callAjax("data", "GET" , "/md/billingMaster/mdb05/init", {});
			
			// 창고 리스트
			if(mdb05Init.warekeyList){
				$("#mdb05_warekey option").not("[value='']").remove();
				$.each(mdb05Init.warekeyList, function(key, value) {
					$('#mdb05_warekey').append($("<option></option>").attr("value",value.combovl).text(value.combonm)); 
				});
			}
			
			// 차량코드
			if(mdb05Init.vehickyList){
				function findVehicky(obj){
					return obj['warekey'] === mdb05Init.warekeyList[0]?.combovl
				}
				
				let findList = mdb05Init.vehickyList.filter(findVehicky);
				
				$.each(findList, function(key, value) {
					$('#mdb05_vhcsnam').append($("<option></option>").attr("value",value.vehicky).text(value.vhcsnam)); 
				});
			}
			
	        $('#mdb05_vhcsnam').pqSelect({
	            deselect: false
	        });
	        
	        $('#mdb05_warekey').change(function(){
	            let selectedWarekey = $(this).val(); // 선택된 창고
	            
	            let foundVehicky= mdb05Init.vehickyList.filter(element => 
	            	element['warekey'] === selectedWarekey
	            );
	            
	    		if(foundVehicky.length > 0){
	    			$("#mdb05_vhcsnam option").not("[value='']").remove();
	    			foundVehicky.forEach(function(option){
	                     $('#mdb05_vhcsnam').append($("<option></option>").attr("value", option.vehicky).text(option.vhcsnam)); 
	                });
	    			$("#mdb05_vhcsnam").pqSelect('refreshData');
	    		}

	        });
			
			// 거래처 리스트
			if(mdb05Init.ptnrkeyList){
				$.each(mdb05Init.ptnrkeyList, function(key, value) {
					$('#mdb05_ptnrkey').append($("<option></option>").attr("value",value.combovl).text(value.combonm)); 
				});
			}
			
	        $('#mdb05_ptnrkey').pqSelect({
	            deselect: false
	        });
			
			// 대금구분
			if(mdb05Init.btrpmgbList){
				$.each(mdb05Init.btrpmgbList, function(key, value) {
					$('#mdb05_btrpmgb').append($("<option></option>").attr("value",value.combovl).text(value.combonm)); 
				});
			}
			
			// 계정
			if(mdb05Init.btrfsgbList){
				$.each(mdb05Init.btrfsgbList, function(key, value) {
					$('#mdb05_btrcsgb').append($("<option></option>").attr("value",value.combovl).text(value.combonm)); 
				});
			}
			
			// sub계정
			if(mdb05Init.btrtkgbList){
				$("#mdb05_btrtkgb option").not("[value='']").remove();
				$.each(mdb05Init.btrtkgbList, function(key, value) {
					$('#mdb05_btrtkgb').append($("<option></option>").attr("value",value.combovl).text(value.combonm)); 
				});
			}

			return mdb05Init;
		}



		const mdb05GridCM = [
			{ title: "[[#{common.grid.recIndx}]]", dataType: "string", dataIndx: "rowkey", hidden: true, editable: false },
			{ title: "", dataType: 'bool', dataIndx: "state", align: "center",
	            type: 'checkbox', sortable: false, editor: false,
	            cb: { all: false, header: true },
			},
			{ title: "[[#{md.bftrma.compkey}]]", dataType: "string", dataIndx: "compkey", hidden: true, editable: false,
	        	styleHead: { 'background-color':'[[#{grid.styleHead01}]]' }, //회사
	        },
			{ title: "[[#{md.bftrma.bftcode}]]", dataType: "string", dataIndx: "bftcode", editable: false },	        
			{ title: "[[#{grid.whnamlc}]]", dataType: "string", dataIndx: "warekey" ,	//창고
				styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
				editor: {
					type: "select",
					init: function (ui) {
						ui.$cell.find("select").pqSelect({ search : false, singlePlaceholder: '' });
						setTimeout(function () {
							ui.$cell.find("select").pqSelect('open');
						}, 250);
					},
					options: []
				},
		        render: function (ui) {
					if(ui.rowData.bilgcnt === 'Y'){
						ui.style.push('background:#e4e4eb;');
						ui.cls.push('pq-cell-disable');
					}
	          		let option = ui.column.editor.options.find(function (obj) {
	                   return (obj[ui.cellData] != null);
	               	});
	              	return option ? option[ui.cellData] : "";
				},
				editable: function (ui) {
				    if (typeof ui.rowData.bilgcnt === 'undefined') {
				        return true;
				    } else {
				        return ui.rowData.bilgcnt === 'N' ? true : false;
				    }
				}
			},
			{ title: "[[#{md.bftrma.vehicky}]]", dataType: "string", dataIndx: "vehicky" ,	//차량코드
				styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
				editor: {
					type: "select",
		            init: function (ui) { 
		            	ui.$cell.find("select").pqSelect({ search : true, searchId: "mdb05_vhcsnam", singlePlaceholder: '' });
		            	setTimeout(function () {
		                	ui.$cell.find("select").pqSelect('open'); 
		                }, 250);
		            },
					options: []
				},
		        render: function (ui) {
					if(ui.rowData.bilgcnt === 'Y'){
						ui.style.push('background:#e4e4eb;');
						ui.cls.push('pq-cell-disable');
					}
					let combonm;
					mdb05Init.vehickyList.forEach(function (element, index){
						if(ui.rowData.vehicky === element.vehicky){
							combonm = element.vhcsnam
						}
					})
					return combonm;
				},
				editable: function (ui) {
				    if (typeof ui.rowData.bilgcnt === 'undefined') {
				        return true;
				    } else {
				        return ui.rowData.bilgcnt === 'N' ? true : false;
				    }
				}
			},
			{ title: "[[#{md.bftrma.ptnrkey}]]", dataType: "string", dataIndx: "ptnrkey" , //거래처
				styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
				editor: {
					type: "select",
		            init: function (ui) { 
		            	ui.$cell.find("select").pqSelect({ search : true, searchId: "mdb05_ptnrkey", singlePlaceholder: '' });
		            	setTimeout(function () {
		                	ui.$cell.find("select").pqSelect('open'); 
		                }, 250);
		            },
					options: []
				},
		        render: function (ui) {
					if(ui.rowData.bilgcnt === 'Y'){
						ui.style.push('background:#e4e4eb;');
						ui.cls.push('pq-cell-disable');
					}
					let combonm;
					mdb05Init.ptnrkeyList.forEach(function (element, index){
						if(ui.rowData.ptnrkey === element.combovl){
							combonm = element.combonm
						}
					})
					return combonm;
				},
				editable: function (ui) {
				    if (typeof ui.rowData.bilgcnt === 'undefined') {
				        return true;
				    } else {
				        return ui.rowData.bilgcnt === 'N' ? true : false;
				    }
				}
			},
			{ title: "[[#{md.bftrma.btrpmgb}]]", dataType: "string", dataIndx: "btrpmgb" ,	//대금구분
				styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
				editor: {
					type: "select",
					init: function (ui) {
						ui.$cell.find("select").pqSelect({ search : false, singlePlaceholder: '' });
						setTimeout(function () {
							ui.$cell.find("select").pqSelect('open');
						}, 250);
					},
					options: []
				},
		        render: function (ui) {
					if(ui.rowData.bilgcnt === 'Y'){
						ui.style.push('background:#e4e4eb;');
						ui.cls.push('pq-cell-disable');
					}
	          		let option = ui.column.editor.options.find(function (obj) {
	                   return (obj[ui.cellData] != null);
	               	});
	              	return option ? option[ui.cellData] : "";
				},
				editable: function (ui) {
				    if (typeof ui.rowData.bilgcnt === 'undefined') {
				        return true;
				    } else {
				        return ui.rowData.bilgcnt === 'N' ? true : false;
				    }
				}
			},
			{ title: "[[#{md.bftrma.btrcsgb}]]", dataType: "string", dataIndx: "btrcsgb" ,	//계정
				styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
				editor: {
					type: "select",
		            init: function (ui) { 
		            	ui.$cell.find("select").pqSelect({ search : false, singlePlaceholder: '' });
		            	setTimeout(function () {
		                	ui.$cell.find("select").pqSelect('open'); 
		                }, 250);
		            },
					options: []
				},
		        render: function (ui) {
					if(ui.rowData.bilgcnt === 'Y'){
						ui.style.push('background:#e4e4eb;');
						ui.cls.push('pq-cell-disable');
					}
	          		let option = ui.column.editor.options.find(function (obj) {
	                   return (obj[ui.cellData] != null);
	               	});
	              	return option ? option[ui.cellData] : "";
				},
				editable: function (ui) {
				    if (typeof ui.rowData.bilgcnt === 'undefined') {
				        return true;
				    } else {
				        return ui.rowData.bilgcnt === 'N' ? true : false;
				    }
				}
			},
			{ title: "[[#{md.bftrma.btrtkgb}]]", dataType: "string", dataIndx: "btrtkgb" ,	//sub계정
				styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
				editor: {
					type: "select",
		            init: function (ui) { 
		            	ui.$cell.find("select").pqSelect({ search : false, singlePlaceholder: '' });
		            	setTimeout(function () {
		                	ui.$cell.find("select").pqSelect('open'); 
		                }, 250);
		            },
					options: []
				},
		        render: function (ui) {
					if(ui.rowData.bilgcnt === 'Y'){
						ui.style.push('background:#e4e4eb;');
						ui.cls.push('pq-cell-disable');
					}
	          		let option = ui.column.editor.options.find(function (obj) {
	                   return (obj[ui.cellData] != null);
	               	});
	              	return option ? option[ui.cellData] : "";
				},
				editable: function (ui) {
				    if (typeof ui.rowData.bilgcnt === 'undefined') {
				        return true;
				    } else {
				        return ui.rowData.bilgcnt === 'N' ? true : false;
				    }
				}
			},
			{ title: "[[#{md.bftrma.btrcost}]]", dataType: "integer", dataIndx: "btrcost", format: '#,###',	//단가
				styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
// 				validations : [{ type: 'neq', value: 0, msg: '[[#{bm.zerocost}]]' }
// 							  ,{ type: 'gte', value: 1, msg: '[[#{bm.minuscost}]]' }
// 							  ,{ type: 'lte', value: 10000000000, msg: '[[#{ms.validations.maxLenLength(11)}]]' }
// 				 			 ],
	 			render: function (ui) {
					if(ui.rowData.bilgcnt === 'Y'){
						ui.style.push('background:#e4e4eb;');
						ui.cls.push('pq-cell-disable');
					}
				},
				editable: function (ui) {
				    if (typeof ui.rowData.bilgcnt === 'undefined') {
				        return true;
				    } else {
				        return ui.rowData.bilgcnt === 'N' ? true : false;
				    }
				}
			},
			{ title: "[[#{md.bftrma.btrsutx}]]", dataType: "integer", dataIndx: "btrsutx",	//부가세
				styleHead: { 'background-color':'[[#{grid.styleHead02}]]' }, format: '#,###',
				render: function (ui) {
					if(ui.rowData.bilgcnt === 'Y'){
						ui.style.push('background:#e4e4eb;');
						ui.cls.push('pq-cell-disable');
					}
				},
				editable: function (ui) {
				    if (typeof ui.rowData.bilgcnt === 'undefined') {
				        return true;
				    } else {
				        return ui.rowData.bilgcnt === 'N' ? true : false;
				    }
				}
			},
			{ title: "[[#{md.bftrma.btuseyn}]]", dataType: "string", dataIndx: "btuseyn", 	//사용여부
				styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
				align: "center", type : "checkbox", editor : false,
				cb: { all: false, header: false, check: "Y", uncheck: "N" },
				render : function(ui){
					var cb = ui.column.cb, cellData = ui.cellData, checked = cb.check === cellData ? 'checked' : '';
				}
			},
			{ title: "[[#{md.bftrma.btrdate}]]", dataType: "date", format:"yy-mm", dataIndx: "btrdate",
				styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
				cls: 'pq-calendar pq-side-icon',
				editor: {
					type: 'textbox',
					init: monthEditor,
					getData: function (ui) {
						return ui.$cell.find("input").val();
					}
				},
	 			render: function (ui) {
					if(ui.rowData.bilgcnt === 'Y'){
						ui.style.push('background:#e4e4eb;');
						ui.cls.push('pq-cell-disable');
					}
				},
				editable: function (ui) {
				    if (typeof ui.rowData.bilgcnt === 'undefined') {
				        return true;
				    } else {
				        return ui.rowData.bilgcnt === 'N' ? true : false;
				    }
				},
				validations: [ { type: 'regexp', value: '^[0-9]{4}-[0-9]{2}$', msg: 'Not in date format' } ]
			},
			{ title: "[[#{md.bftrma.btrtknm}]]", dataType: "string", dataIndx: "btrtknm",	//명세표구분명
				styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
				render: function (ui) {
					return (ui.rowData.bilgcnt === 'Y') ? {style: 'background-color:#e4e4eb;', cls: 'pq-cell-disable'} : {};
				},
				editable: function (ui) {
				    if (typeof ui.rowData.bilgcnt === 'undefined') {
				        return true;
				    } else {
				        return ui.rowData.bilgcnt === 'N' ? true : false;
				    }
				},
				validations : [{ type: 'minLen', value: 0, warn: true }, { type: 'maxLen', value: 60, msg: '[[#{ms.validations.maxLenLength(60)}]]' }]
			},
			{ title: "[[#{md.bftrma.credate}]]", dataType: "string", dataIndx: "credate", editable:false }, //생성일자
			{ title: "[[#{md.bftrma.cretime}]]", dataType: "string", dataIndx: "cretime", editable:false }, //생성시간
			{ title: "[[#{md.bftrma.creuser}]]", dataType: "string", dataIndx: "creuser", editable:false }, //생성자
			{ title: "[[#{md.bftrma.lmodate}]]", dataType: "string", dataIndx: "lmodate", editable:false }, //수정일자
			{ title: "[[#{md.bftrma.lmotime}]]", dataType: "string", dataIndx: "lmotime", editable:false }, //수정시간
			{ title: "[[#{md.bftrma.lmouser}]]", dataType: "string", dataIndx: "lmouser", editable:false }, //수정자
			{ title: "[[#{md.bftrma.indibzl}]]", dataType: "string", dataIndx: "indibzl" , editable: false, hidden: true}, //Busifness logic indicator
			{ title: "[[#{md.bftrma.indiarc}]]", dataType: "string", dataIndx: "indiarc" , editable: false, hidden: true }, //Archive indicator
			{ title: "[[#{md.bftrma.updtchk}]]", dataType: "string", dataIndx: "updtchk" , editable: false, hidden: true }, //Update check
	
		];
		
		const mdb05Grid = new GridUtil(mdb05GridCM, '[[${gprogrid}]]', 'mdb05_grid');
		

		mdb05Grid.setCellSave(function(evt, ui){
			this.refreshRow({ rowIndx: ui.rowIndx });
			
			if(ui.dataIndx === 'btrcost'){
				if(ui.rowData.btrcost===0){
					alert('[[#{bm.zerocost}]]');
					this.updateRow({ rowIndx: ui.rowIndx, newRow: { btrcost:'' }, checkEditable:false });
				}else if(ui.rowData.btrcost < 0){
					alert('[[#{bm.minuscost}]]');
					this.updateRow({ rowIndx: ui.rowIndx, newRow: { btrcost:'' }, checkEditable:false });
				}
			}
			
			if(ui.dataIndx === 'btrsutx'){
				if(ui.rowData.btrsutx < 0){
					alert('[[#{bm.minusvat}]]');
					this.updateRow({ rowIndx: ui.rowIndx, newRow: { btrsutx:'' }, checkEditable:false });
				}
			}
		});
		
		//그리드에 값 넣어주기
		mdb05Grid.setCreate(function (evt, ui) {
			if(mdb05Init.warekeyList){
	    		var column = this.getColumn({ dataIndx: "warekey" });
	        	var options = mdb05Init.warekeyList.map(function(obj){
	            	var rObj = {};
	            	rObj[obj.combovl] = obj.combonm;
	            	return rObj;
	    		});
	        	column.editor.options = options;
	    	}
			if(mdb05Init.vehickyList){
	    		var column = this.getColumn({ dataIndx: "vehicky" });
	        	var options = mdb05Init.vehickyList.map(function(obj){
	            	var rObj = {};
	            	rObj[obj.vehicky] = obj.vhcsnam;
	            	return rObj;
	    		});
	        	column.editor.options = options;
	    	}
			if(mdb05Init.ptnrkeyList){
	    		var column = this.getColumn({ dataIndx: "ptnrkey" });
	        	var options = mdb05Init.ptnrkeyList.map(function(obj){
	            	var rObj = {};
	            	rObj[obj.combovl] = obj.combonm;
	            	return rObj;
	    		});
	        	column.editor.options = options;
	    	}
			if(mdb05Init.btrpmgbList){ //대금구분
	    		var column = this.getColumn({ dataIndx: "btrpmgb" });
	        	var options = mdb05Init.btrpmgbList.map(function(obj){
	            	var rObj = {};
	            	rObj[obj.combovl] = obj.combonm;
	            	return rObj;
	    		});
	        	column.editor.options = options;
	    	}
			if(mdb05Init.btrfsgbList){ //계정
	    		var column = this.getColumn({ dataIndx: "btrcsgb" });
	        	var options = mdb05Init.btrfsgbList.map(function(obj){
	            	var rObj = {};
	            	rObj[obj.combovl] = obj.combonm;
	            	return rObj;
	    		});
	        	column.editor.options = options;
	    	}
			if(mdb05Init.btrtkgbList){ //서브계정
	    		var column = this.getColumn({ dataIndx: "btrtkgb" });
	        	var options = mdb05Init.btrtkgbList.map(function(obj){
	            	var rObj = {};
	            	rObj[obj.combovl] = obj.combonm;
	            	return rObj;
	    		});
	        	column.editor.options = options;
	    	}
		});
	

		mdb05Grid.setAdd(function(evt, ui){	
			let rowData = { state   : true, compkey : "[[${userattr.compkey}]]", 
							btuseyn : "Y",  btrsutx : 10, btrcost : 0,
							btrtkgb : "PROVS", //지급
							btrdate : moment().format('YYYY-MM')};
			let rowIndx = this.addRow({ rowData : rowData , checkEditable : false });
			this.goToPage({ rowIndx : rowIndx });
			this.editCell({ rowIndx : rowIndx , dataIndx : "warekey"});
		});
		
		mdb05Grid.setFind();
		
		//요율코드에 값이 있다면 삭제 x
		mdb05Grid.setDelete(function(evt, ui) {
		  const grid = this;
		  const checkList = this.Checkbox('state').getCheckedNodes();
		  const rows = [];
		
		  if (checkList.length > 0) {
		    const rowDelete = window.confirm("[[#{ms.choiceRowDelete}]]");
		
		    if (rowDelete) {
		      for (let i = 0; i < checkList.length; i++) {
		        if (!checkList[i].bftcode) {
		          rows.push({ rowIndx: checkList[i].pq_ri });
		        }
		      }
		      grid.deleteRow({ rowList: rows });
		    }
		  } 
		});

		mdb05Grid.setCellClick(function(evt, ui){
		    // 창고값 가져오기
		    const warekeyValue = ui.rowData.warekey;
		    const btrpmgbValue = ui.rowData.btrpmgb; //대금구분이 지급일경우 거래처세팅
		    const ptnrkeyValue = ui.rowData.ptnrkey;
		    //대금구분이 지급일경우 -> 로우데이터에 

		    // 데이터 존재 여부 확인
		    if (mdb05Init.vehickyList) {
		        // 창고 고려하여 차량코드
			    const foundVehicky = mdb05Init.vehickyList.filter(element => {
			        if (warekeyValue) {
			        	return element.warekey === warekeyValue;
			        } 
			        return false;
		        });
		        
		        // 문서 타입 컬럼에 옵션 설정
		        const vehickyColumn = this.getColumn({ dataIndx: "vehicky" });
		        const vehickyOptions = foundVehicky.map(function(obj){
		            return {[obj.vehicky]: obj.vhcsnam};
		        });
		        vehickyColumn.editor.options = vehickyOptions;

		    }
		});
		
		
		mdb05Grid.setChange(function(evt, ui){
			if('edit' === ui.source){
	    		for(let ind=0; ind<ui.updateList.length; ind++){
	    			const newRow = {state : true};
	    			
	    			nullifyActionWhenChanged(ui, ind, 'warekey', ['vehicky']);
	    			
	    			//rowData에 차량코드와 거래처가 있을때 대금구분 지급이라면 && 차량 있고 거래처 없을때 대금구분 지급.
	    			if(ui.updateList[ind].rowData.vehicky && ui.updateList[ind].rowData.ptnrkey ||
	    					ui.updateList[ind].rowData.vehicky && !ui.updateList[ind].rowData.ptnrkey){
	    				if(ui.updateList[ind].newRow.btrpmgb === 'PAYMENT' || 
	    						(ui.updateList[ind].newRow.vehicky !== ui.updateList[ind].oldRow.vehicky &&  ui.updateList[ind].rowData.btrpmgb === 'PAYMENT')){ //지급을 새로 입력함
	    					const findPtnrkey = mdb05Init.vehickyList.find(function(element){
	    						return ui.updateList[ind].rowData.vehicky === element.vehicky;
	    					});
	    					if(findPtnrkey){
	    						ui.updateList[ind].rowData.ptnrkey = findPtnrkey.carrier;
	    					}
	    				}
	    			}
	    			
	    			
					//rowData에 차량코드 있을때 창고확인 => 새창고 입력값과 vehickyList의 warekey 비교
					if(ui.updateList[ind].rowData.vehicky){
						if(ui.updateList[ind].newRow.warekey){
							let whValue = ui.updateList[ind].newRow.warekey; //입력하는창고값
							let vehickyValue = ui.updateList[ind].rowData.vehicky; //이미입력되어있는차량코드
							let dbValue = whValue + vehickyValue;
							let findVehicky;
							mdb05Init.vehickyList.forEach(function(element, index){
								if(dbValue === element.warekey + element.vehicky){
									findVehicky = element.vehicky;
								}
							})
							if(vehickyValue !== findVehicky){
								newRow.warekey='';
							}
						}
					}
					
					//창고가 있을때 차량코드 확인 => 새차량코드와 vehickyList의 vehicky확인
					if(ui.updateList[ind].rowData.warekey){
						if(ui.updateList[ind].newRow.vehicky){
							let vhValue = ui.updateList[ind].newRow.vehicky; //입력하는차량코드
							let wkValue = ui.updateList[ind].rowData.warekey; //이미입력되어있는창고키
							let dblValue = vhValue + wkValue;
							let findWky;
							mdb05Init.vehickyList.forEach(function(element, index){
								if(dblValue === element.vehicky + element.warekey){
									findWky = element.warekey;
								}
							})
							if(wkValue !== findWky){
								newRow.vehicky='';
							}
						}
					}
					
	    			
	    			this.updateRow( {
	           			rowIndx : ui.updateList[ind].rowIndx,
	           		    newRow : newRow,
	           		    checkEditable: false
	           		});
	    		}
	    	} else if('paste' === ui.source){
	    		for(let ind=0; ind<ui.updateList.length; ind++){
	    			const newRow = {state : true};
	    			
	    			nullifyActionWhenChanged(ui, ind, 'warekey', ['vehicky']);
	    			
	    			//rowData에 차량코드와 거래처가 있을때 대금구분 지급이라면 && 차량 있고 거래처 없을때 대금구분 지급.
	    			if(ui.updateList[ind].rowData.vehicky && ui.updateList[ind].rowData.ptnrkey ||
	    					ui.updateList[ind].rowData.vehicky && !ui.updateList[ind].rowData.ptnrkey){
	    				if(ui.updateList[ind].newRow.btrpmgb === 'PAYMENT' || 
	    						(ui.updateList[ind].newRow.vehicky !== ui.updateList[ind].oldRow.vehicky &&  ui.updateList[ind].rowData.btrpmgb === 'PAYMENT')){ //지급을 새로 입력함
	    					const findPtnrkey = mdb05Init.vehickyList.find(function(element){
	    						return ui.updateList[ind].rowData.vehicky === element.vehicky;
	    					});
	    					if(findPtnrkey){
	    						ui.updateList[ind].rowData.ptnrkey = findPtnrkey.carrier;
	    					}
	    				}
	    			}
	    			
					//rowData에 차량코드 있을때 창고확인 => 새창고입력값과 vehickyList의 warekey 비교
					if(ui.updateList[ind].rowData.vehicky){
						if(ui.updateList[ind].newRow.warekey){
							let whValue = ui.updateList[ind].newRow.warekey; //입력하는창고값
							let vehickyValue = ui.updateList[ind].rowData.vehicky; //이미입력되어있는차량코드
							let dbValue = whValue + vehickyValue;
							let findVehicky;
							mdb05Init.vehickyList.forEach(function(element, index){
								if(dbValue === element.warekey + element.vehicky){
									findVehicky = element.vehicky;
								}
							})
							if(vehickyValue !== findVehicky){
								newRow.warekey='';
							}
						}
					}
					
					//창고가 있을때 차량코드 확인 => 새차량코드와 vehickyList의 vehicky확인
					if(ui.updateList[ind].rowData.warekey){
						if(ui.updateList[ind].newRow.vehicky){
							let vhValue = ui.updateList[ind].newRow.vehicky; //입력하는차량코드
							let wkValue = ui.updateList[ind].rowData.warekey; //이미입력되어있는창고키
							let dblValue = vhValue + wkValue;
							let findWky;
							mdb05Init.vehickyList.forEach(function(element, index){
								if(dblValue === element.vehicky + element.warekey){
									findWky = element.warekey;
								}
							})
							if(wkValue !== findWky){
								newRow.vehicky='';
							}
						}
					}
	    			
	    			this.updateRow({
	        			rowIndx : ui.updateList[ind].rowIndx,
	        		    newRow : newRow,
	        		    checkEditable: false
	        		});
	    		}
	    		for(let ind=0; ind<ui.addList.length; ind++){
	    			ui.addList[ind].newRow.state = true;
	    			ui.addList[ind].newRow.compkey = '[[${userattr.compkey}]]';
	    			//ui.addList[ind].newRow.btrcost = 0;
	    			//ui.addList[ind].newRow.btrsutx = 10;
	    			ui.addList[ind].newRow.btrdate = moment().format('YYYY-MM');
	    			ui.addList[ind].newRow.btuseyn = 'Y';
	    			ui.addList[ind].newRow.btrtkgb = "PROVS"; //지급
	    		}
	    	} else if('checkbox' === ui.source){
	    		for(let ind=0; ind<ui.updateList.length; ind++){
	    			if(ui.updateList[ind].newRow.hasOwnProperty('btuseyn')){
	    				this.updateRow( {
	            			rowIndx : ui.updateList[ind].rowIndx,
	            		    newRow : { state : true },
	            		    checkEditable: false
	            		});
	    			}
	    		}
	    	}
		});
		
		mdb05Grid.open();
		//mdb05List();

	  async function saveMdb05List(saveData){
			if(!saveData){
				return false;
			}
			const grid = pq.grid('#mdb05_grid');
			grid.showLoading();
			const saveMdb05Response = await fetchUtil('POST', '/md/billingMaster/mdb05/grids/1', saveData);
			if(saveMdb05Response.status===200){
				await mdb05List();
				//alert('[[#{ms.saveSuccess}]]');
			}
			grid.hideLoading();
		}
		
	});
	
    async function mdb05List(){
        // 검색 영역 필수값 확인
        if ($('#mdb05PointDom input:checked').val() === 'APP' && $('#mdb05_btrdate').val() === '') {
          alert('[[#{bm.btrdate}]]'); //적용시작년월을 선택해주세요.
          return false;
        }
		
		const grid = pq.grid('#mdb05_grid');
		grid.showLoading();

		const data = {
            warekey : $('#mdb05_warekey').val(), ptnrkey : $('#mdb05_ptnrkey').val(), vehicky : $('#mdb05_vhcsnam').val(),
            btrpmgb : $('#mdb05_btrpmgb').val(), btrcsgb : $('#mdb05_btrcsgb').val(), btrtkgb : $('#mdb05_btrtkgb').val(),
            btrdate: $('#mdb05_btrdate').val().replace(/-/g, ''),
            selectpoint:$('#mdb05PointDom input:checked').val()
        };

	 	const response = await fetchUtil('GET','/md/billingMaster/mdb05/grids/1', data);
	 	if(response.status===200){
	 		resContent = await response.json();

	 		grid.option( 'dataModel', { data: resContent, recIndx: 'rowkey' } );
	 		grid.refreshDataAndView();
	 	}
			grid.hideLoading();
	};

		
	</script>
</div>
</html>