<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragments-mainContent">
	<div class="tab-contents">
		<div class="search-conditions con-box">
			<div class="setting-grid">
				<!-- 창고  -->
				<label for="mdb01_warekey" class="setting-grid-title ic-title-nece">[[#{search.whnamlc}]]</label>
				<div class="setting-grid-content">
					<div class="input-group">
						<select id="mdb01_warekey"></select>
					</div>
				</div>
				<!-- 화주  -->
				<label for="mdb01_ownerky" class="setting-grid-title">[[#{search.ownamlc}]]</label>
				<div class="setting-grid-content">
					<div class="input-group">
						<select id="mdb01_ownerky">
							<option value="">[[#{ms.chooseAll}]]</option>
						</select>
					</div>
				</div>
				<!-- 대금구분업체  -->
				<label for="mdb01_ptnrkey" class="setting-grid-title">[[#{md.bvlrma.ptnrkey}]]</label>
				<div class="setting-grid-content">
					<div class="input-group">
						<select id="mdb01_ptnrkey">
							<option value="">[[#{ms.chooseAll}]]</option>
						</select>
					</div>
				</div>
				<!-- 대금구분  -->
				<label for="mdb01_blrpmgb" class="setting-grid-title">[[#{md.bvlrma.blrpmgb}]]</label>
				<div class="setting-grid-content">
					<div class="input-group">
						<select id="mdb01_blrpmgb">
							<option value="">[[#{ms.chooseAll}]]</option>
						</select>
					</div>
				</div>
				<!-- 계정  -->
				<label for="mdb01_blrcsgb" class="setting-grid-title">[[#{md.bvlrma.blrcsgb}]]</label>
				<div class="setting-grid-content">
					<div class="input-group">
						<select id="mdb01_blrcsgb">
							<option value="">[[#{ms.chooseAll}]]</option>
						</select>
					</div>
				</div>
				<!-- sub계정  -->
				<label for="mdb01_blrtkgb" class="setting-grid-title">[[#{md.bvlrma.blrtkgb}]]</label>
				<div class="setting-grid-content">
					<div class="input-group">
						<select id="mdb01_blrtkgb">
							<option value="">[[#{ms.chooseAll}]]</option>
						</select>
					</div>
				</div>
				<!-- 단위 -->
				<label for="mdb01_blrunit" class="setting-grid-title">[[#{md.bvlrma.blrunit}]]</label>
				<div class="setting-grid-content">
					<div class="input-group">
						<select id="mdb01_blrunit">
							<option value="">[[#{ms.chooseAll}]]</option>
						</select>
					</div>
				</div>
				<!-- 조회형태 : 적용위주, 내역위주 -->
				<label class="setting-grid-title">[[#{md.mdb01.selectionPoint}]]</label>
				<div class="setting-grid-content">
					<div class="radio-group" id="mdb01PointDom">
						<input type="radio" id="mdb01Applicate" name="mdb01Point"
							value="APP" checked="checked"> <label
							for="mdb01Applicate">[[#{md.mdb01.applicate}]]</label> <input
							type="radio" id="mdb01History" name="mdb01Point" value="HIS">
						<label for="mdb01History">[[#{md.mdb01.history}]]</label>
					</div>
				</div>
				<!-- 적용시작년월 -->
				<label for="mdb01_blrdate" class="setting-grid-title">[[#{md.bvlrma.blrdate}]]</label>
				<div class="setting-grid-content">
					<div class="input-wrapper">
						<input style="width: 100%;" type="month" id="mdb01_blrdate"
							onkeyup="setInputDateDel(this)" />
					</div>
				</div>
			</div>
			<div class="search-btn-group">
				<button type="button"
					class="btn-search btn-navy btn-green btn-green" id="mdb01_search">
					<img>[[#{bt.search}]]
				</button>
				<button type="button" class="btn-clear btn-white" id="mdb01_reset">
					<img>[[#{bt.reset}]]
				</button>
			</div>
		</div>
		<div class="search-list">
			<div class="list-top">
				<div class="list-title ic-title-mark">
					<span th:text="${gnatitle}"></span>
				</div>
				<div class="edit-btn-wrapper">
					<button class="btn-navy btn-green btn-green" id="mdb01_save">
						<img class="ic-bt-save">[[#{bt.save}]]
					</button>
				</div>
			</div>
			<div class="list-grid-wrapper con-box">
				<div id="mdb01_grid"></div>
			</div>
		</div>
	</div>
	<script>
	
	/*  mdb01 -  변동물류비
	*   최초 생성일시   : 2023-12-12 10:30
	*   최초 생성자      : 고은별
	*   설명      	: 변동물류비 요율을 등록, 수정, 조회하는 화면
	*   수정 내역  	:
	*   수정일시		:
	*   수정자		:
	*   변경 사항		:
	*/
	
	
$(function() {
	
	const nullifyActionWhenChanged = (ui, idx, columnName, targetColList = []) => {
		if (!ui.updateList[idx].oldRow[columnName]) return;
		if (ui.updateList[idx].newRow[columnName] !== ui.updateList[idx].oldRow[columnName]) {
			targetColList.forEach(targetCol =>
				ui.updateList[idx].rowData[targetCol] = null)
		}
	}
	
    // 라디오 버튼 요소와 날짜 선택 박스 요소 가져오기
    const radioApplicate = $('#mdb01Applicate');
    const radioHistory = $('#mdb01History');
    const inputBlrdate = $('#mdb01_blrdate');

    // 라디오 버튼 변경 이벤트 핸들러 추가
    radioApplicate.change(handleRadioChange);
    radioHistory.change(handleRadioChange);

    // 라디오 버튼 변경 이벤트 핸들러
    function handleRadioChange() {
        if (radioHistory.prop('checked')) {
            // HIS 라디오 버튼이 선택된 경우
            inputBlrdate.val(''); // 날짜 선택 박스 비우기
            inputBlrdate.prop('disabled', true); // 날짜 선택 박스 비활성화 (attr 사용하면 문자열써야함)
        } else {
            // HIS 라디오 버튼이 선택되지 않은 경우
            $('#mdb01_blrdate').val(moment().format('YYYY-MM')); 
            inputBlrdate.prop('disabled', false); // 날짜 선택 박스 활성화
        }
    }

    // 초기 상태 설정
    if (radioHistory.prop('checked')) {
        // 페이지 로드 시 HIS 라디오 버튼이 선택된 경우
        inputBlrdate.val(''); // 날짜 선택 박스 비우기
        inputBlrdate.prop('disabled', true); // 날짜 선택 박스 비활성화
    }

	
	const mdb01Init = initMdb01();

	$('#mdb01_blrdate').val(moment().format('YYYY-MM')); //현재년도 현재 월
	
	
	//============================================================
	//검색 이벤트
	//============================================================
	$('#mdb01_search').click(async function(){
		await mdb01List();
	});
	
	//============================================================
	//초기화 버튼 클릭 이벤트
	//============================================================
    
    $('#mdb01_reset').click(function() {
    	resetSearchConditions();
    	
/*         // 피큐셀렉트 ownerky 초기화
        $("#mdb01_ownerky").val("");
        $("#mdb01_ownerky").pqSelect('refreshData');
      */   
        // radio 버튼 초기화
        $("#mdb01Applicate").prop("checked", true);
        $('#mdb01_blrdate').val(moment().format('YYYY-MM'));
        $('#mdb01_blrdate').prop('disabled', false);
    	
		const grid = pq.grid('#mdb01_grid');
		
        if(grid.pdata.length > 0){
        	const result = confirm('[[#{ms.listViewRollback}]]');
        	if(result){ //그리드 필수값 누락됐을때 초기화 되느냐 안되느냐
        		grid.showLoading();
        		grid.option('dataModel', {data: []});
        		grid.refreshDataAndView();
                grid.hideLoading();
        	}
        }
    })
	
	
	$('#mdb01_save').click(function(){
		const grid = pq.grid('#mdb01_grid'), 
			  gridCheck = grid.Checkbox('state').getCheckedNodes();
		const gridChange = grid.getChanges({all:true});
			  gridChange.addList = gridChange.addList.filter(function(item) {
		            return item.state !== false;
		       });//state가 true인 값만 가져오기
		      gridChange.updateList = gridChange.updateList.filter(function(item) {
		            return item.state !== false;
		       });//state가 true인 값만 가져오기
		if(gridCheck.length>0){
			//============================================================	 
	    	//체크 데이터 중 필수 값 체크
	    	//============================================================
			for(let i=0; i<gridCheck.length; i++){
				//blrdtgb의 value가 Y 일때 blrmfgb, blrcfdt, blrmtgb, blrctdt는 필수값
				// 기준일구분이 사용자지정 일때, From To 체크
				if(!gridCheck[i].blrdtgb){	//기준일구분
					alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]');	//필수입력 값을 입력해주세요.
					grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'blrdtgb'});
					return false;
				}else {
					 if(gridCheck[i].blrdtgb === 'Y'){
				        if(!gridCheck[i].blrmfgb){
				          alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{bm.userselectdayThenNeedData}]]'); // 필수입력 값을 입력해주세요.
				          grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'blrmfgb' });
				          return false;
				        }
				        if(!gridCheck[i].blrcfdt){
				          alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]'); // 필수입력 값을 입력해주세요.
				          grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'blrcfdt' });
				          return false;
				        }
				        if(!gridCheck[i].blrmtgb){
				          alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]'); // 필수입력 값을 입력해주세요.
				          grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'blrmtgb' });
				          return false;
				        }
				        if(!gridCheck[i].blrctdt){
				          alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]'); // 필수입력 값을 입력해주세요.
				          grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'blrctdt' });
				          return false;
				        }
					}
				}
				
	    	  	if(!gridCheck[i].warekey){
					alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]');	//필수입력 값을 입력해주세요.
					grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'warekey' });
	    	  		return false;
	    	  	}
	    	  	if(!gridCheck[i].ownerky){
					alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]');	//필수입력 값을 입력해주세요.
					grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'ownerky' });
	    	  		return false;
	    	  	}
	    	  	if(!gridCheck[i].ptnrkey){
					alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]');	//필수입력 값을 입력해주세요.
					grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'ptnrkey' });
	    	  		return false;
	    	  	}
	    	  	if(!gridCheck[i].blrpmgb){
	    	  		alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]');	//필수입력 값을 입력해주세요.
					grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'blrpmgb'});
	    	  		return false;
	    	  	}
	    	  	if(!gridCheck[i].blrcsgb){
	    	  		alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]');	//필수입력 값을 입력해주세요.
					grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'blrcsgb'});
	    	  		return false;
	    	  	}
	    	  	if(!gridCheck[i].blrtkgb){
	    	  		alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]');	//필수입력 값을 입력해주세요.
					grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'blrtkgb'});
	    	  		return false;
	    	  	}
	    	  	if(!gridCheck[i].blrcost){
	    	  		alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]');	//필수입력 값을 입력해주세요.
					grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'blrcost'});
	    	  		return false;
	    	  	}
	    	  	if(!gridCheck[i].blrdate){
	    	  		alert((gridCheck[i].pq_ri+1)+'[[#{ms.row}]] '+'[[#{ms.requiredValue}]]');	//필수입력 값을 입력해주세요.
					grid.editCell({rowIndx: gridCheck[i].pq_ri, dataIndx: 'blrdate'});
	    	  		return false;
	    	  	}
	    	}	
	    		
			//===============================================================	
			//체크된 데이터 중복 체크
			//===============================================================
			let gridData = grid.getData();
			let checkedGridData = gridData.filter(item => item['state'] === true);
			for (let i = 0; i < gridCheck.length; i++) {
			  for (let j = 0; j < gridData.length; j++) {
			    if (gridCheck[i].pq_ri !== gridData[j].pq_ri) {
			      if (//중요값(회사,창고,화주,대금구분업체,대금구분,계정,sub계정,단위,문서유형,문서타입,적용시작년월,기준일구분) 모두 같다면 막는것 
			        gridCheck[i].compkey === gridData[j].compkey &&
			        gridCheck[i].warekey === gridData[j].warekey &&
			        gridCheck[i].ownerky === gridData[j].ownerky &&
			        gridCheck[i].ptnrkey === gridData[j].ptnrkey &&
			        gridCheck[i].blrpmgb === gridData[j].blrpmgb &&
			        gridCheck[i].blrcsgb === gridData[j].blrcsgb &&
			        gridCheck[i].blrtkgb === gridData[j].blrtkgb &&
			        gridCheck[i].blrunit === gridData[j].blrunit &&
			        gridCheck[i].doccate === gridData[j].doccate && //추후 그리드에서는 hidden
			        gridCheck[i].doctype === gridData[j].doctype &&
			        gridCheck[i].blrdtgb === gridData[j].blrdtgb &&
			        gridCheck[i].blrdate === gridData[j].blrdate
			      ) {
			    	  alert((gridCheck[i].pq_ri + 1) + '[[#{bm.rownum}]] ' + (gridData[j].pq_ri + 1) + '[[#{bm.duplication}]]\n' +
			    			  '[[#{grid.whnamlc}]]' + ', ' +
			    			  '[[#{grid.ownamlc}]]' + ', ' +
			    			  '[[#{md.bvlrma.blrpmgb}]]' + ', ' +
			    			  '[[#{md.bvlrma.ptnrkey}]]' + ', ' +
			    			  '[[#{md.bvlrma.blrcsgb}]]' + ', ' +
			    			  '[[#{md.bvlrma.blrtkgb}]]' + ', ' +
			    			  '[[#{md.bvlrma.blrunit}]]' + ', ' +
			    			  '[[#{md.bvlrma.doctype}]]' + ', ' +
			    			  '[[#{md.bvlrma.blrdate}]]' + ', ' +
			    			  '[[#{md.bvlrma.blrdtgb}]]' + ' [[#{ms.DuplicateKeyErr}]]'
			    			);
			    	  grid.editCell({ rowIndx: gridCheck[i].pq_ri, dataIndx: "warekey" });
			    	  return false;
			      }
			    }
			  }
			}

			//updateList 체크 데이터 정제
			for(let z=0; z<gridChange.updateList.length; z++){
				if(gridChange.updateList[z].state !== true){
					gridChange.updateList.splice(z, 1);
					gridChange.oldList.splice(z, 1);
				}
			}
			
			//addList 체크 데이터 정제
			for(let x=0; x<gridChange.addList.length; x++){
				if(gridChange.addList[x].state !== true){
					gridChange.addList.splice(x, 1);
				}
			}
		
			let result = confirm('[[#{ms.checksave}]]');
			if(result === true){
				const data = gridChange;
				saveMdb01List(data);
			}
		} else {
			alert('[[#{ms.choiceRowZero}]]');
		} 
	});
	
	
	function initMdb01(){
		
		let mdb01Init = callAjax("data", "GET" , "/md/billingMaster/mdb01/init", {});
		
		// 창고 리스트
		if(mdb01Init.warekeyList){
			$("#mdb01_warekey option").not("[value='']").remove();
			$.each(mdb01Init.warekeyList, function(key, value) {
				$('#mdb01_warekey').append($("<option></option>").attr("value",value.combovl).text(value.combonm)); 
			});
		}
		
		// 화주 리스트
		if(mdb01Init.ownerkyList){
			$.each(mdb01Init.ownerkyList, function(key, value) { 
				$('#mdb01_ownerky').append($("<option></option>").attr("value",value.combovl).text(value.combonm)); 
			});
		}
		
		// 협력사 리스트
		if(mdb01Init.ptnrkeyList){
			$.each(mdb01Init.ptnrkeyList, function(key, value) {
				$('#mdb01_ptnrkey').append($("<option></option>").attr("value",value.combovl).text(value.combonm)); 
			});
		}
		
        $('#mdb01_ptnrkey').pqSelect({
            deselect: false
        });
		
		// 대금구분
		if(mdb01Init.blrpmgbList){
			$.each(mdb01Init.blrpmgbList, function(key, value) {
				$('#mdb01_blrpmgb').append($("<option></option>").attr("value",value.combovl).text(value.combonm)); 
			});
		}
		
		// 단위
		if(mdb01Init.blrunitList){
			$.each(mdb01Init.blrunitList, function(key, value) {
				$('#mdb01_blrunit').append($("<option></option>").attr("value",value.combovl).text(value.combonm)); 
			});
		}
		
		// 계정
		if (mdb01Init.blrcsgbList) {
		  $.each(mdb01Init.blrcsgbList, function(key, value) {
		      $('#mdb01_blrcsgb').append($("<option></option>").attr("value", value.combovl).text(value.combonm));
		   });
	    }

		// sub계정
		if(mdb01Init.blrtkgbList){
			$.each(mdb01Init.blrtkgbList, function(key, value) {
				$('#mdb01_blrtkgb').append($("<option></option>").attr("value",value.combovl).text(value.combonm)); 
			});
		}
		
        $('#mdb01_ownerky').pqSelect({
            deselect: false
        });
        
		return mdb01Init;
	}

	//그리드컬럼모델 정의
	const mdb01GridCm = [
		{ title: "[[#{common.grid.recIndx}]]", dataType: "string", dataIndx: "rowkey", hidden: true, editable: false },
		{ title: "", dataType: 'bool', dataIndx: "state", align: "center",
            type: 'checkbox', sortable: false, editor: false,
            cb: { all: false, header: true }
        },
        { title: "[[#{md.bvlrma.compkey}]]", dataType: "string", dataIndx: "compkey", hidden: true , editable: false,
        	styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },	
        },
        { title: "[[#{md.bvlrma.bvlcode}]]", dataType: "string", dataIndx: "bvlcode", editable: false },
		{ title: "[[#{grid.whnamlc}]]", dataType: "string", dataIndx: "warekey",	 // 창고
			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
			editor: {
				type: "select",
	            init: function (ui) { 
	            	ui.$cell.find("select").pqSelect({ search : false, singlePlaceholder: '' });
	            	setTimeout(function () {
	                	ui.$cell.find("select").pqSelect('open'); 
	                }, 250);
	            },
				options: []
			},
	        render: function (ui) {
				if(ui.rowData.bilgcnt === 'Y'){
					ui.style.push('background:#e4e4eb;');
					ui.cls.push('pq-cell-disable');
				}
          		let option = ui.column.editor.options.find(function (obj) {
                   return (obj[ui.cellData] != null);
               	});
              	return option ? option[ui.cellData] : "";
			},
			editable: function (ui) {
			    if (typeof ui.rowData.bilgcnt === 'undefined') {
			        return true;
			    } else {
			        return ui.rowData.bilgcnt === 'N' ? true : false;
			    }
			}
		},
		{ title: "[[#{grid.ownamlc}]]", dataType: "string", dataIndx: "ownerky" , //화주
			styleHead: { 'background-color':'[[#{grid.styleHead01}]]'},
			editor: {
				type: "select",
	            init: function (ui) { 
	            	ui.$cell.find("select").pqSelect({ search : true, singlePlaceholder: '' });
	            	setTimeout(function () {
	                	ui.$cell.find("select").pqSelect('open'); 
	                }, 250);
	            },
				options: []
			},
	        render: function (ui) {
				if(ui.rowData.bilgcnt === 'Y'){
					ui.style.push('background:#e4e4eb;');
					ui.cls.push('pq-cell-disable');
				}
          		let option = ui.column.editor.options.find(function (obj) {
                   return (obj[ui.cellData] != null);
               	});
              	return option ? option[ui.cellData] : "";
			},
			editable: function (ui) {
			    if (typeof ui.rowData.bilgcnt === 'undefined') {
			        return true;
			    } else {
			        return ui.rowData.bilgcnt === 'N' ? true : false;
			    }
			}
		},
		{ title: "[[#{md.bvlrma.ptnrkey}]]", dataType: "string", dataIndx: "ptnrkey" , //협력사
			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
			editor: {
				type: "select",
	            init: function (ui) { 
	            	ui.$cell.find("select").pqSelect({ search : true, singlePlaceholder: '' });
	            	setTimeout(function () {
	                	ui.$cell.find("select").pqSelect('open'); 
	                }, 250);
	            },
				options: []
			},
	        render: function (ui) {
				if(ui.rowData.bilgcnt === 'Y'){
					ui.style.push('background:#e4e4eb;');
					ui.cls.push('pq-cell-disable');
				}
          		let option = ui.column.editor.options.find(function (obj) {
                   return (obj[ui.cellData] != null);
               	});
              	return option ? option[ui.cellData] : "";
			},
			editable: function (ui) {
			    if (typeof ui.rowData.bilgcnt === 'undefined') {
			        return true;
			    } else {
			        return ui.rowData.bilgcnt === 'N' ? true : false;
			    }
			},
			validations: [{ type: 'minLen', value: 1, msg: '[[#{ms.validations.minLenLength(1)}]]' }]
		},
		{ title: "[[#{md.bvlrma.blrcsgb}]]", dataType: "string", dataIndx: "blrcsgb" , //계정
			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
			editor: {
				type: "select",
	            init: function (ui) { 
	            	ui.$cell.find("select").pqSelect({ search : false, singlePlaceholder: '' });
	            	setTimeout(function () {
	                	ui.$cell.find("select").pqSelect('open'); 
	                }, 250);
	            },
				options: []
			},
	        render: function (ui) {
				if(ui.rowData.bilgcnt === 'Y'){
					ui.style.push('background:#e4e4eb;');
					ui.cls.push('pq-cell-disable');
				}
          		let option = ui.column.editor.options.find(function (obj) {
                   return (obj[ui.cellData] != null);
               	});
              	return option ? option[ui.cellData] : "";
			},
			editable: function (ui) {
			    if (typeof ui.rowData.bilgcnt === 'undefined') {
			        return true;
			    } else {
			        return ui.rowData.bilgcnt === 'N' ? true : false;
			    }
			},
			validations: [{ type: 'minLen', value: 1, msg: '[[#{ms.requiredValue}]]' }]
		},
		{ title: "[[#{md.bvlrma.blrtkgb}]]", dataType: "string", dataIndx: "blrtkgb" , // sub계정
			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
			editor: {
				type: "select",
	            init: function (ui) { 
	            	ui.$cell.find("select").pqSelect({ search : false, singlePlaceholder: '' });
	            	setTimeout(function () {
	                	ui.$cell.find("select").pqSelect('open'); 
	                }, 250);
	            },
				options: []
			},
	        render: function (ui) {
				if(ui.rowData.bilgcnt === 'Y'){
					ui.style.push('background:#e4e4eb;');
					ui.cls.push('pq-cell-disable');
				}
          		let option = ui.column.editor.options.find(function (obj) {
                   return (obj[ui.cellData] != null);
               	});
              	return option ? option[ui.cellData] : "";
			},
			editable: function (ui) {
			    if (typeof ui.rowData.bilgcnt === 'undefined') {
			        return true;
			    } else {
			        return ui.rowData.bilgcnt === 'N' ? true : false;
			    }
			}
		},
		{ title: "[[#{md.bvlrma.blrpmgb}]]", dataType: "string", dataIndx: "blrpmgb" , //대금구분
			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
			editor: {
				type: "select",
	            init: function (ui) { 
	            	ui.$cell.find("select").pqSelect({ search : false, singlePlaceholder: '' });
	            	setTimeout(function () {
	                	ui.$cell.find("select").pqSelect('open'); 
	                }, 250);
	            },
				options: []
			},
	        render: function (ui) {
				if(ui.rowData.bilgcnt === 'Y'){
					ui.style.push('background:#e4e4eb;');
					ui.cls.push('pq-cell-disable');
				}
          		let option = ui.column.editor.options.find(function (obj) {
                   return (obj[ui.cellData] != null);
               	});
              	return option ? option[ui.cellData] : "";
			},
			editable: function (ui) {
			    if (typeof ui.rowData.bilgcnt === 'undefined') {
			        return true;
			    } else {
			        return ui.rowData.bilgcnt === 'N' ? true : false;
			    }
			}
		}, 
		{ title: '[[#{md.bvlrma.blrunit}]]', dataType: 'string', dataIndx: 'blrunit', //단위
			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
			editor: {
				type: 'select',
				init: function (ui) {
					ui.$cell.find('select').pqSelect({ search : false, singlePlaceholder: '' });
					setTimeout(function () {
						ui.$cell.find('select').pqSelect('open');
					}, 250);
				},
				options: []
			},
			render: function (ui) {
				if(ui.rowData.bilgcnt === 'Y'){
					ui.style.push('background:#e4e4eb;');
					ui.cls.push('pq-cell-disable');
				}
				let option = ui.column.editor.options.find(function (obj) {
					return (obj[ui.cellData] != null);
				});
				return option ? option[ui.cellData] : '';
			},
			editable: function (ui) {
			    if (typeof ui.rowData.bilgcnt === 'undefined') {
			        return true;
			    } else {
			        return ui.rowData.bilgcnt === 'N' ? true : false;
			    }
			}
		},
		{ title: '[[#{md.bvlrma.doctype}]]', dataType: 'string', dataIndx: 'doctype',	 //문서타입
			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
			editor: {
				type: 'select',
				init: function (ui) {
					ui.$cell.find('select').pqSelect({ search : false, singlePlaceholder: '' });
					setTimeout(function () {
						ui.$cell.find('select').pqSelect('open');
					}, 250);
				},
				options: []
			},
			render: function (ui) {
				if(ui.rowData.bilgcnt === 'Y'){
					ui.style.push('background:#e4e4eb;');
					ui.cls.push('pq-cell-disable');
				}
				let combonm;
	            mdb01Init.doctypeList.forEach(function (element, index) {
	               if(ui.rowData.doctype === element.combovl) {
	                  combonm = element.combonm
	               }
	            });
	            return combonm;
			},
			editable: function (ui) {
			    if (typeof ui.rowData.bilgcnt === 'undefined') {
			        return true;
			    } else {
			        return ui.rowData.bilgcnt === 'N' ? true : false;
			    }
			}
		},
		{ title: '[[#{md.bvlrma.doccate}]]', dataType: 'string', dataIndx: 'doccate',  //문서유형 
			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
			editable: false,
			render: function (ui) {
				if(ui.rowData.bilgcnt === 'Y'){
					ui.style.push('background:#e4e4eb;');
					ui.cls.push('pq-cell-disable');
				}
			    if (ui.rowData.doctype) {			    	
			        const doctypeValue = ui.rowData.doctype; //입력한 doctype
			        // doctype에 해당하는 doccate를 찾기
			        const foundItem = mdb01Init.doctypeList.find(item => item.combovl === doctypeValue);
			        if (foundItem) {
			            ui.rowData.doccate = foundItem.doccate; //row에는 코드할당
			            return foundItem.docctnm;  // 한글로 된 값 반환
			        }
			      }
			    },
		}, 
		{ title: "[[#{md.bvlrma.blrcost}]]", dataType: "integer", dataIndx: "blrcost", format: '#,###',
			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },render: function (ui) {
				if(ui.rowData.bilgcnt === 'Y'){
					ui.style.push('background:#e4e4eb;');
					ui.cls.push('pq-cell-disable');
				}
			},
			editable: function (ui) {
			    if (typeof ui.rowData.bilgcnt === 'undefined') {
			        return true;
			    } else {
			        return ui.rowData.bilgcnt === 'N' ? true : false;
			    }
			}
		}, //단가
		{ title: "[[#{md.bvlrma.blrsutx}]]", dataType: "integer", dataIndx: "blrsutx",
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			render: function (ui) {
				if(ui.rowData.bilgcnt === 'Y'){
					ui.style.push('background:#e4e4eb;');
					ui.cls.push('pq-cell-disable');
				}
			},
			editable: function (ui) {
			    if (typeof ui.rowData.bilgcnt === 'undefined') {
			        return true;
			    } else {
			        return ui.rowData.bilgcnt === 'N' ? true : false;
			    }
			}
		}, //부가세
		{ title: "[[#{md.bvlrma.bluseyn}]]", dataType: "string", dataIndx: "bluseyn", 
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			align: "center", type : "checkbox", editor : false,
			cb: { all: false, header: false, check: "Y", uncheck: "N" },
			render : function(ui){
				var cb = ui.column.cb, cellData = ui.cellData, checked = cb.check === cellData ? 'checked' : '';
			}
		}, //사용여부
		{ title: "[[#{md.bvlrma.blrdate}]]", dataType: "date", format:"yy-mm", dataIndx: "blrdate",
			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
			cls: 'pq-calendar pq-side-icon',
			editor: {
				type: 'textbox',
				init: monthEditor,
				getData: function (ui) {
					return ui.$cell.find("input").val();
				}
			},
			render: function (ui) {
				if(ui.rowData.bilgcnt === 'Y'){
					ui.style.push('background:#e4e4eb;');
					ui.cls.push('pq-cell-disable');
				}
			},
			editable: function (ui) {
			    if (typeof ui.rowData.bilgcnt === 'undefined') {
			        return true;
			    } else {
			        return ui.rowData.bilgcnt === 'N' ? true : false;
			    }
			},
			validations: [ { type: 'regexp', value: '^[0-9]{4}-[0-9]{2}$', msg: 'Not in date format' } ]
		}, //적용시작년월
		{ title: "[[#{md.bvlrma.blrdtgb}]]", dataType: "string", dataIndx: "blrdtgb" ,
			styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
			editor: {
				type: "select",
	            init: function (ui) { 
	            	ui.$cell.find("select").pqSelect({ search : false, singlePlaceholder: '' });
	            	setTimeout(function () {
	                	ui.$cell.find("select").pqSelect('open'); 
	                }, 250);
	            },
				options: []
			},
			render: function (ui) {
				if(ui.rowData.bilgcnt === 'Y'){
					ui.style.push("background:#e4e4eb;");
					ui.cls.push('pq-cell-disable');
				}
				let option = ui.column.editor.options.find(function (obj) {
					return (obj[ui.cellData] != null);
				});
				return option ? option[ui.cellData] : '';
			},
			editable: function (ui) {
				return (ui.rowData.bilgcnt === 'Y') ? false : true;
			},
		}, //기준일구분 (Y일때만 blrmtgb,blrctdt,blrmtgb,blrctdt열린다)
		{ title: "[[#{md.bplrma.blrmfgb}]]", dataType: "string", dataIndx: "blrmfgb",	//월구분From
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			editor: {
				type: "select",
				init: function (ui) {
					ui.$cell.find("select").pqSelect({ search : false, singlePlaceholder: '' });
					setTimeout(function () {
						ui.$cell.find("select").pqSelect('open');
					}, 250);
				},
				options: []
			},
			render: function (ui) {
				if(ui.rowData.bilgcnt === 'Y' || ui.rowData.blrdtgb != 'Y'){
					ui.style.push('background:#e4e4eb;');
					ui.cls.push('pq-cell-disable');
				}
				let option = ui.column.editor.options.find(function (obj) {
					return (obj[ui.cellData] != null);
				});
				return option ? option[ui.cellData] : '';
			},
			editable: function (ui) {
				return (ui.rowData.bilgcnt === 'Y') ? false : (ui.rowData.blrdtgb === 'Y' ? true : false);
			}
		},
		{ title: "[[#{md.bplrma.blrmtgb}]]", dataType: "string", dataIndx: "blrmtgb",	//월구분To
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			editor: {
				type: "select",
				init: function (ui) {
					ui.$cell.find("select").pqSelect({ search : false, singlePlaceholder: '' });
					setTimeout(function () {
						ui.$cell.find("select").pqSelect('open');
					}, 250);
				},
				options: []
			},
			render: function (ui) {
				if(ui.rowData.bilgcnt === 'Y' || ui.rowData.blrdtgb != 'Y'){
					ui.style.push('background:#e4e4eb;');
					ui.cls.push('pq-cell-disable');
				}
				let option = ui.column.editor.options.find(function (obj) {
					return (obj[ui.cellData] != null);
				});
				return option ? option[ui.cellData] : '';
			},
			editable: function (ui) {
				return (ui.rowData.bilgcnt === 'Y') ? false : (ui.rowData.blrdtgb === 'Y' ? true : false);
			}
		},
		{ title: "[[#{md.bplrma.blrcfdt}]]", dataType: "string", dataIndx: "blrcfdt",	//기준일From
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			editor: {
				type: "select",
				init: function (ui) {
					ui.$cell.find("select").pqSelect({ search : false, singlePlaceholder: '' });
					setTimeout(function () {
						ui.$cell.find("select").pqSelect('open');
					}, 250);
				},
				options: []
			},
			render: function (ui) {
				if(ui.rowData.bilgcnt === 'Y' || ui.rowData.blrdtgb != 'Y'){
					ui.style.push('background:#e4e4eb;');
					ui.cls.push('pq-cell-disable');
				}
				let option = ui.column.editor.options.find(function (obj) {
					return (obj[ui.cellData] != null);
				});
				return option ? option[ui.cellData] : '';
			},
			editable: function (ui) {
				return (ui.rowData.bilgcnt === 'Y') ? false : (ui.rowData.blrdtgb === 'Y' ? true : false);
			}
		},
		{ title: "[[#{md.bplrma.blrctdt}]]", dataType: "string", dataIndx: "blrctdt",	//기준일To
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			editor: {
				type: "select",
				init: function (ui) {
					ui.$cell.find("select").pqSelect({ search : false, singlePlaceholder: '' });
					setTimeout(function () {
						ui.$cell.find("select").pqSelect('open');
					}, 250);
				},
				options: []
			},
			render: function (ui) {
				if(ui.rowData.bilgcnt === 'Y' || ui.rowData.blrdtgb != 'Y'){
					ui.style.push('background:#e4e4eb;');
					ui.cls.push('pq-cell-disable');
				}
				let option = ui.column.editor.options.find(function (obj) {
					return (obj[ui.cellData] != null);
				});
				return option ? option[ui.cellData] : '';
			},
			editable: function (ui) {
				return (ui.rowData.bilgcnt === 'Y') ? false : (ui.rowData.blrdtgb === 'Y' ? true : false);
			}
		},
		{ title: "[[#{md.bvlrma.blrtknm}]]", dataType: "string", dataIndx: "blrtknm",
			styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
			render: function (ui) {
				return (ui.rowData.bilgcnt === 'Y') ? {style: 'background-color:#e4e4eb;', cls: 'pq-cell-disable'} : {};
			},
			editable: function (ui) {
				return (ui.rowData.bilgcnt === 'Y') ? false : true;
			},
			validations : [{ type: 'minLen', value: 0, warn: true }, { type: 'maxLen', value: 60, msg: '[[#{ms.validations.maxLenLength(60)}]]' }]
		}, //명세표구분명
		{ title: "[[#{md.bvlrma.credate}]]", dataType: "string", dataIndx: "credate", editable:false }, //생성일자
		{ title: "[[#{md.bvlrma.cretime}]]", dataType: "string", dataIndx: "cretime", editable:false }, //생성시간
		{ title: "[[#{md.bvlrma.creuser}]]", dataType: "string", dataIndx: "creuser", editable:false }, //생성자
		{ title: "[[#{md.bvlrma.lmodate}]]", dataType: "string", dataIndx: "lmodate", editable:false }, //수정일자
		{ title: "[[#{md.bvlrma.lmotime}]]", dataType: "string", dataIndx: "lmotime", editable:false }, //수정시간
		{ title: "[[#{md.bvlrma.lmouser}]]", dataType: "string", dataIndx: "lmouser", editable:false }, //수정자
		{ title: "[[#{md.bvlrma.indibzl}]]", dataType: "string", dataIndx: "indibzl" , editable: false, hidden: true }, //Busifness logic indicator
		{ title: "[[#{md.bvlrma.indiarc}]]", dataType: "string", dataIndx: "indiarc" , editable: false, hidden: true }, //Archive indicator
		{ title: "[[#{md.bvlrma.updtchk}]]", dataType: "integer", dataIndx: "updtchk" , editable: false, hidden: true }, //Update check

	];
	
	//GridUtil(colModel, progrId, gridId) mdb01_grid 변수에 GridUtil할당
	const mdb01Grid = new GridUtil(mdb01GridCm, '[[${gprogrid}]]', 'mdb01_grid');
	
	//그리드에 값들 넣어주기
	function setColumnEditorOptions(column, list) {
	    if (list) {
	        const options = list.map(function (obj) {
	            const rObj = {};
	            rObj[obj.combovl] = obj.combonm;
	            return rObj;
	        });
	        column.editor.options = options;
	    }
	}
	
	mdb01Grid.setCreate(function (evt, ui) {
	    setColumnEditorOptions(this.getColumn({ dataIndx: "ownerky" }), mdb01Init.ownerkyList);
	    setColumnEditorOptions(this.getColumn({ dataIndx: "warekey" }), mdb01Init.warekeyList);
	    setColumnEditorOptions(this.getColumn({ dataIndx: "ptnrkey" }), mdb01Init.ptnrkeyList);
	    setColumnEditorOptions(this.getColumn({ dataIndx: "blrpmgb" }), mdb01Init.blrpmgbList);
	    setColumnEditorOptions(this.getColumn({ dataIndx: "blrcsgb" }), mdb01Init.blrcsgbList);
	    setColumnEditorOptions(this.getColumn({ dataIndx: "blrtkgb" }), mdb01Init.blrtkgbList);
	    setColumnEditorOptions(this.getColumn({ dataIndx: "blrunit" }), mdb01Init.blrunitList);
	    setColumnEditorOptions(this.getColumn({ dataIndx: "doctype" }), mdb01Init.doctypeList);
	    setColumnEditorOptions(this.getColumn({ dataIndx: "blrdtgb" }), mdb01Init.blrdtgbList);
	    setColumnEditorOptions(this.getColumn({ dataIndx: "blrmfgb" }), mdb01Init.blrmfgbList);
	    setColumnEditorOptions(this.getColumn({ dataIndx: "blrmtgb" }), mdb01Init.blrmtgbList);
	    setColumnEditorOptions(this.getColumn({ dataIndx: "blrcfdt" }), mdb01Init.blrcfdtList);
	    setColumnEditorOptions(this.getColumn({ dataIndx: "blrctdt" }), mdb01Init.blrctdtList);
	});

	
	mdb01Grid.setAdd(function(evt, ui){	
        let rowData = { state: true, compkey: "[[${userattr.compkey}]]", 
                       blrdtgb: "N", bluseyn: "Y", blrsutx: 10, blrcost: 0,
                       blrdate: moment().format('YYYY-MM')
        			   };
        let rowIndx = this.addRow({ rowData: rowData, checkEditable: false });
        this.goToPage({ rowIndx: rowIndx });
        this.editCell({ rowIndx: rowIndx, dataIndx: "warekey" });
	});
	
	mdb01Grid.setFind();
	
	
	mdb01Grid.setCellSave(function(evt, ui){
		this.refreshRow({ rowIndx: ui.rowIndx });
		//단가 0,음수 불가능 부가세 음수 불가능
		if(ui.dataIndx === 'blrcost'){
			if(ui.rowData.blrcost===0){
				alert('[[#{bm.zerocost}]]');
				this.updateRow({ rowIndx: ui.rowIndx, newRow: { blrcost:'' }, checkEditable:false });
			}else if(ui.rowData.blrcost < 0){
				alert('[[#{bm.minuscost}]]');
				this.updateRow({ rowIndx: ui.rowIndx, newRow: { blrcost:'' }, checkEditable:false });
			}
		}
		
		if(ui.dataIndx === 'blrsutx'){
			if(ui.rowData.blrsutx < 0){
				alert('[[#{bm.minusvat}]]');
				this.updateRow({ rowIndx: ui.rowIndx, newRow: { blrsutx:'' }, checkEditable:false });
			}
		}
	});

	mdb01Grid.setCellClick(function(evt, ui){
	    // 창고와 계정 값 가져오기
	    const warekeyValue = ui.rowData.warekey;
	    const blrcsgbValue = ui.rowData.blrcsgb;
	    const doubleValue = warekeyValue + blrcsgbValue;

	    // 데이터 존재 여부 확인
	    if (mdb01Init.doctypeList) {
	        // 창고와 계정 모두 고려하여 문서 타입을 찾음
		    const foundDoctype = mdb01Init.doctypeList.filter(element => {
		        if (warekeyValue && blrcsgbValue) {
		            const doubleValue = warekeyValue + blrcsgbValue;
		            return (element.warekey + element.doctat5) === doubleValue;
		        } else if (warekeyValue) {
		            return element.warekey === warekeyValue;
		        } else if (blrcsgbValue) {
		            return element.doctat5 === blrcsgbValue;
		        }
		        return false;
	        });

	        // 문서 타입 컬럼에 옵션 설정
	        const doctypeColumn = this.getColumn({ dataIndx: "doctype" });
	        const doctypeOptions = foundDoctype.map(function(obj){
	            return {[obj.combovl]: obj.combonm};
	        });
	        doctypeColumn.editor.options = doctypeOptions;
	    }
	});

	

	//요율코드에 값이 있다면 삭제 x
	mdb01Grid.setDelete(function(evt, ui){
		const grid = this;
		const checkList = this.Checkbox('state').getCheckedNodes();
		const rows = [];
		
		if (checkList.length > 0) {
		  const rowdelete = window.confirm("[[#{ms.choiceRowDelete}]]");
		
		    if (rowdelete) {
		      for (let i = 0; i < checkList.length; i++) {
		        if (!checkList[i].bvlcode) { //bvlcode값이 없다면 
		          rows.push({ rowIndx: checkList[i].pq_ri });
		        }
		      }
		      grid.deleteRow({ rowList: rows }); //삭제
		    }
		  } 
	});
	
	mdb01Grid.setChange(function(evt, ui){
		//console.log(ui);
		if('edit' === ui.source){
			for(let ind=0; ind<ui.updateList.length; ind++){
				const newRow = {state : true};
				
				//rowData에 blrcsgb 있을때 => 문서타입이 들고있는 doctat5와 비교
				if (ui.updateList[ind].rowData.blrcsgb) {
					if(ui.updateList[ind].newRow.doctype){
						let doctypeValue = ui.updateList[ind].newRow.doctype;
						let blrcsgbValue = ui.updateList[ind].rowData.blrcsgb;
						let doubleValue = doctypeValue + blrcsgbValue
						let findDoctat5;
						mdb01Init.doctypeList.forEach(function(element, index){
							if(doubleValue === element.combovl + element.doctat5){
								findDoctat5 = element.doctat5;
							}
						})
						if(blrcsgbValue !== findDoctat5){
							newRow.doctype='';
							newRow.doccate='';
						}
					}
				}
				
				//rowData에 doctype 있을때 => 계정이 들고있는 doctat5와 비교
				if (ui.updateList[ind].rowData.doctype) {
					if(ui.updateList[ind].newRow.blrcsgb){
						let blrValue = ui.updateList[ind].newRow.blrcsgb;
						let docValue = ui.updateList[ind].rowData.doctype;
						let doubleValue = blrValue + docValue
						let findDoctype;
						mdb01Init.doctypeList.forEach(function(element, index){
							if(doubleValue === element.doctat5 + element.combovl){
								findDoctype = element.combovl;
							}
						})
						if(docValue !== findDoctype){
							newRow.blrcsgb='';
						}
					}
				}
				
				//rowData에 문서타입 있을때 창고확인=> 문서타입이 들고있는 warekey와 비교
				if (ui.updateList[ind].rowData.doctype) {
					if(ui.updateList[ind].newRow.warekey){
						let wareValue = ui.updateList[ind].newRow.warekey;
						let docValue = ui.updateList[ind].rowData.doctype;
						let findWDoctype;
						mdb01Init.doctypeList.forEach(function(element, index){
							if(wareValue === element.warekey){
								findWDoctype = element.combovl;
							}
						})
						if(docValue !== findWDoctype){
							newRow.doctype='';
							newRow.doccate='';
						}
					}
				}
				
				//rowData에 창고가 있을때 문서타입확인 => 창고가 들고 있는 combovl(문서타입)과 비교
				if (ui.updateList[ind].rowData.warekey) {
					if(ui.updateList[ind].newRow.doctype){
						let doctypeValue = ui.updateList[ind].newRow.doctype;
						let warekeyValue = ui.updateList[ind].rowData.warekey;
						let findWare;
						mdb01Init.doctypeList.forEach(function(element, index){
							if(doctypeValue === element.combovl){
								findWare = element.warekey;
							}
						})
						if(warekeyValue !== findWare){
							newRow.warekey='';
						}
					}
				}
				
				//창고값이 바뀌면 계정,문서타입,문서유형 초기화
			    nullifyActionWhenChanged(ui, ind, 'warekey', ['blrcsgb','doctype','doccate']);
				
			    // 계정 값이 바뀌면 문서타입, 문서유형 초기화      
			    nullifyActionWhenChanged(ui, ind, 'blrcsgb', ['doctype','doccate']);
			    

				// 월구분From 바뀌면 기준일from, 월구분to, 기준일to 초기화
				nullifyActionWhenChanged(ui, ind, 'blrmfgb', ['blrcfdt','blrmtgb','blrctdt']);
				
				// 기준일구분
				if(ui.updateList[ind].newRow.hasOwnProperty('blrdtgb') && ui.updateList[ind].oldRow.hasOwnProperty('blrdtgb')){
					if(ui.updateList[ind].newRow.blrdtgb !== 'Y'){
						newRow.blrmfgb = '';	//월구분From
						newRow.blrcfdt = '';	//기준일From
						newRow.blrmtgb = '';	//월구분To
						newRow.blrctdt = '';	//기준일To
					}
				}
				// 월구분from
				if(ui.updateList[ind].newRow.hasOwnProperty('blrmfgb')){
					if(ui.updateList[ind].newRow.blrmfgb === 'TM' && ui.updateList[ind].rowData.blrmtgb === 'PM'){
						alert('[[#{bm.lastMonthNotThisMonth}]]');	//월구분to가 [전월]이면 월구분from이 [당월]일 수 없습니다.
						newRow.blrmfgb = ui.updateList[ind].oldRow.blrmfgb;	//전 값으로 초기화
					}
					// 월구분To 와 값이 같다면 기준일이 있는지 체크하고, 있다면 크기도 체크
					else if(typeof ui.updateList[ind].rowData.blrmtgb === 'string' && ui.updateList[ind].newRow.blrmfgb === ui.updateList[ind].rowData.blrmtgb){
						if(typeof ui.updateList[ind].rowData.blrcfdt === 'string' && typeof ui.updateList[ind].rowData.blrctdt === 'string' &&
								(ui.updateList[ind].rowData.blrcfdt === ui.updateList[ind].rowData.blrctdt || ui.updateList[ind].rowData.blrcfdt > ui.updateList[ind].rowData.blrctdt)
						){
							alert('[[#{bm.equalmonthNotAllowHigh}]]');
							newRow.blrmfgb = ui.updateList[ind].oldRow.blrmfgb;	//전 값으로 초기화
						}
					}
				}
				// 월구분to
				if(ui.updateList[ind].newRow.hasOwnProperty('blrmtgb')){
					if(ui.updateList[ind].newRow.blrmtgb === 'PM' && ui.updateList[ind].rowData.blrmfgb === 'TM'){
						alert('[[#{bm.thisMonthNotLastMonth}]]');	//월구분from이 [당월]이면 월구분to가 [전월]일 수 없습니다.
						newRow.blrmtgb = ui.updateList[ind].oldRow.blrmtgb;	//전 값으로 초기화
					}
					// 월구분From 와 값이 같다면 기준일이 있는지 체크하고, 있다면 크기도 체크
					else if(typeof ui.updateList[ind].rowData.blrmfgb === 'string' && ui.updateList[ind].newRow.blrmtgb === ui.updateList[ind].rowData.blrmfgb){
						if(typeof ui.updateList[ind].rowData.blrcfdt === 'string' && typeof ui.updateList[ind].rowData.blrctdt === 'string' &&
								(ui.updateList[ind].rowData.blrcfdt === ui.updateList[ind].rowData.blrctdt || ui.updateList[ind].rowData.blrcfdt > ui.updateList[ind].rowData.blrctdt)
						){
							alert('[[#{bm.equalmonthNotAllowHigh}]]');
							newRow.blrmtgb = ui.updateList[ind].oldRow.blrmtgb;	//전 값으로 초기화
						}
					}
				}
				// 기준일from
				if(ui.updateList[ind].newRow.hasOwnProperty('blrcfdt')){
					if(typeof ui.updateList[ind].rowData.blrmfgb === 'string' && typeof ui.updateList[ind].rowData.blrmtgb === 'string' &&
							ui.updateList[ind].rowData.blrmtgb === ui.updateList[ind].rowData.blrmfgb &&
							(ui.updateList[ind].newRow.blrctdt === ui.updateList[ind].rowData.blrcfdt || ui.updateList[ind].newRow.blrctdt < ui.updateList[ind].rowData.blrcfdt)
					) {
						alert('[[#{bm.equalmonthNotAllowHigh}]]');
						newRow.blrcfdt = ui.updateList[ind].oldRow.blrcfdt;	//전 값으로 초기화
					}
				}
				// 기준일To
				if(ui.updateList[ind].newRow.hasOwnProperty('blrctdt')){
					if(typeof ui.updateList[ind].rowData.blrmfgb === 'string' && typeof ui.updateList[ind].rowData.blrmtgb === 'string' &&
							ui.updateList[ind].rowData.blrmfgb === ui.updateList[ind].rowData.blrmtgb &&
							(ui.updateList[ind].newRow.blrctdt === ui.updateList[ind].rowData.blrcfdt || ui.updateList[ind].newRow.blrctdt < ui.updateList[ind].rowData.blrcfdt)
					){
						alert('[[#{bm.equalmonthNotAllowRow}]]');
						newRow.blrctdt = ui.updateList[ind].oldRow.blrctdt;	//전 값으로 초기화
					}
				}
				this.updateRow( {
					rowIndx : ui.updateList[ind].rowIndx,
					newRow : newRow,
					checkEditable: false
				});
			}
		} else if('paste' === ui.source){
			for(let ind=0; ind<ui.updateList.length; ind++){
				const newRow = {state : true};
				//복붙할때 이미 로우에 계정값이 있을때
				//rowData에 blrcsgb 있을때 => 문서타입이 들고있는 doctat5와 비교
				if (ui.updateList[ind].rowData.blrcsgb) {
					if(ui.updateList[ind].newRow.doctype){
						let doctypeValue = ui.updateList[ind].newRow.doctype;
						let blrcsgbValue = ui.updateList[ind].rowData.blrcsgb;
						let findDoctat5;
						mdb01Init.doctypeList.forEach(function(element, index){
							if(doctypeValue === element.combovl){
								findDoctat5 = element.doctat5;
								console.log(findDoctat5);
							}
						})
						if(blrcsgbValue !== findDoctat5){
							newRow.blrcsgb='';
						}
					}
				}

				//rowData에 doctype 있을때 => 계정이 들고있는 doctat5와 비교
				if (ui.updateList[ind].rowData.doctype) {
					if(ui.updateList[ind].newRow.blrcsgb){
						let blrValue = ui.updateList[ind].newRow.blrcsgb;
						let docValue = ui.updateList[ind].rowData.doctype;
						let findDoctype;
						mdb01Init.doctypeList.forEach(function(element, index){
							if(blrValue === element.doctat5){
								findDoctype = element.combovl;
							}
						})
						if(docValue !== findDoctype){
							newRow.doctype='';
							newRow.doccate='';
						}
					}
				}
				
				
				//rowData에 문서타입 있을때 창고확인=> 문서타입이 들고있는 warekey와 비교
				if (ui.updateList[ind].rowData.doctype) {
					if(ui.updateList[ind].newRow.warekey){
						let wareValue = ui.updateList[ind].newRow.warekey;
						let docValue = ui.updateList[ind].rowData.doctype;
						let findWDoctype;
						mdb01Init.doctypeList.forEach(function(element, index){
							if(wareValue === element.warekey){
								findWDoctype = element.combovl;
							}
						})
						if(docValue !== findWDoctype){
							newRow.doctype='';
							newRow.doccate='';
						}
					}
				}
				
				//rowData에 창고가 있을때 문서타입확인 => 창고가 들고 있는 combovl(문서타입)과 비교
				if (ui.updateList[ind].rowData.warekey) {
					if(ui.updateList[ind].newRow.doctype){
						let doctypeValue = ui.updateList[ind].newRow.doctype;
						let warekeyValue = ui.updateList[ind].rowData.warekey;
						let findWare;
						mdb01Init.doctypeList.forEach(function(element, index){
							if(doctypeValue === element.combovl){
								findWare = element.warekey;
							}
						})
						if(warekeyValue !== findWare){
							newRow.warekey='';
						}
					}
				}
				//창고값이 바뀌면 계정, 문서타입, 문서유형 초기화
			    nullifyActionWhenChanged(ui, ind, 'warekey', ['blrcsgb','doctype','doccate']);
				
				//계정값이 바뀌면 문서타입, 문서유형 초기화
			    nullifyActionWhenChanged(ui, ind, 'blrcsgb', ['doctype','doccate']); 
				

				// 월구분From 바뀌면 기준일from, 월구분to, 기준일to 초기화
				nullifyActionWhenChanged(ui, ind, 'blrmfgb', ['blrcfdt','blrmtgb','blrctdt']);
				
				// 기준일구분
				if(ui.updateList[ind].newRow.hasOwnProperty('blrcfdt') && ui.updateList[ind].oldRow.hasOwnProperty('blrcfdt')){
					if(ui.updateList[ind].newRow.blrdtgb !== 'Y'){
						newRow.blrmtgb = '';	//월구분To
						newRow.blrctdt = '';	//기준일To
					}
				}


				// 기준일구분
				if(ui.updateList[ind].newRow.hasOwnProperty('blrdtgb') && ui.updateList[ind].oldRow.hasOwnProperty('blrdtgb')){
					if(ui.updateList[ind].newRow.blrdtgb !== 'Y'){
						newRow.blrmfgb = '';	//월구분From
						newRow.blrcfdt = '';	//기준일From
						newRow.blrmtgb = '';	//월구분To
						newRow.blrctdt = '';	//기준일To
					}
				}
				// 월구분from
				if(ui.updateList[ind].newRow.hasOwnProperty('blrmfgb')){
					if(ui.updateList[ind].newRow.blrmfgb === 'TM' && ui.updateList[ind].rowData.blrmtgb === 'PM'){
						alert('[[#{bm.lastMonthNotThisMonth}]]');	//월구분to가 [전월]이면 월구분from이 [당월]일 수 없습니다.
						newRow.blrmfgb = ui.updateList[ind].oldRow.blrmfgb;	//전 값으로 초기화
					}
					// 월구분To 와 값이 같다면 기준일이 있는지 체크하고, 있다면 크기도 체크
					else if(typeof ui.updateList[ind].rowData.blrmtgb === 'string' && ui.updateList[ind].newRow.blrmfgb === ui.updateList[ind].rowData.blrmtgb){
						if(typeof ui.updateList[ind].rowData.blrcfdt === 'string' && typeof ui.updateList[ind].rowData.blrctdt === 'string' &&
								(ui.updateList[ind].rowData.blrcfdt === ui.updateList[ind].rowData.blrctdt || ui.updateList[ind].rowData.blrcfdt > ui.updateList[ind].rowData.blrctdt)
						){
							alert('[[#{bm.equalmonthNotAllowHigh}]]');
							newRow.blrmfgb = ui.updateList[ind].oldRow.blrmfgb;	//전 값으로 초기화
						}
					}
				}
				// 월구분to
				if(ui.updateList[ind].newRow.hasOwnProperty('blrmtgb')){
					if(ui.updateList[ind].newRow.blrmtgb === 'PM' && ui.updateList[ind].rowData.blrmfgb === 'TM'){
						alert('[[#{bm.thisMonthNotLastMonth}]]');	//월구분from이 [당월]이면 월구분to가 [전월]일 수 없습니다.
						newRow.blrmtgb = ui.updateList[ind].oldRow.blrmtgb;	//전 값으로 초기화
					}
					// 월구분From 와 값이 같다면 기준일이 있는지 체크하고, 있다면 크기도 체크
					else if(typeof ui.updateList[ind].rowData.blrmfgb === 'string' && ui.updateList[ind].newRow.blrmtgb === ui.updateList[ind].rowData.blrmfgb){
						if(typeof ui.updateList[ind].rowData.blrcfdt === 'string' && typeof ui.updateList[ind].rowData.blrctdt === 'string' &&
								(ui.updateList[ind].rowData.blrcfdt === ui.updateList[ind].rowData.blrctdt || ui.updateList[ind].rowData.blrcfdt > ui.updateList[ind].rowData.blrctdt)
						){
							alert('[[#{bm.equalmonthNotAllowHigh}]]');
							newRow.blrmtgb = ui.updateList[ind].oldRow.blrmtgb;	//전 값으로 초기화
						}
					}
				}
				// 기준일from
				if(ui.updateList[ind].newRow.hasOwnProperty('blrcfdt')){
					if(typeof ui.updateList[ind].rowData.blrmfgb === 'string' && typeof ui.updateList[ind].rowData.blrmtgb === 'string' &&
							ui.updateList[ind].rowData.blrmtgb === ui.updateList[ind].rowData.blrmfgb &&
							(ui.updateList[ind].rowData.blrcfdt ===ui.updateList[ind].newRow.blrctdt || ui.updateList[ind].rowData.blrcfdt > ui.updateList[ind].rowData.blrctdt)
					) {
						alert('[[#{bm.equalmonthNotAllowHigh}]]');
						newRow.blrcfdt = ui.updateList[ind].oldRow.blrcfdt;	//전 값으로 초기화
					}
				}
				// 기준일To
				if(ui.updateList[ind].newRow.hasOwnProperty('blrctdt')){
					if(typeof ui.updateList[ind].rowData.blrmfgb === 'string' && typeof ui.updateList[ind].rowData.blrmtgb === 'string' &&
							ui.updateList[ind].rowData.blrmfgb === ui.updateList[ind].rowData.blrmtgb &&
							(ui.updateList[ind].newRow.blrctdt === ui.updateList[ind].rowData.blrcfdt || ui.updateList[ind].newRow.blrctdt < ui.updateList[ind].rowData.blrcfdt)
					){
						alert('[[#{bm.equalmonthNotAllowRow}]]');
						newRow.blrctdt = ui.updateList[ind].oldRow.blrctdt;	//전 값으로 초기화
					}
				}
				this.updateRow({
					rowIndx : ui.updateList[ind].rowIndx,
					newRow : newRow,
					checkEditable: false
				});
			}
			for(let ind=0; ind<ui.addList.length; ind++){
				ui.addList[ind].newRow.state = true;
				ui.addList[ind].newRow.compkey = '[[${userattr.compkey}]]';
				ui.addList[ind].newRow.blrdate = moment().format('YYYY-MM');
				ui.addList[ind].newRow.blrdtgb = 'N';
				ui.addList[ind].newRow.bluseyn = 'Y';
			}
		} else if('checkbox' === ui.source){
			for(let ind=0; ind<ui.updateList.length; ind++){
				const newRow = {state : true};
				if(ui.updateList[ind].newRow.hasOwnProperty('bluseyn')){
					this.updateRow( {
						rowIndx : ui.updateList[ind].rowIndx,
						newRow : { state : true },
						checkEditable: false
					});
				}
			}
		}
	});
	
	mdb01Grid.open();
	

  async function saveMdb01List(saveData){
		if(!saveData){
			return false;
		}
		const grid = pq.grid('#mdb01_grid');
		grid.showLoading();
		const saveMdb01Response = await fetchUtil('POST', '/md/billingMaster/mdb01/grids/1', saveData);
		if(saveMdb01Response.status===200){
			await mdb01List();
			//alert('[[#{ms.saveSuccess}]]');
		}
		grid.hideLoading();
	}
	
});

 async function mdb01List(){
	// 검색 영역 필수값 확인
	const selectedPoint = $('#mdb01PointDom input:checked').val();

    if (selectedPoint === 'APP') {
		if( $('#mdb01_blrdate').val()===''){
			alert('[[#{bm.blrdate}]]'); //적용시작년월을 선택해주세요.
			return false;
		}
        // APP 조회 형태인 경우 사용자가 선택한 값 사용
        AppDate = $('#mdb01_blrdate').val();
        blrdate = AppDate.replace(/-/g, '');
    } else {
    	blrdate = $('#mdb01_blrdate').val();
    };
	
	const grid = pq.grid('#mdb01_grid');
	grid.showLoading();
	

	const data = {
        warekey : $('#mdb01_warekey').val(), ownerky : $('#mdb01_ownerky').val(),
		ptnrkey : $('#mdb01_ptnrkey').val(), blrpmgb : $('#mdb01_blrpmgb').val(),
		blrcsgb : $('#mdb01_blrcsgb').val(), blrtkgb : $('#mdb01_blrtkgb').val(),
		blrunit : $('#mdb01_blrunit').val(),
		blrdate: blrdate,
        selectpoint : selectedPoint //조회형태 APP적용위주, HIS내역위주
    };

 	const response = await fetchUtil('GET', '/md/billingMaster/mdb01/grids/1', data);
 	if(response.status===200){
 		resContent = await response.json();

 		grid.option( 'dataModel', { data: resContent, recIndx: 'rowkey' } );
 		grid.refreshDataAndView();
 	}
		grid.hideLoading();
};


	</script>
</div>
</html>
