<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<th:block th:replace="/main/fragmentgj/comHead.html :: fragments-comHead"></th:block>
	<th:block th:replace="/main/fragment/comScript.html :: fragments-comScript"></th:block>
</head>
<body>
<div class="wrapper">
	<!-- Sidebar  -->
	<button class="btn-sidebar show"><img></button>
	<th:block th:replace="/main/fragmentgj/mainSideBar.html :: fragments-mainSideBar"></th:block>
	<!-- Sidebar  end -->
	<!-- Page Content  -->
	<div class="main-wrapper" id="mainContent">
		<!-- Header  -->
		<th:block th:replace="/main/fragmentgj/mainHeader.html :: fragments-mainHeader"></th:block>
		<!-- Header  end -->
		 <!-- Main -->
		<main id="content" class="main-content">
			<div class="content-wrapper">
				<th:block th:replace="/main/fragmentgj/mainContent.html :: fragments-mainContent"></th:block>
			</div>
			<div class="tab-container">
				<ul class="tab" id="tabs"></ul>
				<div class="tab-arrow-wrapper">
					<div class="btn-tab-arrow left"><img src="" alt=""></div>
					<div class="btn-tab-arrow right on"><img src="" alt=""></div>
				</div>
			</div>
			<!-- Footer -->
			<th:block th:replace="/main/fragmentgj/mainFooter.html :: fragments-mainFooter"></th:block>
			<!-- Footer end  -->
		</main>
		<!-- Main end -->
	</div>
	<!-- Page Content  end -->
	<!-- spinner -->
	<div class="spinner-wrapper">
		<div class="spinner-background"></div>
		<div class="spinner-border" role="status"></div>
	</div>
	<!-- spinner end -->
</div>
</body>
</html>   
 
 