<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragments-mainContent">
	<main class="mobile-content tmp05">
		<div class="search-condition">
			<div class="row">
				<div class="condition-title col">
					<label for="inputGroupSelect02">[[#{tm.tmp.vhplnky}]]</label>
				</div>
				<div class="input-wrapper col">
					<div class="select-group">
						<input type="text" class="form-control" id="tmp05_vhplnky" disabled>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="condition-title col">
					<label for="inputGroupSelect02">[[#{tm.tmp.vehicky}]]</label>
				</div>
				<div class="input-wrapper col">
					<div class="select-group">
						<select class="form-control" id="tmp05_vehicky" name="tmp05_vehicky">
							<option value ="">[[#{tm.tmp05.pltscan}]]</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="condition-title col">
					<button type="button" class="toggle-check" id="tmp05_toggle" value="check" disabled>[[#{tm.tmp05.saatc06}]]</button>
				</div>
				<div class="input-wrapper col">
					<input type="text" class="form-control" id="tmp05_input" name="tmp05_input">
				</div>
			</div>
			<div class="row">
				<button type="button" class="btn-clear btn-white col" id="tmp05_btnReset">[[#{bt.reset}]]</button>
				<button type="button" class="btn-save btn-main col" id="tmp05_btnSave">[[#{bt.save}]]</button>
			</div>
		</div>
		<div class="search-list flex-1">
			<div class="list-top align-center">
				<div class="list-title ic-title-mark" th:text="${gnatitle}"></div>
				<div class="list-text">
					<div id="tmp05_pallet">0</div>
					<div>[[#{tm.tmp.pallet}]]</div>
				</div>
			</div>
			<div class="table-wrapper con-box">
				<table class="mobile-table tmp05-table">
					<thead id="thtb">
						<tr>
							<th><input type="checkbox" id="tmp05TotalBox"></th>
							<th id="postdat" style="display: none">[[#{tm.tmp05.postdat}]]</th>
							<th id="vehicky" style="display: none">[[#{tm.tmp05.vehicky}]]</th>
							<th id="trnstat" style="display: none">[[#{tm.tmp05.trnstat}]]</th>
							<th id="saatc08">[[#{tm.tmp05.saatc08}]]</th>
							<th id="mintc10">[[#{tm.tmp05.mintc10}]]</th>
							<th id="maxtc10">[[#{tm.tmp05.maxtc10}]]</th>
							<th id="saatc06">[[#{tm.tmp05.saatc06}]]</th>
						</tr>
					</thead>
					<tbody class="table-body" id="tBody"></tbody>
				</table>
			</div>
		</div>
		<div class="spinner" id="tmp05Spinner"></div> 
	</main>
	<script>
		$(function() {
			const pageId = 'tmp05';
			let tmp05PltList;
			let tmpDestkey;
			let tmpVhplnky; // 배차계획번호
			let palletCnt = 0;

			//PDA니까 화면 처음 포커스 가게
			document.querySelector('#'+pageId+'_input').focus();
			
			//============================================================				
			//바코드 입력칸 포커스(가상 키보드 삭제)
			//============================================================	
			document.querySelector('#'+pageId+'_input').addEventListener('focus', async function(event) {
				document.querySelector('#'+pageId+'_input').setAttribute('inputmode', 'none');
			});
			//============================================================				
			//바코드 스캔시 키 입력이 될떄(가상 키보드 ON)
			//============================================================	
			document.querySelector('#'+pageId+'_input').addEventListener('keypress', async function(event) {
				document.querySelector('#'+pageId+'_input').removeAttribute('inputmode');
			});

			//============================================================
			//팔레트Num 입력시 있으면 해당 로우 체크 없으면 alert
			//============================================================
 			document.querySelector('#'+pageId+'_input').addEventListener('keyup', async function(){
 				if(event.keyCode === 13){
					const codeData = document.querySelector('#'+pageId+'_input').value;
 					const trObjs = document.querySelectorAll('#tbody tr');
 					
 					if(trObjs.length){
 						
 	 					if(!codeData){
 	 						return;
 	 					}
 	 					
 	 					let matchCnt = 0;
 	 					
 						for(const trObj of trObjs){ //똑같은 상품이 있을 경우는 일단 패스
 							if(trObj.closest('tr').querySelector('.saatc06').innerHTML === codeData){
 								if(!trObj.closest('tr').querySelector('.checkbox').checked){
 	 								trObj.closest('tr').querySelector('.checkbox').checked = true;
 	 								rowCheckControl(trObj.closest('tr').querySelector('.checkbox'));
 	 								document.querySelector('#'+pageId+'_pallet').innerHTML = ++palletCnt;
 								}
 								matchCnt++;
 							}
 						}
 						
 						if(!matchCnt){
 							alertOpen('[[#{ms.tmp05.unmacthplt}]]', function(){
 			 					document.querySelector('#'+pageId+'_input').value = '';
 			 					document.querySelector('#'+pageId+'_input').focus();
 							});
 						}
 	 				}else{
 	 	 				await getPltList();
 	 				}
 					document.querySelector('#'+pageId+'_input').value = '';
 					document.querySelector('#'+pageId+'_input').focus();
 				}
			});

			//============================================================
			//초기화 버튼 클릭 시 검색 조건 초기화
			//============================================================
			$('#'+pageId+'_btnReset').click(function(){
				confirmOpen('[[#{ms.listViewRollback}]]', function(result){
					if(result){
						location.reload();
					}
					document.querySelector('#'+pageId+'_input').focus();
				});
			});
			//============================================================
			//상차 저장 버튼 클릭 시 검색 조건 초기화
			//============================================================
			$('#'+pageId+'_btnSave').click(async function(){
				const thObjs = document.querySelector('#thtb').querySelectorAll('th');
				const boxCheckedList = document.querySelector('#tbody').querySelectorAll('input[class*="checkbox"]:checked');
				const trTagList = Array.from(boxCheckedList).map(function(boxCheckedList){
					  return boxCheckedList.closest('tr');
				});

				if(!boxCheckedList.length){
					alertOpen('[[#{tm.tmp05.pltscan}]]', function(){
						document.querySelector('#'+pageId+'_input').focus();
					});
					return;
				}
				const keyArray = [];

				//체크박스떄문에 1부터 시작(키값 세팅)
				for(let i=1;i<thObjs.length;i++){
					keyArray.push(thObjs[i].getAttribute('id'));
				}
				let param;
				let tmp05SaveList = [];

				//키 : 벨류 형식 만들기
				for (const trTag of trTagList) {
				    param = {};
				    const tdList = trTag.querySelectorAll('td');

				    for (let j = 1; j < tdList.length; j++) {
				        param[keyArray[j - 1]] = tdList[j].innerHTML;
				    }
				    param['warekey'] = '[[${userattr.warekey}]]';
			    	param['vehicky'] = document.querySelector('#'+pageId+'_vehicky').value;
			    	param['vhplnky'] = tmpVhplnky;
			    	tmp05SaveList.push(param);
				}
				confirmOpen('[[#{ms.checksave}]]', async function(result){
					if(result){
						try{
							const rData =  await fetchUtil('POST','/tm/pda/tmp05/save',{addList : tmp05SaveList});
							if(rData.status === 200){
								palletCnt=0;
								document.querySelector('#tBody').innerHTML = '';
								document.querySelector('#'+pageId+'TotalBox').checked = false;
								document.querySelector('#'+pageId+'_vhplnky').value = '';
								document.querySelector('#'+pageId+'_pallet').innerHTML = palletCnt;
								document.querySelector('#'+pageId+'_vehicky').innerHTML = '<option value ="">[[#{tm.tmp05.pltscan}]]</option>';
								tmpDestkey = null;
								tmpVhplnky = null;
								document.querySelector('#'+pageId+'_input').value = '';
								document.querySelector('#'+pageId+'_input').focus();
							}
						}catch(err){
							alertOpen('[[#{ms.saveErr}]]');
							return;
						}
					}
					document.querySelector('#'+pageId+'_input').value = '';
					document.querySelector('#'+pageId+'_input').focus();
				});
			});

			//================================
			//PDA 배차된 PLT 리스트 불러오기
			//================================
			async function getPltList(){
				
				document.querySelector('#tmp05Spinner').style.display = 'block';
				
				const saatc06Data = document.querySelector('#'+pageId+'_input').value;
				const param = {
						warekey : '[[${userattr.warekey}]]',
						saatc06 : saatc06Data
				}

				const response = await fetchUtil('GET', '/tm/pda/tmp05/grid/1', param);

				tmp05PltList = await response.json();
				
				document.querySelector('#tBody').innerHTML = '';
				
				if(!tmp05PltList.length){
					document.querySelector('#'+pageId+'_vhplnky').value = '';
					document.querySelector('#tmp05Spinner').style.display = 'none';
					alertOpen('[[#{ms.tmp05.noneplt}]]');
					return;
				}
				
				let html = '';
				tmpVhplnky = tmp05PltList[0].vhplnky;
				
				document.querySelector('#'+pageId+'_vhplnky').value = tmp05PltList[0].vhplnky
				document.querySelector('#'+pageId+'_vehicky').innerHTML = '<option selected disabled value="'+ tmp05PltList[0].vehicky +'">'+ tmp05PltList[0].vhcfnam + ' ('+ tmp05PltList[0].sumvehi+')' +'</option>';
				
				for(const tmp05PltData of tmp05PltList){
					html += '<tr>';
					if(saatc06Data === tmp05PltData.saatc06){
						html += '<td><input type="checkbox" class="checkbox" checked onclick="rowCheckControl(this)"></td>';
					}else{
						html += '<td><input type="checkbox" class="checkbox" onclick="rowCheckControl(this)"></td>';
					}
					html += '<td class="postdat" style="display:none">' + tmp05PltData.postdat + '</td>';
					html += '<td class="vehicky" style="display:none">' + tmp05PltData.vehicky + '</td>';
					html += '<td class="trnstat" style="display:none">' + tmp05PltData.trnstat + '</td>';
					html += '<td class="saatc08">' + tmp05PltData.mcatenm + '</td>';
					html += '<td class="mintc10">' + tmp05PltData.mintc10 + '</td>';
					html += '<td class="maxtc10">' + tmp05PltData.maxtc10 + '</td>';
					html += '<td class="saatc06">' + tmp05PltData.saatc06 + '</td>';
					html += '</tr>';
				}
				
				document.querySelector('#tBody').insertAdjacentHTML('afterbegin', html);
				document.querySelector('#'+pageId+'_pallet').innerHTML = ++palletCnt;
				document.querySelector('#tmp05Spinner').style.display = 'none';
				document.querySelector('#'+pageId+'TotalBox').checked = document.querySelectorAll('#tbody input[class*="checkbox"]:checked').length === document.querySelectorAll('#tbody input[class*="checkbox"]').length;

			}
			
			//전체체크박스 컨트롤
			document.querySelector('#'+pageId+'TotalBox').addEventListener('click', function(){
				let checkedCnt = 0;
				document.querySelectorAll('input[class*="checkbox"]').forEach(function(tagObj){
					tagObj.checked = document.querySelector('#'+ pageId +'TotalBox').checked;
					checkedCnt += tagObj.checked ? 1 : 0;
				});
				document.querySelector('#'+pageId+'_pallet').innerHTML = checkedCnt;
				document.querySelector('#'+pageId+'_input').focus();
			});
			
			//로우별 체크박스
			rowCheckControl = function(obj){
				let checkedCnt = 0;
				document.querySelectorAll('input[class*="checkbox"]').forEach(function(element){
					if(element.checked){
						checkedCnt++;
					}
					document.querySelector('#'+pageId+'_pallet').innerHTML = checkedCnt;
					document.querySelector('#'+ pageId +'TotalBox').checked = document.querySelectorAll('input[class*="checkbox"]').length === checkedCnt;
				});
				document.querySelector('#'+pageId+'_input').focus();
			}
		});
	</script>
</div>
</html>