@charset "UTF-8";
/* 클래스 */
.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.text-end {
  text-align: end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* 로그인 */
main .login-wrap .idpw-check {
  text-align: center;
  color: red;
}
main .login-wrap .input-login-wrapper.err {
  margin-top: 59px;
}
main .login-wrap .input-login-wrapper select {
  width: 320px;
  height: 44px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  padding: 4px 8px 3px;
  border-radius: 6px;
  border: 1px solid #c2c5c8;
}

/* 햄버거 메뉴 */
#menuModal .menu-body {
  height: calc(100vh - 116.28px);
}
#menuModal .menu-body ul#menuBar {
  display: flex;
  flex-wrap: wrap;
}
#menuModal .menu-body ul#menuBar li {
  background: #5372D9;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menuModal .menu-body ul#menuBar li:nth-child(1) img {
  content: url(../assets/mobile/ic_menu_1_w@3x.png);
  display: block;
  height: 30px;
}
#menuModal .menu-body ul#menuBar li:nth-child(2) img {
  content: url(../assets/mobile/ic_menu_2_w@3x.png);
  display: block;
  height: 30px;
}
#menuModal .menu-body ul#menuBar li:nth-child(3) img {
  content: url(../assets/mobile/ic_menu_3_w@3x.png);
  display: block;
  height: 30px;
}
#menuModal .menu-body ul#menuBar li:nth-child(4) img {
  content: url(../assets/mobile/ic_menu_4_w@3x.png);
  display: block;
  height: 30px;
}
#menuModal .menu-body ul#menuBar li:nth-child(5) img {
  content: url(../assets/mobile/ic_menu_5_w@3x.png);
  display: block;
  height: 30px;
}
#menuModal .menu-body ul#menuBar li:nth-child(6) img {
  content: url(../assets/mobile/ic_menu_6_w@3x.png);
  display: block;
  height: 30px;
}
#menuModal .menu-body ul#menuBar li:nth-child(7) img {
  content: url(../assets/mobile/ic_menu_7_w@3x.png);
  display: block;
  height: 30px;
}
#menuModal .menu-body ul#menuBar li:nth-child(8) img {
  content: url(../assets/mobile/ic_menu_8_w@3x.png);
  display: block;
  height: 30px;
}
#menuModal .menu-body ul#menuBar li:nth-child(9) img {
  content: url(../assets/mobile/ic_menu_9_w@3x.png);
  display: block;
  height: 30px;
}
#menuModal .menu-body ul#menuBar li:nth-child(10) img {
  content: url(../assets/mobile/ic_menu_10_w@3x.png);
  display: block;
  height: 30px;
}
#menuModal .menu-body ul#menuBar li:nth-child(11) img {
  content: url(../assets/mobile/ic_menu_11_w@3x.png);
  display: block;
  height: 30px;
}
#menuModal .menu-body ul#menuBar li a {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 35px 16px;
}
#menuModal .menu-body ul#menuBar li a span {
  font-size: 18px;
}

/* 메인 페이지 메뉴 */
.menu-bar {
  display: flex;
  flex-wrap: wrap;
}
.menu-bar li {
  text-align: center;
  background: #ffffff;
  width: 50vw;
  height: 50vw;
  box-shadow: 0 0 1px #888888;
}
.menu-bar li:nth-child(1) img {
  content: url(../assets/mobile/ic_menu_1@3x.png);
  display: block;
  height: 60px;
}
.menu-bar li:nth-child(2) img {
  content: url(../assets/mobile/ic_menu_2@3x.png);
  display: block;
  height: 60px;
}
.menu-bar li:nth-child(3) img {
  content: url(../assets/mobile/ic_menu_3@3x.png);
  display: block;
  height: 60px;
}
.menu-bar li:nth-child(4) img {
  content: url(../assets/mobile/ic_menu_4@3x.png);
  display: block;
  height: 60px;
}
.menu-bar li:nth-child(5) img {
  content: url(../assets/mobile/ic_menu_5@3x.png);
  display: block;
  height: 60px;
}
.menu-bar li:nth-child(6) img {
  content: url(../assets/mobile/ic_menu_6@3x.png);
  display: block;
  height: 60px;
}
.menu-bar li:nth-child(7) img {
  content: url(../assets/mobile/ic_menu_7@3x.png);
  display: block;
  height: 60px;
}
.menu-bar li:nth-child(8) img {
  content: url(../assets/mobile/ic_menu_8@3x.png);
  display: block;
  height: 60px;
}
.menu-bar li:nth-child(9) img {
  content: url(../assets/mobile/ic_menu_9@3x.png);
  display: block;
  height: 60px;
}
.menu-bar li:nth-child(10) img {
  content: url(../assets/mobile/ic_menu_10@3x.png);
  display: block;
  height: 60px;
}
.menu-bar li:nth-child(11) img {
  content: url(../assets/mobile/ic_menu_11@3x.png);
  display: block;
  height: 60px;
}
.menu-bar li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  font-size: 20px;
}

/* 기본 버튼 */
.btn-save {
  background-position: 14px;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-image: url(../assets/mobile/ic_bt_save@3x.png);
  text-align: center;
  padding: 8px 0;
}

.btn-delete {
  background-position: 14px;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-image: url(../assets/mobile/ic_bt_delete@3x.png);
  text-align: center;
  padding: 8px 0 8px 32px;
}

.btn-add {
  background-position: 14px;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-image: url(../assets/mobile/ic_bt_add@3x.png);
  text-align: center;
  padding: 8px 0 8px 32px;
}

.btn-home {
  background: #fff;
  border-radius: 10px;
  border: none;
  padding: 4px;
}
.btn-home img {
  content: url(../assets/kiosk/ic_bt_home@3x.svg);
  display: block;
  width: 36px;
  height: 36px;
}

.btn-wmp93 {
  font-size: 14px;
  padding: 6px 15px 6px 40px;
  font-weight: normal;
}

/* 검색조건 토글버튼 & 버튼 */
main.mobile-content .search-condition .row .condition-title button {
  width: 100%;
  height: 100%;
}
main.mobile-content .search-condition .row .condition-title .toggle-skumkey {
  border-radius: 10px;
  text-align: center;
  color: #fff;
  background-color: #5372d9;
}
main.mobile-content .search-condition .row .condition-title .toggle-tolocky, main.mobile-content .search-condition .row .condition-title .toggle-frlocky, main.mobile-content .search-condition .row .condition-title .toggle-locakey {
  border-radius: 10px;
  text-align: center;
  color: #fff;
  background-color: #2D7F37;
}
main.mobile-content .search-condition .row .condition-title .toggle-eoasnky, main.mobile-content .search-condition .row .condition-title .toggle-truntyp {
  border-radius: 10px;
  text-align: center;
  color: #fff;
  background-color: #D9B452;
}
main.mobile-content .search-condition .row .condition-title .toggle-allgrky, main.mobile-content .search-condition .row .condition-title .toggle-taskoky {
  border-radius: 10px;
  text-align: center;
  color: #fff;
  background-color: #D95278;
}
main.mobile-content .search-condition .row .condition-title .toggle-truntyp {
  border-radius: 10px;
  text-align: center;
  color: #fff;
  background-color: #515872;
}
main.mobile-content .search-condition .row.b1 .btn-clear {
  padding: 8px 0;
  text-align: center;
}

/* 테이블 */
table {
  table-layout: fixed;
  width: 500px;
}
.table-wrapper.row2 {
  height: calc(100vh - 226px);
}
.table-wrapper.row5 {
  height: calc(100vh - 362px);
}

#wmp80_tab + .tab-content .row2 {
  height: calc(100vh - 265px);
}

.wmp20-table {
  width: 100%;
}

.wmp30-table {
  width: 100%;
}
.wmp30-table th#skudesc {
  width: 58%;
}
.wmp30-table th#tempasn {
  width: 16%;
}
.wmp30-table th#rcveqty {
  width: 16%;
}
.wmp30-table td input {
  width: 100%;
}

.wmp40-table th:nth-child(1) {
  width: 8%;
}
.wmp40-table th:nth-child(6) {
  width: 26%;
}
.wmp40-table th:nth-child(7) {
  width: 16%;
}
.wmp40-table th:nth-child(8) {
  width: 16%;
}
.wmp40-table th:nth-child(10) {
  width: 20%;
}
.wmp40-table td input[type=number] {
  width: 100%;
}

.row.location .condition-title {
  justify-content: center;
}

.wmp50-table {
  width: 140%;
}
.wmp50-table th:nth-child(1) {
  width: 8%;
}
.wmp50-table th#skudesc {
  width: 40%;
}
.wmp50-table th#tolocnm {
  width: 27%;
}
.wmp50-table th#fordqty {
  width: 12%;
}
.wmp50-table td input {
  width: 100%;
}

.wmp70-table th:nth-child(1) {
  width: 8%;
}
.wmp70-table th#fordqty {
  width: 12%;
}

.wmp93-table {
  width: 600px;
}
.wmp93-table th:nth-child(1) {
  width: 8%;
}
.wmp93-table th:nth-child(2) {
  width: 10%;
}
.wmp93-table th:nth-child(9) {
  width: 26%;
}
.wmp93-table th:nth-child(11) {
  width: 28%;
}
.wmp93-table th:nth-child(15) {
  width: 15%;
}
.wmp93-table .select {
  background: #c2c5c8;
}

.tmp05-table th:nth-child(1) {
  width: 8%;
}
.tmp05-table th:nth-child(6) {
  width: 12%;
}
.tmp05-table th:nth-child(7) {
  width: 12%;
}
.tmp05-table th:nth-child(9) {
  width: 28%;
}

.tmp06-table th:nth-child(1) {
  width: 8%;
}
.tmp06-table th:nth-child(6) {
  width: 12%;
}
.tmp06-table th:nth-child(7) {
  width: 12%;
}
.tmp06-table th:nth-child(9) {
  width: 28%;
}

/* wmp80 탭메뉴 */
.nav-tabs {
  display: flex;
  background: #fff;
  height: 34px;
  line-height: 34px;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  text-align: center;
}
.nav-item {
  border-radius: 10px;
  flex: 1;
}
.nav-item.active {
  border: 1px solid #5272d9;
  background: #5272d9;
}
.nav-item.active a {
  color: #fff;
}
.nav-link {
  font-size: 16px;
  color: #888;
}

.tab-pane {
  display: none;
}
.tab-pane.show {
  display: block;
}

/* spinner */
.spinner {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  animation: rotate 1s linear infinite;
  display: none;
  top: 46%;
  left: 42%;
}

.spinner::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #333;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prixClipFix {
  0% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
/* 긴급출고 spinner */
.spinner-wrapper {
  display: none;
  position: fixed;
  top: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
}

.spinner-background {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  opacity: 0.4;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}
.spinner-border {
  position: absolute;
  z-index: 999999999;
  top: 45%;
  left: 45%;
  display: block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  border: 0.25rem solid currentcolor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: 0.75s linear infinite spinner-border;
}

.spinner-background {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999998;
}

/* wmp30 wmp50 검색조건 밑 */
.search-condition.p {
  flex-direction: row !important;
  justify-content: center;
  gap: 0;
}
.search-condition.p .condition-title {
  justify-content: center;
  position: relative;
  width: 70px !important;
}

.row.p {
  flex: 1;
  position: relative;
  align-items: center;
}

.text-wrapper {
  font-weight: normal;
  border-radius: 6px;
  padding: 0 8px;
  flex: 1;
  text-align: end;
}

/* tmp05, tmp06 pallet div */
.list-text {
  border: solid 1px #c2c5c8;
  width: -moz-fit-content;
  width: fit-content;
  background: #fff;
  border-radius: 6px;
  display: flex;
  padding: 4px 8px 3px;
  font-size: 15px;
  gap: 6px;
}

/* tmp05, tmp06 스크롤 */
.tmp05 .table-wrapper, .tmp06 .table-wrapper {
  height: calc(100vh - 318px);
}

/* 모달 */
.modal {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 8px;
  gap: 10px;
  background: #F2F3F4;
  width: 350px;
  height: 500px;
  margin: 0 auto;
  position: absolute;
  top: -100%;
  transition: 0.3s;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
}
.modal .table-wrapper {
  height: 45%;
}
.modal .mobile-table {
  width: 100%;
}
.modal .mobile-table .select {
  background: #c2c5c8;
}
.modal .btn-wrap {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.modal .btn-wrap .btn-save, .modal .btn-wrap .btn-close {
  padding: 6px 35px 6px 46px;
}

.bg {
  display: none;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 998;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* alert창, confirm 창 */
.popup {
  padding: 10px;
  width: 300px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #444444;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #f8f7f7;
  background-color: #fff;
  z-index: 9999;
}
.popup .msg-box {
  margin-top: 30px;
}
.popup .edit-btn-wrapper .btn-blue {
  background: #5372d9;
  border-radius: 13px;
  border: solid 1px #5372d9;
  color: #fff;
  padding: 6px 16px;
}
.popup .edit-btn-wrapper .btn-white {
  border-radius: 13px;
  border: solid 1px #ccc;
  background-color: #fff;
  color: #444;
  padding: 6px 16px;
}/*# sourceMappingURL=mobile11.css.map */