//input
input[type=number] {
    width: 120px;
    height: 26px;
    padding: 4px 8px 3px;
    border-radius: 2px;
    border: solid 1px #c2c5c8;
    background-color: #fff;
    &:disabled {
        border-radius: 2px;
        border: solid 1px #e2e5e9;
        background-color: #f8f7f7;
        color: #c2c5c8;
    }
}
input:focus {
    border: 1px solid #152c5b;
}
select:focus {
    border: 1px solid #152c5b;
}
input[type=time], input[type=date] {
  width: 100%;
}
.input-check-group {
    // height: 100%; 주석처리
    height: auto;
    min-height: 26px;
}
.input-time-group, .input-text-group, .input-date-group {
    // height: 100%; 주석처리
    height: auto;
}
//

//select
select, select.select-box {
    &:disabled {
        border: solid 1px #e2e5e9;
        background-color: #f8f7f7;
        color: #c2c5c8;
    }
}
//

//버튼 & 아이콘
button {
    &:disabled {
        border: solid 1px #e2e5e9;
        background-color: #f8f7f7;
        color: #c2c5c8;
        .ic-bt-add {
            content: url(../assets/ic_bt_add@3x_d.png)
        }
        .ic-bt-delete {
            content: url(../assets/ic_bt_delete@3x_d.png)
        }
        .ic-bt-reset {
            content: url(../assets/ic_bt_reset@3x_d.png)
        }
        .ic-bt-save {
            content: url(../assets/ic_bt_save@3x_d.png)
        }
        .ic-bt-print {
              content: url(../assets/ic_bt_print@3x_d.png)
        }
        .ic-bt-image {
            content: url(../assets/ic_bt_image@3x_d.png)
        }
        .ic-bt-box1 {
                content: url(../assets/ic_bt_box1@3x_d.png)
        }
        .ic-bt-box2 {
                content: url(../assets/ic_bt_box2@3x_d.png)
        }
        .ic-bt-cancel {
                content: url(../assets/ic_bt_cancel@3x_d.png)
        }
        .ic-bt-receipt {
                content: url(../assets/ic_bt_receipt@3x_d.png)
        }
        .ic-bt-plan {
                content: url(../assets/ic_bt_truck@3x_d.png)
        }
    }
}
.ic-bt-print {
    content: url(../assets/ic_bt_print@3x.png);
    width: 11px;
    height: 11px;
}
.ic-bt-image {
    content: url(../assets/ic_bt_image@3x.png);
    width: 11px;
    height: 11px;
}
.ic-bt-box1 {
    content: url(../assets/ic_bt_box1@3x.png);
    width: 11px;
    height: 11px;
}
.ic-bt-box2 {
    content: url(../assets/ic_bt_box2@3x.png);
    width: 11px;
    height: 11px;
}
.ic-bt-cancel {
    content: url(../assets/ic_bt_cancel@3x.png);
    width: 11px;
    height: 11px;
}
.ic-bt-receipt {
    content: url(../assets/ic_bt_receipt@3x.png);
    width: 11px;
    height: 11px;
}
.ic-bt-plan {
    content: url(../assets/ic_bt_truck@3x.png);
    width: 11px;
    height: 11px;
}
.ic-bt-cancel-g {
    content: url(../assets/ic_bt_cancel_w@3x.png);
    width: 11px;
    height: 11px;
}
.ic-bt-add-g {
    content: url(../assets/ic_bt_add_w@3x.png);
    width: 11px;
    height: 11px;
}
.ic-bt-check-w {
    content: url(../assets/ic_register_w.png);
    width: 11px;
    height: 11px;
}
//

//tm 양쪽 그리드
.tab-contents-two{
    display: flex;
    gap: 10px;
}
.tab-content-left{
    flex-basis: calc( 60% - 5px );
    .search-conditions{
        .setting-grid{
            grid-template-columns: 110px 1fr 110px 1fr;
        }
    }
}
.tab-content-right{
    flex-basis: calc( 40% - 5px );
    .search-conditions{
        .setting-grid{
            grid-template-columns: 110px 1fr;
        }
    }
}
.tab-content-top {
    flex-basis: calc(50% - 5px);
}
.tab-content-bottom {
    flex-basis: calc(50% - 5px);
}
//

// 검색영역 (search-conditions) 내 input number
.setting-grid {
    .setting-grid-content {
        .input-wrapper{
            input[type=number] {
                width: 100%;
            }
        }
    }
}
//

//pq-grid
.pq-toolbar-search.pq-toolbar{
    font-size: 12px;
    .findColumn {
        width: 120px !important;
        height: 26px !important;
        border-radius: 2px;
    }
    .findValue {
        height: 26px;
        border-radius: 2px !important;
    }
    .btn-white, .btn-navy {
        padding: 3px 10px 2px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        font-size: 11px;
        font-weight: bold;
    }
    .btn-search {
        display: inline-flex;
        gap: 4px;
        img {
            content: url(../assets/ic_bt_search@3x.png);
            width: 11px;
            height: 11px;
            vertical-align: center;
        }
    }
}
//체크박스
.pq-grid {
    input[type="checkbox"] {
        margin: 3px 0 0 !important;
    }
}
.pq-title-span {
    input[type="checkbox"] {
        margin: 0 4px 0 0 !important;
    }
}
.pq-grid-row:first-child {
    .pq-grid-col:first-child {
        input[type="checkbox"] {
            margin: 3px 0 0 !important;
        }
    }
}
.pq-grid-row {
    .pq-grid-cell:first-child {
        >div:has(input) {
            text-align: center !important;
        }
    }
}
#sy_role_grid_menu .pq-grid-row .pq-grid-cell:first-child > div:has(input) {
    text-align: left !important;
}
.pq-grid-header-table {
    .pq-td-div {
        height: 100% !important;
    }
}
// .pq-grid-cell, .pq-grid-col {
//     input[type="checkbox"]{
//         margin-top: 4px;
//         margin-left: 2px;
//     }
// }
// .ui-icon, .ui-widget-content .ui-icon {
//     display: none;
// }

// select box 들어가는 페이지들 pq 그리드
.pq-select-option {
    >span {
        position: absolute;
    }
}
.pq-select-text {
    >.pq-select-item {
        width: 99%;
    }
}
.pq-select-item {
    border:unset;
    background:unset;
}
.ui-state-hover {
    background:unset;
}
.pq-select-single{
    border:unset;
    background:unset;
}
.pq-select-text{
    height:22px;
    // position: relative;
    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     width: 1px;
    //     height: 24px;
    //     background: #c2c5c8;
    // }
}
.input-group {
    .pq-select-button {
        position: relative;
        padding: 3px 0 0 8px;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 23px;
            width: 1px;
            height: 24px;
            background: #c2c5c8;
        }
    }
}
.ui-state-default {
    .ui-icon {
        background-image: url(../assets/bt_dropdown_down.png);
    }
}
.ui-icon-triangle-1-s {
    background-position: -8px -4px;
}
//

//그리드 헤더 구분선
.pq-grid-col {
    border-right: 1px solid #ccc;
}
//

//그리드 강조용
.color-gray {
    background: #bdbdbd !important;
    font-weight: bold !important;
}
//

//모달
.popup-register {
    height: auto !important;
}
.modal-con{
    gap: 10px;
}
.modal {
    input[type="date"], input[type="time"] {
        width: 100%;
    }
}
//

//TM 모달 기본
.modalTm {
    .modal-dialog {
        .modal-content {
            border: 2px solid #3b3b3b;
            .modal-top {
                padding: 0 10px;
                margin-bottom: 10px;
                height: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #fff;
                border-bottom: 1px solid #e0e0e0;
                .box-title {
                    font-size: 14px;
                    font-weight: bold;
                    color: #172d5a;
                }
            }
        }
        .modal-body {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .setting-grid {
                .setting-grid-content {
                    max-width: initial;
                    .input-group {
                        max-width: initial;
                    }
                }
            }
            .search-list {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .pq-toolbar {
                    .findValue {
                        width: 72%;
                    }
                }
            }
        }
        .modal-bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;
            margin: 10px 0;
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 3px 10px 2px;
                border-radius: 2px;
                border: solid 1px #9aa6b8;
                font-size: 12px;
                font-weight: bold;
            }
        }
    }
}
//

//TM 모달 tma04_1
.modalTm#tma04ShuttleModal {
    .modal-dialog {
        .modal-content {
            .modal-body {
                .setting-grid {
                    grid-template-columns: 1fr 80px;
                }
            }
        }
    }
}
//

//TM 모달 tma04_2
.modalTm#tma04EmergencyModal {
    .modal-dialog {
        .modal-content {
            .modal-body {
                .setting-grid {
                    grid-template-columns: 94px 1fr;
                    .setting-grid-content {
                        display: flex;
                        gap: 10px;
                        .input-group {
                            width: 50%;
                        }
                        .input-wrapper {
                            width: 50%;
                        }
                        .input-wrapper{
                            #tma06_pbilpay {
                                width: calc(100% - 5px);
                            }
                        }

                    }
                }
                .search-list {
                    margin-top: 10px;
                }
            }
        }
    }
}
//

//TM 모달 tma06_1
.modalTm#tma06AddModal {
    .modal-dialog {
        .modal-content {
            .modal-body {
                .setting-grid {
                    grid-template-columns: 110px 1fr 80px;
                    // margin-bottom: 32px;
                }
            }
        }
    }
}
//

//TM 모달 tma06_2
.modalTm#tma06EmergencyModal {
    .modal-dialog {
        .modal-content {
            .modal-body {
                .setting-grid {
                    grid-template-columns: 94px 1fr;
                    .setting-grid-content {
                        display: flex;
                        gap: 10px;
                        .input-group {
                            width: 50%;
                        }
                        .input-wrapper {
                            width: 50%;
                        }
                        .input-wrapper{
                            #tma06_pbilpay {
                                width: calc(100% - 5px);
                            }
                        }

                    }
                }
                .search-list {
                    margin-top: 10px;
                }
            }
        }
    }
}
//

//TM 모달 tma11
.modalTm#tma11QtyModal {
    .modal-dialog {
        .modal-content {
            .modal-body {
                .image-box {
                    position: relative;
                    top: 0;
                    left: 0;
                    &:hover .image-box-control {
                        top: 8px;
                        opacity: 1;
                        z-index: 1051;
                    }
                    img {
                        width: 100%;
                        display: block;
                    }
                    &-control {
                        background: rgba(0, 0, 0, 0.34);
                        display: flex;
                        gap: 10px;
                        position: absolute;
                        z-index: -1;
                        top: -44px;
                        right: 8px;
                        opacity: 0;
                        transition: .3s;
                        padding: 4px 8px;
                        border-radius: 8px;
                        .btn-memo {
                            img {
                                content: url(../assets/ic_bt_note@3x.png);
                                width: 28px;
                                height: 28px;
                            }
                        }
                        .line {
                            width: 2px;
                            height: 36px;
                            background: #fff;

                        }
                        label {
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                        }
                        .btn-refresh {
                            img {
                                content: url(../assets/ic_bt_refresh@3x.png);
                                width: 32px;
                                height: 32px;
                            }
                        }
                        input[type="file"] {
                            display: none;
                        }
                    }
                }
                .memo-content {
                    border: none !important;
                    margin-top: 10px;
                    padding: 4px !important;
                    width: 100% !important;
                    &::placeholder {
                        color: #d9d9d9;
                    }
                }
            }
        }
    }
}
#tma11Modal {
    .setting-grid-content.d {
        display: flex;
        gap: 6px;
        .input-wrapper {
            width: 50%;
        }
    }
}
//

//TM 모달 tma15
.modalTm#tma15AreaModal {
    .modal-dialog {
        .modal-content {
            .modal-body {
                .setting-grid {
                    grid-template-columns: 110px 1fr 110px 1fr;
                }
            }
        }
    }
}
//TM 모달 tma05
.modalTm#tma05AreaModal {
    .modal-dialog {
        .modal-content {
            .modal-body {
                .setting-grid {
                    grid-template-columns: 110px 1fr 110px 1fr;
                }
            }
        }
    }
}
//

//TM 모달 tmm06
.modalTm#tmm06QtyModal {
    .modal-dialog {
        .modal-content {
            .modal-body {
                .search-conditions {
                    display: flex;
                    gap: 10px;
                    .setting-grid {
                        flex: 1;
                        grid-template-columns: 70px 1fr 70px 1fr 70px 1fr;
                    }
                }
            }
        }
    }
}
//


//login
.login-wrapper {
    .login-wrap {
        padding: 20px 0;
        .input-login-wrapper {
            .errmsg {
                color: red;
                font-size: 13px;
            }
        }
    }
}
//

//wmo30 그리드 내 버튼
.wmo30-gshpout-btn {
    border-radius: 2px;
    border: solid 1px #9aa6b8;
    background-color: #fff;
    color: #5c7099;
    padding: 3px 10px 2px;
    height: 24px;
    gap: 7px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.color-blue {
    background: #47b6f375 !important;
}
.color-green {
    background: #E4F7BA !important;
    font-weight: bold !important;
}
.pq-select-search-input {
    width: 100% !important;
}
//

//spinner
.spinner {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    animation: rotate 1s linear infinite;
    display: none;
    top: 44%;
    left: 56%;
}
.spinner::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #333;
    animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
    100% {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}
.bg {
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
//