<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="fragments-mainContent">
		<div class="tab-contents">
            <div class="location"></div>
            <div class="search-conditions con-box">
                <div class="setting-grid">
					<label class="setting-grid-title ic-title-nece">[[#{md.mwarma.whnamlc}]]</label>
                    <div class="setting-grid-content">
                        <div class="input-group">
                            <select id="wmi11_warekey"></select>
                        </div>
                    </div>
					<label for="" class="setting-grid-title ic-title-nece">[[#{md.mowrma.ownamlc}]]</label>
                    <div class="setting-grid-content">
                        <div class="input-group">
                            <select id="wmi11_ownerky">
                            	<option value="">[[#{wm.wmi11.all}]]</option>
                            </select>
                        </div>
                    </div>
					<label class="setting-grid-title">[[#{wm.wmi11.locakey}]]</label>
                    <div class="setting-grid-content">
                        <div class="input-wrapper">
                            <input type="text" th:placeholder="${#messages.msg('wm.wmi11.locakey')}" id="wmi11_locakey">
                        </div>
                    </div>
					<label for="inputGroupSelect01" class="setting-grid-title">[[#{md.mskuma.skumkey}]]</label>
                    <div class="setting-grid-content">
                        <div class="input-wrapper">
                            <input type="text" th:placeholder="${#messages.msg('md.mskuma.skumkey')}" id="wmi11_skumkey">
                        </div>
                    </div>
					<label class="setting-grid-title">[[#{md.mskuma.skudesc}]]</label>
                    <div class="setting-grid-content">
                        <div class="input-wrapper">
                            <input type="text" th:placeholder="${#messages.msg('md.mskuma.skudesc')}" id="wmi11_skudesc">
                        </div>
                    </div>
					<label class="setting-grid-title">[[#{wm.wstkky.stkstat}]]</label>
                    <div class="setting-grid-content">
                        <div class="input-group">
                            <select id="wmi11_stkstat"></select>
                        </div>
                    </div>
                    <label for="" class="setting-grid-title">[[#{wm.wmi11.zeroStotqty}]]</label>
                    <div class="setting-grid-content">
                        <div class="input-check-group">
                            <label class="check-box">
                                <input type="checkbox" id="wmi11_stotqty">
								<span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="search-btn-group">
                    <button type="button" class="btn-search btn-navy btn-green"id="wmi11_search"><img>[[#{bt.search}]]</button>
					<button type="button" class="btn-clear btn-white" id="wmi11_reset"><img>[[#{bt.reset}]]</button>
                </div>
            </div>
            <div class="search-list">
                <div class="list-top">
                    <div class="list-title ic-title-mark">
                        <span th:text="${gnatitle}"></span>
                    </div>
                    <div class="edit-btn-wrapper">
                        <button class="btn-navy btn-green" id="wmi11_save"><img class="ic-bt-save">[[#{bt.save}]]</button>
                    </div>
                </div>
                <div class="list-grid-wrapper con-box">
                    <div id="wmi11_grid"></div>
                </div>
            </div>
        </div>
		<script>
		$(function(){
			let wmi11_gul;
			wmi11Init();
		
		//============================================================
		// 검색 이벤트
		//============================================================	
			$('#wmi11_search').click(function(){
				wmi11SearchList();
			});
		
		//============================================================
		// 초기화 이벤트
		//============================================================	
			$('#wmi11_reset').click(function(){
				resetSearchConditions();
				$('#wmi11_ownerky').pqSelect("refreshData");
				$('#wmi11_stotqty').prop("checked" , false);
				wmi11_gul.searchList([]);
			});	
			
		//============================================================
		// 저장 처리
		//============================================================
			
			$('#wmi11_save').click(function(){
				const grid = pq.grid("#wmi11_grid");
				const gridCheck = grid.Checkbox('state').getCheckedNodes().filter((obj) => obj.state == true);
				const gridData = grid.getChanges({all:true});
				
				if(gridCheck.length){
					//빈값 체크용
					for(let checkRow of gridCheck){
						if(Number(checkRow.schnqty) === 0){
							alert('[[#{wm.wmi11.checkSchnqty}]]');
							grid.editCell({ rowIndx : checkRow.pq_ri , dataIndx : 'schnqty'});
							return;
						}
						
						if(checkRow.rsncode == null || typeof checkRow.rsncode === "undefined"){
							alert('[[#{wm.wmi11.checkRsncode}]]');
							grid.editCell({ rowIndx : checkRow.pq_ri , dataIndx : 'rsncode'});
							return;
						}
					}		
					
					gridData.updateList = gridCheck;
					
					if(confirm("[[#{ms.checksave}]]")){
						grid.showLoading(); 
						let data =  { data : grid.getChanges({ format: 'byVal' }) };
						let aul = new AjaxUtil_Order("/wm/inventory/wmi11/adjust" , gridData );
						aul.setCallbackSuccess(setWmi11WadjitCallback);
						aul.setComplete(function(data){
							grid.hideLoading();
						});
						aul.send();
					}
				}else{
					alert("[[#{ms.choiceRowZero}]]");
					return false;
				}
			});
			
			
			let wmi11_colModel = [
					{ title: "", maxWidth: 30, minWidth: 30, dataIndx: "state", align: "center", resizable: false,
		                menuIcon: false,
		                type: 'checkBoxSelection', sortable: false, editor: false,
		                dataType: 'bool',
	                	cb: { all: false, header: true },
	            	},
					{ title: "rowkey", width: 100, dataType: "string", dataIndx: "rowkey", hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.compkey}]]", width: 100, dataType: "string", dataIndx: "compkey" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.adjsoky}]]", width: 100, dataType: "string", dataIndx: "adjsoky" , hidden: true , editable: false },
					{ title: "[[#{grid.wareCode}]]", width: 100, dataType: "string", dataIndx: "warekey" , hidden: true , editable: false },
					{ title: "[[#{grid.whnamlc}]]", width: 100, dataType: "string", dataIndx: "whnamlc" , hidden: true , editable: false },
					{ title: "[[#{grid.ownerCode}]]", width: 100, dataType: "string", dataIndx: "ownerky" , hidden: true , editable: false },
					{ title: "[[#{grid.ownamlc}]]", width: 100, dataType: "string", dataIndx: "ownamlc" , editable: false },
					{ title: "[[#{md.mdocma.doccate}]]", width: 100, dataType: "string", dataIndx: "doccate" , editable: false }, //combo 
					{ title: "[[#{md.mdocma.doctype}]]", width: 100, dataType: "string", dataIndx: "doctype" , hidden:true , editable: false }, //combo
					{ title: "[[#{md.mdocma.doctynm}]]", width: 100, dataType: "string", dataIndx: "doctynm" , hidden:true , editable: false }, //combo
					{ title: "[[#{wm.wadjit.adjmode}]]", width: 100, dataType: "string", dataIndx: "adjmode" , hidden: true , editable: false },
					{ title: "[[#{wm.wadjit.adjgrky}]]", width: 100, dataType: "string", dataIndx: "adjgrky" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.stockky}]]", width: 100, dataType: "string", dataIndx: "stockky" , editable: false },
					{ title: "[[#{wm.wmi11.areakey}]]", width: 100, dataType: "string", dataIndx: "areakey" , editable: false },
					{ title: "[[#{md.mlocma.areanam}]]", width: 100, dataType: "string", dataIndx: "areanam" , editable: false },
					{ title: "[[#{wm.wmi11.zonekey}]]", width: 100, dataType: "string", dataIndx: "zonekey" , editable: false },
					{ title: "[[#{md.mlocma.zonenam}]]", width: 100, dataType: "string", dataIndx: "zonenam" , editable: false },
					{ title: "[[#{wm.wmi11.locakey}]]", width: 100, dataType: "string", dataIndx: "locakey" , editable: false },
					{ title: "[[#{md.mlocma.locanam}]]", width: 100, dataType: "string", dataIndx: "locanam" , editable: false },
					{ title: "[[#{wm.wstkky.subsect}]]", width: 100, dataType: "string", dataIndx: "subsect" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.truntyp}]]", width: 100, dataType: "string", dataIndx: "truntyp" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.trunpid}]]", width: 100, dataType: "string", dataIndx: "trunpid" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotnmky}]]", width: 100, dataType: "string", dataIndx: "lotnmky" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.ownerky}]]", width: 100, dataType: "string", dataIndx: "ownerky" , hidden: true , editable: false },
					{ title: "[[#{grid.skuCode}]]", width: 100, dataType: "string", dataIndx: "skumkey" , editable: false },
					{ title: "[[#{grid.skunm}]]", width: 100, dataType: "string", dataIndx: "skudesc" , editable: false },
					{ title: "[[#{md.mskuwc.skugr02}]]", width: 100, dataType: "string", dataIndx: "skugr02" , editable: false },
					{ title: "[[#{md.mskuwc.skugr03}]]", width: 100, dataType: "string", dataIndx: "skugr03" , editable: false },
					{ title: "[[#{md.mskuwc.skugr04}]]", width: 100, dataType: "string", dataIndx: "skugr04" , editable: false },
					{ title: "[[#{md.mskuwc.skugr05}]]", width: 100, dataType: "string", dataIndx: "skugr05" , editable: false },
					{ title: "[[#{md.mskuwc.skuat01}]]", width: 100, dataType: "string", dataIndx: "skuat01" , editable: false },
// 					{ title: "[[#{md.mskuwc.roinqty}]]", width: 100, dataType: "integer", dataIndx: "roinqty" , format: '###,###,###' , editable: false , 
// 						summary: { type: "sum" },
// 					},
					{ title: "[[#{wm.wstkky.sirbcod}]]", width: 100, dataType: "string", dataIndx: "sirbcod" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.stotqty}]]", width: 100, dataType: "integer", dataIndx: "stotqty" , format: '###,###,###' , editable: false ,
						summary: { type: "sum" },
					},
	
					{ title: "[[#{wm.wadjit.sbloqty}]]", width: 100, dataType: "integer", dataIndx: "sbloqty" , format: '###,###,###' , editable: false , 
						summary: { type: "sum" },
					},
					{ title: "[[#{wm.wmi11.schnqty}]]", width: 100, dataType: "integer", dataIndx: "schnqty" , format: '###,###,###' , 
						summary: { type: "sum" },
			         	styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
						validations : [{ type: 'gte', value: 0 }, { type: 'lte', value: 1000000000, msg: "[[#{ms.validations.maxLenLength(9)}]]" }]
					},
					{ title: "[[#{wm.wtakit.parsncd}]]", width: 100, dataType: "string", dataIndx: "rsncode" ,
						styleHead: { 'background-color':'[[#{grid.styleHead01}]]' },
						editor: {
		   	                type: "select",
		   	                init: function (ui) {
		   	                	ui.$cell.find("select").pqSelect({ 
		   		                	search:true, 
		   		                	singlePlaceholder: '',
		   		                	width: 200,
		   		                	searchId:"wmi11_rsncode"
		   		                });
		   	                	setTimeout(function () {
		   		                	ui.$cell.find("select").pqSelect('open'); 
		   		                } , 250);
		   	                },
		                       options: [],
		                       prepend : {'' : ''}
		   	            },
		   	         	editable: function (ui) {
				                 return editable = (ui.rowData.sbloqty > 0) ? false : true;
				        },
		   	            render: function (ui) {
		   	            	 let option = ui.column.editor.options.find(function (obj) {
								 return (obj[ui.cellData] != null);
			                 });
			                	return option ? option[ui.cellData] : "";
		                },
					},
					{ title: "[[#{wm.wtakit.parsnnm}]]", width: 100, dataType: "string", dataIndx: "adjsrmk" ,
						styleHead: { 'background-color':'[[#{grid.styleHead02}]]' },
						editable: function (ui) {
			                   return editable = (ui.rowData.sbloqty > 0) ? false : true;
				          },
				         validations : [
				        	 { type: 'minLen', value: 0 }, { type: 'maxLen', value: 100, msg: "[[#{ms.validations.maxLenLength(3)}]]" }
				         ] 
					},
					{ title: "[[#{wm.wstkky.vendkey}]]", width: 100, dataType: "string", dataIndx: "vendkey" , hidden:true , editable: false },
					{ title: "[[#{wm.wstkky.sallqty}]]", width: 100, dataType: "integer", dataIndx: "sallqty" , format: '###,###,###' , editable: false , 
						summary: { type: "sum" },
					},
					{ title: "[[#{wm.wstkky.sinbqty}]]", width: 100, dataType: "integer", dataIndx: "sinbqty" , format: '###,###,###' , editable: false , 
						summary: { type: "sum" },
					},
					{ title: "[[#{wm.wstkky.soubqty}]]", width: 100, dataType: "integer", dataIndx: "soubqty" , format: '###,###,###' , editable: false , 
						summary: { type: "sum" },
					},
					{ title: "[[#{wm.wstkky.suomkey}]]", width: 100, dataType: "string", dataIndx: "suomkey" , editable: false },
					{ title: "[[#{wm.wstkky.proddat}]]", width: 100, dataType: "string", dataIndx: "proddat" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.shelife}]]", width: 100, dataType: "integer", dataIndx: "shelife" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.expidat}]]", width: 100, dataType: "string", dataIndx: "expidat" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.rcvdcdt}]]", width: 100, dataType: "string", dataIndx: "rcvdcdt" , editable: false },
					{ title: "[[#{wm.wstkky.rcvfrdt}]]", width: 100, dataType: "string", dataIndx: "rcvfrdt" , editable: false },
					{ title: "[[#{wm.wstkky.lotfrky}]]", width: 100, dataType: "string", dataIndx: "lotfrky" , editable: false },
					{ title: "[[#{wm.wstkky.lotat01}]]", width: 100, dataType: "string", dataIndx: "lotat01" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotat02}]]", width: 100, dataType: "string", dataIndx: "lotat02" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotat03}]]", width: 100, dataType: "string", dataIndx: "lotat03" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotat04}]]", width: 100, dataType: "string", dataIndx: "lotat04" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotat05}]]", width: 100, dataType: "string", dataIndx: "lotat05" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotat06}]]", width: 100, dataType: "string", dataIndx: "lotat06" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotat07}]]", width: 100, dataType: "string", dataIndx: "lotat07" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotat08}]]", width: 100, dataType: "string", dataIndx: "lotat08" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotat09}]]", width: 100, dataType: "string", dataIndx: "lotat09" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotat10}]]", width: 100, dataType: "string", dataIndx: "lotat10" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotat11}]]", width: 100, dataType: "string", dataIndx: "lotat11" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotat12}]]", width: 100, dataType: "string", dataIndx: "lotat12" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotat13}]]", width: 100, dataType: "string", dataIndx: "lotat13" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotat14}]]", width: 100, dataType: "string", dataIndx: "lotat14" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotat15}]]", width: 100, dataType: "string", dataIndx: "lotat15" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotat16}]]", width: 100, dataType: "string", dataIndx: "lotat16" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotat17}]]", width: 100, dataType: "string", dataIndx: "lotat17" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotat18}]]", width: 100, dataType: "string", dataIndx: "lotat18" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotat19}]]", width: 100, dataType: "string", dataIndx: "lotat19" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.lotat20}]]", width: 100, dataType: "string", dataIndx: "lotat20" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.stkstat}]]", width: 100, dataType: "string", dataIndx: "stkstat" , editable: false ,
						editor: {
		   	                type: "text",
		   	                init: function (ui) {
		   	                	ui.$cell.find("text").pqSelect({ 
		   		                	search:true, 
		   		                	singlePlaceholder: '',
		   		                	width: 200,
		   		                	searchId:"wmi11_stkstat"
		   		                }).pqSelect('open');
		   	                },
		                       options: []
		   	            }
					 , render : function(ui){
						 let option = ui.column.editor.options.find(function (obj) {
							 return (obj[ui.cellData] != null);
		                 });
		                	return option ? option[ui.cellData] : "";
					   } 
					},
					{ title: "[[#{wm.wstkky.blockid}]]", width: 100, dataType: "string", dataIndx: "blockid" , editable: false },
					{ title: "[[#{wm.wstkky.physrow}]]", width: 100, dataType: "string", dataIndx: "physrow" , editable: false },
					{ title: "[[#{wm.wstkky.physsec}]]", width: 100, dataType: "string", dataIndx: "physsec" , editable: false },
					{ title: "[[#{wm.wstkky.physflo}]]", width: 100, dataType: "string", dataIndx: "physflo" , editable: false },
					{ title: "[[#{wm.wstkky.rcvdcky}]]", width: 100, dataType: "string", dataIndx: "rcvdcky" , editable: false },
					{ title: "[[#{wm.wstkky.rcvdcit}]]", width: 100, dataType: "string", dataIndx: "rcvdcit" , editable: false },
					{ title: "[[#{wm.wstkky.taskoky}]]", width: 100, dataType: "string", dataIndx: "taskoky" , editable: false },
					{ title: "[[#{wm.wstkky.taskoit}]]", width: 100, dataType: "string", dataIndx: "taskoit" , editable: false },
					{ title: "[[#{wm.wstkky.shpdcky}]]", width: 100, dataType: "string", dataIndx: "shpdcky" , editable: false },
					{ title: "[[#{wm.wstkky.shpdcit}]]", width: 100, dataType: "string", dataIndx: "shpdcit" , editable: false },
					{ title: "[[#{wm.wstkky.physoky}]]", width: 100, dataType: "string", dataIndx: "physoky" , editable: false },
					{ title: "[[#{wm.wstkky.physoit}]]", width: 100, dataType: "string", dataIndx: "physoit" , editable: false },
					{ title: "[[#{wm.wstkky.storfky}]]", width: 100, dataType: "string", dataIndx: "storfky" , editable: false },
					{ title: "[[#{wm.wstkky.credate}]]", width: 100, dataType: "string", dataIndx: "credate" , editable: false },
					{ title: "[[#{wm.wstkky.cretime}]]", width: 100, dataType: "string", dataIndx: "cretime" , editable: false },
					{ title: "[[#{wm.wstkky.creuser}]]", width: 100, dataType: "string", dataIndx: "creuser" , editable: false },
					{ title: "[[#{wm.wstkky.lmodate}]]", width: 100, dataType: "string", dataIndx: "lmodate" , editable: false },
					{ title: "[[#{wm.wstkky.lmotime}]]", width: 100, dataType: "string", dataIndx: "lmotime" , editable: false },
					{ title: "[[#{wm.wstkky.lmouser}]]", width: 100, dataType: "string", dataIndx: "lmouser" , editable: false },
					{ title: "[[#{wm.wstkky.indibzl}]]", width: 100, dataType: "string", dataIndx: "indibzl" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.indiarc}]]", width: 100, dataType: "string", dataIndx: "indiarc" , hidden: true , editable: false },
					{ title: "[[#{wm.wstkky.updtchk}]]", width: 100, dataType: "integer", dataIndx: "updtchk" , hidden: true , editable: false },
				];
				
				wmi11_gul = new GridUtil(wmi11_colModel , '[[${gprogrid}]]' , 'wmi11_grid');
		        
		        wmi11_gul.setFind();
		        wmi11_gul.setReset();
		        
				wmi11_gul.setCellDblClick(function(evt, ui){
					if(ui.rowData.sbloqty){
		     	  		alert('[[#{wm.wmi11.checkSbloqty}]]');
		     	  		return false;
		     	  	}
				});
				
				 wmi11_gul.setCreate(function(evt, ui){
					this.widget().pqTooltip();
					Combo('wmi11_grid', 'warekey', '', '/md/common/organization/warehouse-user'); //창고
					Combo('wmi11_grid', 'rsncode', { doccate : '600' , doctype : '610' }, '/md/common/code/reason-code'); //사유코드
					Combo('wmi11_grid', 'stkstat',  {comcdky : 'STKSTAT'}, '/md/common/code/common-code'); //재고상태
				});
				 
				 
				 wmi11_gul.setChange(function(evt, ui){
					if (ui.source == 'edit' || ui.source == 'paste'){
						let updateRows = ui.updateList;
						updateRows.forEach((obj) => {
							let newRow = obj.newRow;
							let updateRow = obj.rowData;
							if(newRow.hasOwnProperty('schnqty')){
								this.updateRow({
									rowIndx : updateRow.pq_ri ,
									newRow : {
										state : 'Y'
									}
								});
							}
						});
					 }
				});
				 
				wmi11_gul.setRowInit(function(ui){
		        	 if(ui.rowData.sbloqty){
		        		 return { 
		                     style: { 'background': '#e4e4eb'},
		                 };
		        	 }
		        });

				wmi11_gul.setBeforeCheck(function(evt, ui){
			        return ui.check = ui.rowData.sbloqty > 0 ? false :true;
			    });
		        
			wmi11_gul.open();
		});
		
		
		//============================================================
		//검색 조건 이벤트
		//============================================================
		function wmi11Init() {
			const list = callAjax('data', 'GET' , '/wm/inventory/wmi11/init', {});
			const wmi11Item = list.item;
			const item1 = $('#wmi11_ownerky') //화주
			const item2 = $('#wmi11_warekey') //창고
			const item3 = $('#wmi11_stkstat') //재고상태
			//화주 ( item1 )
			$(wmi11Item.ownerkyList).each(function(i) {
				item1.append('<option value="' + wmi11Item.ownerkyList[i].combovl + '">' + wmi11Item.ownerkyList[i].combonm + '</option>');
			});
			
			item1.pqSelect({
				deselect: false
			});
			
			//창고 ( item2 )
			$(wmi11Item.warekeyList).each(function(i) {
				item2.append('<option value="' + wmi11Item.warekeyList[i].combovl + '">' + wmi11Item.warekeyList[i].combonm + '</option>');
			});
			
			//재고상태 ( item3 )
			$(wmi11Item.wstkkyList).each(function(i) {
				item3.append('<option value="' + wmi11Item.wstkkyList[i].combovl + '">' + wmi11Item.wstkkyList[i].combonm + '</option>');
			});
		}
		
		//============================================================
		//검색 Call back
		//============================================================	
		function setWmi11WstkkyCallback(data){
			if(data === null){
				alert('[[#{ms.getDataZero}]]');
				$('#wmi11_grid').pqGrid({ dataModel : { data : [] , recIndx: 'rowkey' } });
				$('#wmi11_grid').pqGrid('refreshDataAndView');
				return;
			}else{
				$('#wmi11_grid').pqGrid({ dataModel : { data : data , recIndx : 'rowkey' } });
				$('#wmi11_grid').pqGrid('refreshDataAndView');
			}
		}
		
		//============================================================
		// 재고 search
		//============================================================	
		function wmi11SearchList(){
			const grid = pq.grid('#wmi11_grid');
			grid.showLoading();
			let data = { 'ownerky' : $('#wmi11_ownerky option:selected').val() , 'warekey' : $('#wmi11_warekey option:selected').val() , 
						 'locakey' : $('#wmi11_locakey').val().toUpperCase() , 'skumkey' : $('#wmi11_skumkey').val().toUpperCase() , 
						 'skudesc' : $('#wmi11_skudesc').val().toUpperCase() , 'stkstat' : $('#wmi11_stkstat option:selected').val() ,
						 'zeroqty' : $('#wmi11_stotqty')[0].checked };
			let aul = new AjaxUtil_Order('/wm/inventory/wmi11/grids/1' , data , 'GET');
			aul.setCallbackSuccess(setWmi11WstkkyCallback);
			aul.setComplete(function(data){
				grid.hideLoading();
			});
			aul.send();
		}
		
		//============================================================
		//재고 수량 변경 Call back
		//============================================================	
		function setWmi11WadjitCallback(data){
			if(data){
// 				alert('[[#{ms.saveSuccess}]]');
			}else{
				alert('[[#{ms.saveErr}]]');
			}
			wmi11SearchList();
		}
		</script>
	</div>
</html>